openapi: 3.2.0
info:
  title: Payment Initiation - UK OB Domestic Scheduled Payments API
  description: Initiate domestic and international payments securely.
  version: 4.0.0
servers:
- description: prod Environment
  url: https://obp-api.danskebank.com/open-banking/v4.0/pisp
tags:
- name: Domestic Scheduled Payments
paths:
  /domestic-scheduled-payment-consents:
    post:
      tags:
      - Domestic Scheduled Payments
      summary: Create Domestic Scheduled Payment Consents
      operationId: CreateDomesticScheduledPaymentConsents
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/x-fapi-auth-date'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address'
      - $ref: '#/components/parameters/x-fapi-interaction-id'
      - $ref: '#/components/parameters/x-idempotency-key'
      - $ref: '#/components/parameters/x-jws-signature'
      - $ref: '#/components/parameters/x-customer-user-agent'
      requestBody:
        $ref: '#/components/requestBodies/OBWriteDomesticScheduledConsent4Param'
      responses:
        '201':
          $ref: '#/components/responses/201DomesticScheduledPaymentConsentsCreated'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '409':
          $ref: '#/components/responses/409Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
        '503':
          $ref: '#/components/responses/503Error'
  /domestic-scheduled-payment-consents/{ConsentId}:
    get:
      tags:
      - Domestic Scheduled Payments
      summary: Get Domestic Scheduled Payment Consents
      operationId: GetDomesticScheduledPaymentConsentsConsentId
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/ConsentId'
      - $ref: '#/components/parameters/x-fapi-auth-date'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address'
      - $ref: '#/components/parameters/x-fapi-interaction-id'
      - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200DomesticScheduledPaymentConsentsConsentIdRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
        '503':
          $ref: '#/components/responses/503Error'
  /domestic-scheduled-payments:
    post:
      tags:
      - Domestic Scheduled Payments
      summary: Create Domestic Scheduled Payments
      operationId: CreateDomesticScheduledPayments
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/x-fapi-auth-date'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address'
      - $ref: '#/components/parameters/x-fapi-interaction-id'
      - $ref: '#/components/parameters/x-idempotency-key'
      - $ref: '#/components/parameters/x-jws-signature'
      - $ref: '#/components/parameters/x-customer-user-agent'
      requestBody:
        $ref: '#/components/requestBodies/OBWriteDomesticScheduled2Param'
      responses:
        '201':
          $ref: '#/components/responses/201DomesticScheduledPaymentsCreated'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '409':
          $ref: '#/components/responses/409Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
        '503':
          $ref: '#/components/responses/503Error'
  /domestic-scheduled-payments/{DomesticScheduledPaymentId}:
    get:
      tags:
      - Domestic Scheduled Payments
      summary: Get Domestic Scheduled Payments
      operationId: GetDomesticScheduledPaymentsDomesticScheduledPaymentId
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/DomesticScheduledPaymentId'
      - $ref: '#/components/parameters/x-fapi-auth-date'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address'
      - $ref: '#/components/parameters/x-fapi-interaction-id'
      - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200DomesticScheduledPaymentsDomesticScheduledPaymentIdRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
        '503':
          $ref: '#/components/responses/503Error'
components:
  schemas:
    OBRemittanceInformation2:
      type: object
      description: 'Information supplied to enable the matching of an entry with the items that the transfer is intended to settle, such as commercial invoices in an accounts'' receivable system. Danske Bank: Note, Remittance information is not supported in File payments.'
      properties:
        Structured:
          type: array
          maxItems: 1
          description: 'Danske Bank: Only one item is supported by Danske Bank.'
          items:
            $ref: '#/components/schemas/OBRemittanceInformationStructured'
        Unstructured:
          type: array
          maxItems: 1
          description: Information supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form. When using UK.OBIE.CHAPS as LocalInstrument, only 18 characters are allowed for transfers within Danske Bank and 70 characters for transfers outside Danske. Only one item is supported by Danske Bank. Not supported in Standing Orders.
          items:
            type: string
            maxLength: 140
            minLength: 1
    OBActiveOrHistoricCurrencyAndAmount:
      description: Amount of money associated with the charge type.
      type: object
      additionalProperties: false
      required:
      - Amount
      - Currency
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
    OBInternalAccountIdentification45Code:
      description: 'Name of the identification scheme, in a coded form as published in an external list. Value is accepted but ignored.

        '
      type: string
      minLength: 1
      maxLength: 40
    OBSupplementaryDataDomesticPayments1:
      description: Additional information that can not be captured in the structured fields and/or any other specific block.
      type: object
      additionalProperties: false
      properties:
        DebtorEntryText:
          description: Account statement text on debiting account. For Private customers 70 characters are available, for Business customers 20 characters.
          type: string
          minLength: 1
          maxLength: 70
    CountryCode:
      description: Nation with its own government.
      type: string
      pattern: ^[A-Z]{2,2}$
    Meta:
      title: MetaData
      description: Meta Data relevant to the payload
      type: object
      additionalProperties: false
      properties:
        TotalPages:
          type: integer
          format: int32
        FirstAvailableDateTime:
          $ref: '#/components/schemas/ISODateTime'
        LastAvailableDateTime:
          $ref: '#/components/schemas/ISODateTime'
    Identification_4:
      description: Identification of the party to whom an invoice is issued, when it is different from the debtor or ultimate debtor.
      type: string
      example: '80200112344562'
      minLength: 1
      maxLength: 256
    ExternalPurpose1Code:
      type: string
      minLength: 1
      maxLength: 4
      description: "This is a partial list, For a full list see `ExternalPurpose1Code`[here](https://github.com/OpenBankingUK/External_Internal_CodeSets)  \nDanske Bank: mandatory for UK.OBIE.CHAPS payments."
      enum:
      - BKDF
      - BKFE
      - BKFM
      - BKIP
      - BKPP
      - CBLK
      - CDCB
      - CDCD
      - CDCS
      - CDDP
      - CDOC
      - CDQC
      - ETUP
      - FCOL
      - MTUP
      - ACCT
      - CASH
      - COLL
      - CSDB
      - DEPT
      - INTC
      - INTP
      - LIMA
      - NETT
      - BFWD
      - CCIR
      - CCPC
      - CCPM
      - CCSM
      - CRDS
      - CRPR
      - CRSP
      - CRTL
      - EQPT
      - EQUS
      - EXPT
      - EXTD
      - FIXI
      - FWBC
      - FWCC
      - FWSB
      - FWSC
      - MARG
      - MBSB
      - MBSC
      - MGCC
      - MGSC
      - OCCC
      - OPBC
      - OPCC
      - OPSB
      - OPSC
      - OPTN
      - OTCD
      - REPO
      - RPBC
      - RPCC
      - RPSB
      - RPSC
      - RVPO
      - SBSC
      - SCIE
      - SCIR
      - SCRP
      - SHBC
      - SHCC
      - SHSL
      - SLEB
      - SLOA
      - SWBC
      - SWCC
      - SWPT
      - SWSB
      - SWSC
      - TBAS
      - TBBC
      - TBCC
      - TRCP
      - AGRT
      - AREN
      - BEXP
      - BOCE
      - COMC
      - CPYR
      - GDDS
      - GDSV
      - GSCB
      - LICF
      - MP2B
      - POPE
      - ROYA
      - SCVE
      - SERV
      - SUBS
      - SUPP
      - TRAD
      - CHAR
      - COMT
      - MP2P
      - ECPG
      - ECPR
      - ECPU
      - EPAY
      - CLPR
      - COMP
      - DBTC
      - GOVI
      - HLRP
      - HLST
      - INPC
      - INPR
      - INSC
      - INSU
      - INTE
      - LBRI
      - LIFI
      - LOAN
      - LOAR
      - PENO
      - PPTI
      - RELG
      - RINP
      - TRFD
      - FORW
      - FXNT
      - ADMG
      - ADVA
      - BCDM
      - BCFG
      - BLDM
      - BNET
      - CBFF
      - CBFR
      - CCRD
      - CDBL
      - CFEE
      - CGDD
      - CORT
      - COST
      - CPKC
      - DCRD
      - DSMT
      - DVPM
      - EDUC
      - FACT
      - FAND
      - FCPM
      - FEES
      - GIFT
      - GOVT
      - ICCP
      - IDCP
      - IHRP
      - INSM
      - IVPT
      - MCDM
      - MCFG
      - MSVC
      - NOWS
      - OCDM
      - OCFG
      - OFEE
      - OTHR
      - PADD
      - PTSP
      - RCKE
      - RCPT
      - REBT
      - REFU
      - RENT
      - REOD
      - RIMB
      - RPNT
      - RRBN
      - RRCT
      - RRTP
      - RVPM
      - SLPI
      - SPLT
      - STDY
      - TBAN
      - TBIL
      - TCSC
      - TELI
      - TMPG
      - TPRI
      - TPRP
      - TRNC
      - TRVC
      - WEBI
      - IPAY
      - IPCA
      - IPDO
      - IPEA
      - IPEC
      - IPEW
      - IPPS
      - IPRT
      - IPU2
      - IPUW
      - ANNI
      - CAFI
      - CFDI
      - CMDT
      - DERI
      - DIVD
      - FREX
      - HEDG
      - INVS
      - PRME
      - SAVG
      - SECU
      - SEPI
      - TREA
      - UNIT
      - FNET
      - FUTR
      - ANTS
      - CVCF
      - DMEQ
      - DNTS
      - HLTC
      - HLTI
      - HSPC
      - ICRF
      - LTCF
      - MAFC
      - MARF
      - MDCS
      - VIEW
      - CDEP
      - SWFP
      - SWPP
      - SWRS
      - SWUF
      - ADCS
      - AEMP
      - ALLW
      - ALMY
      - BBSC
      - BECH
      - BENE
      - BONU
      - CCHD
      - COMM
      - CSLP
      - GFRP
      - GVEA
      - GVEB
      - GVEC
      - GVED
      - GWLT
      - HREC
      - PAYR
      - PEFC
      - PENS
      - PRCP
      - RHBS
      - SALA
      - SPSP
      - SSBE
      - LBIN
      - LCOL
      - LFEE
      - LMEQ
      - LMFI
      - LMRK
      - LREB
      - LREV
      - LSFL
      - ESTX
      - FWLV
      - GSTX
      - HSTX
      - INTX
      - NITX
      - PTXP
      - RDTX
      - TAXS
      - VATX
      - WHLD
      - TAXR
      - B112
      - BR12
      - TLRF
      - TLRR
      - AIRB
      - BUSB
      - FERB
      - RLWY
      - TRPT
      - CBTV
      - ELEC
      - ENRG
      - GASB
      - NWCH
      - NWCM
      - OTLC
      - PHON
      - UBIL
      - WTER
      - BOND
      - CABD
      - CAEQ
      - CBCR
      - DBCR
      - DICL
      - EQTS
      - FLCR
      - EFTC
      - EFTD
      - MOMA
      - RAPI
      - GAMB
      - LOTT
      - AMEX
      - SASW
      - AUCO
      - PCOM
      - PDEP
      - PLDS
      - PLRF
      - GAFA
      - GAHO
      - CPEN
      - DEPD
      - RETL
      - DEBT
    CountrySubDivision:
      description: Identifies a subdivision of a country such as state, region, country.
      type: string
      minLength: 1
      maxLength: 35
    OBActiveCurrencyAndAmount_SimpleType:
      description: A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
      type: string
      pattern: ^\d{1,13}$|^\d{1,13}\.\d{1,5}$
    OBInternalAccountIdentification43Code:
      description: 'Name of the identification scheme, in a coded form as published in an external list. Danske Bank supports only UK.OBIE.SortCodeAccountNumber.

        '
      type: string
      x-namespaced-enum:
      - UK.OBIE.SortCodeAccountNumber
    OBWriteDomesticScheduledConsentResponse5:
      type: object
      additionalProperties: false
      required:
      - Data
      - Risk
      properties:
        Data:
          type: object
          additionalProperties: false
          required:
          - ConsentId
          - CreationDateTime
          - Status
          - StatusUpdateDateTime
          - Permission
          - Initiation
          properties:
            ConsentId:
              description: 'OB: Unique identification as assigned by the ASPSP to uniquely identify the consent resource.'
              type: string
              minLength: 1
              maxLength: 128
            CreationDateTime:
              description: 'Date and time at which the resource was created. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
              type: string
              format: date-time
            Status:
              description: 'Specifies the status of consent resource in code form. For a full list of values see `OBInternalConsentStatus1Code` in *ISO_External_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets) Danske Bank: Please note that Payment consents with status AWAU (AwaitingAuthorisation) will expire after aprx. 24 hours from consent creation time. Payment consents with status AUTH (Authorised) will expire after apprx. 15 minutes from consent authorization but must be within 24 hours from consent creation. Status will not be updated for expired consents.'
              type: string
              enum:
              - AUTH
              - AWAU
              - COND
              - RJCT
            StatusUpdateDateTime:
              description: 'Date and time at which the consent resource status was updated. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
              type: string
              format: date-time
            StatusReason:
              type: array
              items:
                $ref: '#/components/schemas/OBStatusReason'
            Permission:
              description: Specifies the Open Banking service request types. For a full list of values see `OBInternalPermissions2Code` in *OB_Internal_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
              type: string
              enum:
              - Create
            ReadRefundAccount:
              description: Specifies to share the refund account details with PISP. For a full list of values see `OBInternalReadRefundAccount1Code` in *OB_Internal_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
              type: string
              enum:
              - 'No'
              - 'Yes'
            CutOffDateTime:
              description: 'Specified cut-off date and time for the payment consent. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
              type: string
              format: date-time
            ExpectedExecutionDateTime:
              description: 'Expected execution date and time for the payment resource. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
              type: string
              format: date-time
            ExpectedSettlementDateTime:
              description: 'Expected settlement date and time for the payment resource. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
              type: string
              format: date-time
            Charges:
              type: array
              items:
                type: object
                additionalProperties: false
                description: Set of elements used to provide details of a charge for the payment initiation.
                required:
                - ChargeBearer
                - Type
                - Amount
                properties:
                  ChargeBearer:
                    $ref: '#/components/schemas/OBInternalChargeBearerType1Code'
                  Type:
                    $ref: '#/components/schemas/OBInternalPaymentChargeType1Code'
                  Amount:
                    $ref: '#/components/schemas/OBActiveOrHistoricCurrencyAndAmount'
            Initiation:
              description: The Initiation payload is sent by the initiating party to the ASPSP. It is used to request movement of funds from the debtor account to a creditor for a single scheduled domestic payment.
              type: object
              additionalProperties: false
              required:
              - InstructionIdentification
              - RequestedExecutionDateTime
              - InstructedAmount
              - CreditorAccount
              properties:
                InstructionIdentification:
                  description: 'Unique identification as assigned by an instructing party for an instructed party to unambiguously identify the instruction. Usage: the instruction identification is a point to point reference that can be used between the instructing party and the instructed party to refer to the individual instruction. It can be included in several messages related to the instruction.'
                  type: string
                  minLength: 1
                  maxLength: 35
                EndToEndIdentification:
                  description: 'Unique identification assigned by the initiating party to unambiguously identify the transaction. This identification is passed on, unchanged, throughout the entire end-to-end chain. Usage: The end-to-end identification can be used for reconciliation or to link tasks relating to the transaction. It can be included in several messages related to the transaction. OB: The Faster Payments Scheme can only access 31 characters for the EndToEndIdentification field.'
                  type: string
                  minLength: 1
                  maxLength: 35
                LocalInstrument:
                  $ref: '#/components/schemas/OBInternalLocalInstrument13Code'
                RequestedExecutionDateTime:
                  description: 'Date at which the initiating party requests the clearing agent to process the payment. Usage: This is the date on which the debtor''s account is to be debited. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00 Danske Bank: a) Transaction date can be maximum 365 days ahead from current date b) Transaction date must be later than today''s date'
                  type: string
                  format: date-time
                InstructedAmount:
                  description: 'Amount of money to be moved between the debtor and creditor, before deduction of charges, expressed in the currency as ordered by the initiating party. Usage: This amount has to be transported unchanged through the transaction chain.'
                  type: object
                  additionalProperties: false
                  required:
                  - Amount
                  - Currency
                  properties:
                    Amount:
                      $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
                    Currency:
                      $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
                DebtorAccount:
                  description: Unambiguous identification of the account of the debtor to which a debit entry will be made as a result of the transaction.
                  type: object
                  additionalProperties: false
                  required:
                  - SchemeName
                  - Identification
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBInternalAccountIdentification43Code'
                    Identification:
                      $ref: '#/components/schemas/Identification_0'
                    Name:
                      description: The account name is the name or names of the account owner(s) represented at an account level, as displayed by the ASPSP's online channels. Note, the account name is not the product name or the nickname of the account.
                      type: string
                      minLength: 1
                      maxLength: 350
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                    Proxy:
                      $ref: '#/components/schemas/OBProxy1'
                CreditorAccount:
                  description: Unambiguous identification of the account of the creditor to which a credit entry will be posted as a result of the payment transaction.
                  type: object
                  additionalProperties: false
                  required:
                  - SchemeName
                  - Identification
                  - Name
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBInternalAccountIdentification43Code'
                    Identification:
                      $ref: '#/components/schemas/Identification_0'
                    Name:
                      description: 'The account name is the name or names of the account owner(s) represented at an account level. Note, the account name is not the product name or the nickname of the account. OB: ASPSPs may carry out name validation for Confirmation of Payee, but it is not mandatory.'
                      type: string
                      minLength: 1
                      maxLength: 350
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                    Proxy:
                      $ref: '#/components/schemas/OBProxy1'
                CreditorPostalAddress:
                  $ref: '#/components/schemas/OBPostalAddress7'
                UltimateCreditor:
                  $ref: '#/components/schemas/OBUltimateCreditor1'
                UltimateDebtor:
                  $ref: '#/components/schemas/OBUltimateDebtor1'
                RegulatoryReporting:
                  type: array
                  items:
                    $ref: '#/components/schemas/OBRegulatoryReporting1'
                  maxItems: 10
                RemittanceInformation:
                  $ref: '#/components/schemas/OBRemittanceInformation2'
                SupplementaryData:
                  $ref: '#/components/schemas/OBSupplementaryDataDomesticPayments1'
            Authorisation:
              description: The authorisation type request from the TPP.
              type: object
              additionalProperties: false
              required:
              - AuthorisationType
              properties:
                AuthorisationType:
                  description: 'Type of authorisation flow requested. For a full list of values refer to `OBInternalAuthorisation1Code` in *OB_Internal_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets) Danske Bank: If you request ‘Single’ and the PSU does not have the authority to make a payment without needing another person to approve it, the payment will be rejected.'
                  type: string
                  enum:
                  - Any
                  - Single
                CompletionDateTime:
                  description: 'Date and time at which the requested authorisation flow must be completed. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00 Warning: Danske Bank does not support this functionality. Payments which require further authorisation must be fully authorised in our online channel by midnight of the due date or the payment will be rejected.'
                  type: string
                  format: date-time
        Risk:
          $ref: '#/components/schemas/OBRisk1'
        Links:
          $ref: '#/components/schemas/Links'
        Meta:
          $ref: '#/components/schemas/Meta'
    UnitNumber:
      description: Number that identifies the unit of a specific address .
      type: string
      minLength: 1
      maxLength: 16
    OBInternalLocalInstrument13Code:
      description: User community specific instrument.  Only UK.OBIE.CHAPS and UK.OBIE.FPS are accepted. If local instrument is not provided, payment will be submitted as FPS. UK.OBIE.CHAPS is available for Business customers only.
      type: string
      x-namespaced-enum:
      - UK.OBIE.CHAPS
      - UK.OBIE.FPS
    SubDepartment:
      description: Identification of a sub-division of a large organisation or building.
      type: string
      minLength: 1
      maxLength: 70
    Identification_3:
      description: Identification of the organisation issuing the invoice, when it is different from the creditor or ultimate creditor
      type: string
      example: '80200112344562'
      minLength: 1
      maxLength: 256
    OBRegulatoryReporting1:
      type: object
      description: Information needed due to regulatory and statutory requirements
      properties:
        DebitCreditReportingIndicator:
          type: string
          description: Identifies whether the regulatory reporting information applies to the debit side, to the credit side or to both debit and credit sides of the transaction.  For a full list of values reefer to `OBExternalRegulatoryReportingType1Code` in *OB_Internal_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
          enum:
          - CRED
          - DEBT
          - BOTH
        Authority:
          $ref: '#/components/schemas/OBRegulatoryAuthority2'
        Details:
          type: array
          items:
            $ref: '#/components/schemas/OBStructuredRegulatoryReporting3'
    ISODateTime:
      description: 'All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
      type: string
      format: date-time
    DistrictName:
      description: Number that of the regional area, known as a district, which forms part of an address
      type: string
      minLength: 1
      maxLength: 140
    OBUltimateCreditor1:
      description: 'Ultimate party to which an amount of money is due. Danske Bank: Object is accepted but ignored.'
      type: object
      properties:
        Name:
          description: Name by which a party is known and which is usually used to identify that party.
          type: string
          minLength: 1
          maxLength: 140
        Identification:
          description: Identification assigned by an institution.
          type: string
          minLength: 1
          maxLength: 256
        LEI:
          $ref: '#/components/schemas/LEI'
        SchemeName:
          $ref: '#/components/schemas/OBInternalAccountIdentification45Code'
        PostalAddress:
          $ref: '#/components/schemas/OBPostalAddress7'
    PostBox:
      description: Information that locates and identifies a box in a post office assigned to a person or organization, where letters for them are kept until called for.
      type: string
      minLength: 1
      maxLength: 16
    OBInternalPaymentChargeType1Code:
      description: Charge type, in a coded form. For a full list of values refer to `OBInternalPaymentChargeType1Code` in *OB_Internal_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      type: string
      x-namespaced-enum:
      - UK.OBIE.CHAPSOut
      - UK.OBIE.BalanceTransferOut
      - UK.OBIE.MoneyTransferOut
    ExternalCreditorReferenceType1Code:
      type: string
      minLength: 1
      maxLength: 4
      description: Specifies the type of creditor reference as published in an external creditor reference type code set. For more information see `ExternalCreditorReferenceType1Code` in *ISO_External_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      enum:
      - DISP
      - FXDR
      - PUOR
      - RPIN
      - RADM
      - SCOR
    Links:
      description: Links relevant to the payload
      type: object
      additionalProperties: false
      required:
      - Self
      properties:
        Self:
          type: string
          format: uri
        First:
          type: string
          format: uri
        Prev:
          type: string
          format: uri
        Next:
          type: string
          format: uri
        Last:
          type: string
          format: uri
    OBError1:
      type: object
      minProperties: 1
      additionalProperties: false
      required:
      - ErrorCode
      properties:
        ErrorCode:
          $ref: '#/components/schemas/OBInternalErrorResponseError1Code'
        Message:
          description: A description of the error that occurred. e.g., 'A mandatory field isn't supplied' or 'RequestedExecutionDateTime must be in future' OBL doesn't standardise this field
          type: string
          minLength: 1
          maxLength: 500
        Path:
          description: Recommended but optional reference to the JSON Path of the field with error, e.g., Data.Initiation.InstructedAmount.Currency
          type: string
          minLength: 1
          maxLength: 500
        Url:
          description: URL to help remediate the problem, or provide more information, or to API Reference, or help etc
          type: string
    OBInternalChargeBearerType1Code:
      description: Specifies which party/parties will bear the charges associated with the processing of the payment transaction. For a full list of values refer to `OBInternalChargeBearerType1Code` in *OB_Internal_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      type: string
      enum:
      - BorneByCreditor
      - BorneByDebtor
      - FollowingServiceLevel
      - Shared
    OBSCASupportData1:
      type: object
      additionalProperties: false
      description: 'Supporting Data provided by TPP, when requesting SCA Exemption.         Danske Bank: object and its properties are not supported.'
      properties:
        RequestedSCAExemptionType:
          type: string
          description: This field allows a PISP to request specific SCA Exemption for a Payment Initiation. For a full list of values reefer to `OBInternalSCAExemptionType1Code` in *OB_Internal_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
          enum:
          - BillPayment
          - ContactlessTravel
          - EcommerceGoods
          - EcommerceServices
          - Kiosk
          - Parking
          - PartyToParty
        AppliedAuthenticationApproach:
          type: string
          maxLength: 40
          description: 'Specifies a character string with a maximum length of 40 characters. Usage: This field indicates whether the PSU was subject to SCA performed by the TPP For a full list of values refer to `OBInternalAppliedAuthenticationApproach1Code` in *OB_Internal_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)'
          enum:
          - CA
          - SCA
        ReferencePaymentOrderId:
          type: string
          maxLength: 40
          minLength: 1
          description: If the payment is recurring, then this field is populated with the transaction identifier of the previous payment occurrence so that the ASPSP can verify that the PISP, amount and the payee are the same as the previous occurrence. The value here refers to the payment id e.g. DomesticPaymentId
    OBProxy1:
      description: Specifies an alternate assumed name for the identification of the account.
      type: object
      required:
      - Identification
      - Code
      properties:
        Identification:
          description: Identification used to indicate the account identification under another specified name.
          type: string
          minLength: 1
          maxLength: 2048
        Code:
          $ref: '#/components/schemas/ExternalProxyAccountType1Code'
        Type:
          type: string
          description: Type of the proxy identification.
          minLength: 1
          maxLength: 35
    StreetName:
      description: Name of a street or thoroughfare.
      type: string
      minLength: 1
      maxLength: 140
    OBRisk1:
      description: 'The Risk section is sent by the initiating party to the ASPSP.

        It is used to specify additional details for risk scoring for Payments.'
      type: object
      additionalProperties: false
      properties:
        PaymentContextCode:
          description: 'Specifies the payment context, `OBInternalPaymentContext1Code`

            '
          type: string
          enum:
          - BillingGoodsAndServicesInAdvance
          - BillingGoodsAndServicesInArrears
          - EcommerceMerchantInitiatedPayment
          - FaceToFacePointOfSale
          - TransferToSelf
          - TransferToThirdParty
        MerchantCategoryCode:
          description: Category code conform to ISO 18245, related to the type of services or goods the merchant provides for the transaction.
          type: string
          minLength: 3
          maxLength: 4
        MerchantCustomerIdentification:
          description: The unique customer identifier of the PSU with the merchant.
          type: string
          minLength: 1
          maxLength: 70
        ContractPresentIndicator:
          description: Indicates if Payee has a contractual relationship with the PISP.
          type: boolean
        BeneficiaryPrepopulatedIndicator:
          description: Indicates if PISP has immutably prepopulated payment details in for the PSU.
          type: boolean
        PaymentPurposeCode:
          $ref: '#/components/schemas/ExternalPurpose1Code'
        CategoryPurposeCode:
          $ref: '#/components/schemas/ExternalCategoryPurpose1Code'
        BeneficiaryAccountType:
          $ref: '#/components/schemas/OBInternalExtendedAccountType1Code'
        DeliveryAddress:
          $ref: '#/components/schemas/OBPostalAddress7'
    OBInternalExtendedAccountType1Code:
      description: Specifies the extended type of account.
      type: string
      enum:
      - Business
      - BusinessSavingsAccount
      - Charity
      - Collection
      - Corporate
      - Ewallet
      - Government
      - Investment
      - ISA
      - JointPersonal
      - Pension
      - Personal
      - PersonalSavingsAccount
      - Premier
      - Wealth
    BuildingName:
      description: Name of a referenced building.
      type: string
      minLength: 1
      maxLength: 140
    Department:
      description: Identification of a division of a large organisation or building.
      type: string
      minLength: 1
      maxLength: 70
    OBRemittanceInformationStructured:
      type: object
      description: 'Danske Bank: object properties are not supported. Empty object should be used as a connection to CreditorReferenceInformation in cases when Reference has to be provided.'
      properties:
        ReferredDocumentInformation:
          type: array
          items:
            $ref: '#/components/schemas/OBReferredDocumentInformation'
        ReferredDocumentAmount:
          description: Provides details on the amounts of the referred document.
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
        CreditorReferenceInformation:
          description: 'Reference information provided by the creditor to allow the identification of the underlying documents. Danske Bank: only Reference is supported.'
          type: object
          properties:
            Code:
              $ref: '#/components/schemas/ExternalCreditorReferenceType1Code'
            Issuer:
              description: Entity that assigns the identification.
              type: string
              minLength: 1
              maxLength: 35
            Reference:
              description: 'Unique reference, as assigned by the creditor, to unambiguously refer to the payment transaction. Danske Bank: The Faster Payments Scheme can only accept 18 characters reference. Only 16 characters are allowed when using UK.OBIE.CHAPS as LocalInstrument. Not supported in International payments.'
              type: string
              minLength: 1
              maxLength: 35
        Invoicer:
          $ref: '#/components/schemas/Identification_3'
        Invoicee:
          $ref: '#/components/schemas/Identification_4'
        TaxRemittance:
          description: Provides remittance information about a payment made for tax-related purposes.
          type: string
          maxLength: 140
          minLength: 1
        AdditionalRemittanceInformation:
          description: Additional information, in free text form, to complement the structured remittance information.
          type: array
          items:
            type: string
            maxLength: 140
            minLength: 1
          maxItems: 3
    BuildingNumber:
      description: Number that identifies the position of a building on a street.
      type: string
      minLength: 1
      maxLength: 16
    OBAddressType2Code:
      description: Identifies the nature of the postal address. For a full set of codes see `OBAddressType2Code` [here](https://github.com/OpenBankingUK/External_Internal_CodeSets).
      type: string
      enum:
      - BIZZ
      - DLVY
      - MLTO
      - PBOX
      - ADDR
      - HOME
      - CORR
      - STAT
    OBStatusReason:
      type: object
      properties:
        StatusReasonCode:
          type: string
          description: "Specifies the status reason in a code form. \nFor a full list of values refer to `OBExternalStatusReason1Code` in *OB_Internal_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)"
          minLength: 1
          maxLength: 4
          example: ERIN
        StatusReasonDescription:
          description: Description supporting the StatusReasonCode.
          type: string
          minLength: 1
          maxLength: 500
        Path:
          type: string
          description: Path is optional but relevant when the status reason refers to an object/field and hence conditional to provide JSON path.
          minLength: 1
          maxLength: 500
    CareOf:
      description: The 'care of' address is used whenever sending mail to a person or organisation who does not actually live or work at the address. They will receive the mail for the individual.
      type: string
      minLength: 1
      maxLength: 140
    OBInternalAccountIdentification47Code:
      description: 'Name of the identification scheme, in a coded form as published in an external list. Danske Bank supports the following identification schemes: UK.OBIE.IBAN UK.OBIE.SortCodeAccountNumber DK.DanskeBank.AccountNumber - Account number which is not IBAN or SortCodeAccountNumber. Available for all countries and brands in Danske Bank Group.

        '
      type: string
      x-namespaced-enum:
      - UK.OBIE.IBAN
      - UK.OBIE.SortCodeAccountNumber
      - DK.DanskeBank.AccountNumber
    Floor:
      description: Number that identifies the level within a building
      type: string
      minLength: 1
      maxLength: 70
    OBStructuredRegulatoryReporting3:
      type: object
      description: Set of elements used to provide details on the regulatory reporting information.
      properties:
        Type:
          type: string
          description: Specifies the type of the information supplied in the regulatory reporting details
          minLength: 1
          maxLength: 35
        Date:
          $ref: '#/components/schemas/ISODateTime'
        Country:
          $ref: '#/components/schemas/CountryCode'
        Amount:
          $ref: '#/components/schemas/OBActiveOrHistoricCurrencyAndAmount'
        Information:
          description: Additional details that cater for specific domestic regulatory requirements.
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 35
    OBCashAccountDebtor4:
      description: ^ Only included in the response if `Data. ReadRefundAccount` is set to `Yes` in the consent.
      type: object
      properties:
        SchemeName:
          $ref: '#/components/schemas/OBInternalAccountIdentification47Code'
        Identification:
          $ref: '#/components/schemas/Identification_0'
        Name:
          description: 'Name of the account, as assigned by the account servicing institution. Usage: The account name is the name or names of the account owner(s) represented at an account level. Note, the account name is not the product name or the nickname of the account.

            '
          type: string
          minLength: 0
          maxLength: 350
        SecondaryIdentification:
          $ref: '#/components/schemas/SecondaryIdentification'
        LEI:
          $ref: '#/components/schemas/LEI'
    Identification_0:
      description: Identification assigned by an institution to identify an account. This identification is known by the account owner.
      type: string
      minLength: 1
      maxLength: 256
    PostCode:
      description: Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.
      type: string
      minLength: 1
      maxLength: 16
    ExternalDocumentType1Code:
      type: string
      minLength: 1
      maxLength: 4
      description: Specifies the document type as published in an external document type code list. For more information see `ExternalDocumentType1Code` in *ISO_External_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      enum:
      - CINV
      - CNFA
      - CONT
      - CREN
      - DEBN
      - DISP
      - DNFA
      - HIRI
      - INVS
      - MSIN
      - PROF
      - PUOR
      - QUOT
      - SBIN
      - SPRR
      - TISH
      - USAR
      - AROI
      - BOLD
      - CMCN
      - SOAC
      - TSUT
      - VCHR
    OBReferredDocumentInformation:
      type: object
      description: 'Danske Bank: object and its properties are not supported.'
      properties:
        Code:
          $ref: '#/components/schemas/ExternalDocumentType1Code'
        Issuer:
          description: Identification of the issuer of the reference document type.
          type: string
          maxLength: 35
          minLength: 1
        Number:
          description: Identification of the type specified for the referred document line.
          type: string
          maxLength: 35
          minLength: 1
        RelatedDate:
          description: Date associated with the referred document line.
          type: string
          format: date-time
        LineDetails:
          description: Set of elements used to provide the content of the referred document line.
          type: array
          items:
            type: string
            maxLength: 140
            minLength: 1
    OBErrorResponse1:
      description: An array of detail error codes, and messages, and URLs to documentation to help remediation.
      type: object
      additionalProperties: false
      required:
      - Errors
      properties:
        Id:
          description: A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.
          type: string
          minLength: 1
          maxLength: 40
        Errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/OBError1'
    OBUltimateDebtor1:
      description: 'Ultimate party that owes an amount of money to the (ultimate) creditor. Danske Bank: Object is accepted but ignored.'
      type: object
      properties:
        Name:
          description: Name by which a party is known and which is usually used to identify that party.
          type: string
          minLength: 1
          maxLength: 140
        Identification:
          description: Identification assigned by an institution.
          type: string
          minLength: 1
          maxLength: 256
        LEI:
          $ref: '#/components/schemas/LEI'
        SchemeName:
          $ref: '#/components/schemas/OBInternalAccountIdentification45Code'
        PostalAddress:
          $ref: '#/components/schemas/OBPostalAddress7'
    Room:
      description: Information that locates and identifies a room to form part of an address
      type: string
      minLength: 1
      maxLength: 70
    TownName:
      description: Name of a built-up area, with defined boundaries, and a local government.
      type: string
      minLength: 1
      maxLength: 140
    OBWriteDomesticScheduledConsent4:
      type: object
      additionalProperties: false
      required:
      - Data
      - Risk
      properties:
        Data:
          type: object
          additionalProperties: false
          required:
          - Permission
          - Initiation
          properties:
            Permission:
              description: Specifies the Open Banking service request types. For a full list of values see `OBInternalPermissions2Code` in *OB_Internal_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
              type: string
              enum:
              - Create
            ReadRefundAccount:
              description: Specifies to share the refund account details with PISP. For a full list of values see `OBInternalReadRefundAccount1Code` in *OB_Internal_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
              type: string
              enum:
              - 'No'
              - 'Yes'
            Initiation:
              description: The Initiation payload is sent by the initiating party to the ASPSP. It is used to request movement of funds from the debtor account to a creditor for a single scheduled domestic payment.
              type: object
              additionalProperties: false
              required:
              - InstructionIdentification
              - RequestedExecutionDateTime
              - InstructedAmount
              - CreditorAccount
              properties:
                InstructionIdentification:
                  description: 'Unique identification as assigned by an instructing party for an instructed party to unambiguously identify the instruction. Usage: the instruction identification is a point to point reference that can be used between the instructing party and the instructed party to refer to the individual instruction. It can be included in several messages related to the instruction.'
                  type: string
                  minLength: 1
                  maxLength: 35
                EndToEndIdentification:
                  description: 'Unique identification assigned by the initiating party to unambiguously identify the transaction. This identification is passed on, unchanged, throughout the entire end-to-end chain. Usage: The end-to-end identification can be used for reconciliation or to link tasks relating to the transaction. It can be included in several messages related to the transaction. OB: The Faster Payments Scheme can only access 31 characters for the EndToEndIdentification field.'
                  type: string
                  minLength: 1
                  maxLength: 35
                LocalInstrument:
                  $ref: '#/components/schemas/OBInternalLocalInstrument13Code'
                RequestedExecutionDateTime:
                  description: 'Date at which the initiating party requests the clearing agent to process the payment.  Usage: This is the date on which the debtor''s account is to be debited. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00 Danske Bank: a) Transaction date can be maximum 365 days ahead from current date b) Transaction date must be later than today''s date'
                  type: string
                  format: date-time
                InstructedAmount:
                  description: 'Amount of money to be moved between the debtor and creditor, before deduction of charges, expressed in the currency as ordered by the initiating party. Usage: This amount has to be transported unchanged through the transaction chain.'
                  type: object
                  additionalProperties: false
                  required:
                  - Amount
                  - Currency
                  properties:
                    Amount:
                      $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
                    Currency:
                      $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
                DebtorAccount:
                  description: Unambiguous identification of the account of the debtor to which a debit entry will be made as a result of the transaction.
                  type: object
                  additionalProperties: false
                  required:
                  - SchemeName
                  - Identification
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBInternalAccountIdentification43Code'
                    Identification:
                      $ref: '#/components/schemas/Identification_0'
                    Name:
                      description: The account name is the name or names of the account owner(s) represented at an account level, as displayed by the ASPSP's online channels. Note, the account name is not the product name or the nickname of the account.
                      type: string
                      minLength: 1
                      maxLength: 350
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                    Proxy:
                      $ref: '#/components/schemas/OBProxy1'
                CreditorAccount:
                  description: Unambiguous identification of the account of the creditor to which a credit entry will be posted as a result of the payment transaction.
                  type: object
                  additionalProperties: false
                  required:
                  - SchemeName
                  - Identification
                  - Name
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBInternalAccountIdentification43Code'
                    Identification:
                      $ref: '#/components/schemas/Identification_0'
                    Name:
                      description: 'The account name is the name or names of the account owner(s) represented at an account level. Note, the account name is not the product name or the nickname of the account. OB: ASPSPs may carry out name validation for Confirmation of Payee, but it is not mandatory. Danske Bank: Length limitations - for private customers 70 characters, for business customers 35 characters.'
                      type: string
                      minLength: 1
                      maxLength: 350
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                    Proxy:
                      $ref: '#/components/schemas/OBProxy1'
                CreditorPostalAddress:
                  $ref: '#/components/schemas/OBPostalAddress7'
                UltimateCreditor:
                  $ref: '#/components/schemas/OBUltimateCreditor1'
                UltimateDebtor:
                  $ref: '#/components/schemas/OBUltimateDebtor1'
                RegulatoryReporting:
                  type: array
                  items:
                    $ref: '#/components/schemas/OBRegulatoryReporting1'
                  maxItems: 10
                RemittanceInformation:
                  $ref: '#/components/schemas/OBRemittanceInformation2'
                SupplementaryData:
                  $ref: '#/components/schemas/OBSupplementaryDataDomesticPayments1'
            Authorisation:
              description: The authorisation type request from the TPP.
              type: object
              additionalProperties: false
              required:
              - AuthorisationType
              properties:
                AuthorisationType:
                  description: 'Type of authorisation flow requested. For a full list of values refer to `OBInternalAuthorisation1Code` in *OB_Internal_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets) Danske Bank: If you request ‘Single’ and the PSU does not have the authority to make a payment without needing another person to approve it, the payment will be rejected.'
                  type: string
                  enum:
                  - Any
                  - Single
                CompletionDateTime:
                  description: 'Date and time at which the requested authorisation flow must be completed. All dates in the JSON payloads are represented in ISO 8601 date-time format.  All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00 Warning: Danske Bank does not support this functionality. Payments which require further authorisation must be fully authorised in our online channel by midnight of the due date or the payment will be rejected.'
                  type: string
                  format: date-time
            SCASupportData:
              $ref: '#/components/schemas/OBSCASupportData1'
        Risk:
          $ref: '#/components/schemas/OBRisk1'
    LEI:
      description: Legal entity identification as an alternate identification for a party. Legal Entity Identifier is a code allocated to a party as described in ISO 17442 "Financial Services - Legal Entity Identifier (LEI)".
      type: string
      minLength: 1
      maxLength: 20
      pattern: ^[A-Z0-9]{18,18}[0-9]{2,2}$
    SecondaryIdentification:
      description: This is secondary identification of the account, as assigned by the account servicing institution. This can be used by building societies to additionally identify accounts with a roll number (in addition to a sort code and account number combination).
      type: string
      minLength: 1
      maxLength: 34
    ActiveOrHistoricCurrencyCode:
      description: A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".
      type: string
      pattern: ^[A-Z]{3,3}$
    OBWriteDomesticScheduled2:
      type: object
      additionalProperties: false
      required:
      - Data
      - Risk
      properties:
        Data:
          type: object
          additionalProperties: false
          required:
          - ConsentId
          - Initiation
          properties:
            ConsentId:
              description: 'OB: Unique identification as assigned by the ASPSP to uniquely identify the consent resource.'
              type: string
              minLength: 1
              maxLength: 128
            Initiation:
              description: The Initiation payload is sent by the initiating party to the ASPSP. It is used to request movement of funds from the debtor account to a creditor for a single scheduled domestic payment.
              type: object
              additionalProperties: false
              required:
              - InstructionIdentification
              - RequestedExecutionDateTime
              - InstructedAmount
              - CreditorAccount
              properties:
                InstructionIdentification:
                  description: 'Unique identification as assigned by an instructing party for an instructed party to unambiguously identify the instruction. Usage: the instruction identification is a point to point reference that can be used between the instructing party and the instructed party to refer to the individual instruction. It can be included in several messages related to the instruction.'
                  type: string
                  minLength: 1
                  maxLength: 35
                EndToEndIdentification:
                  description: 'Unique identification assigned by the initiating party to unambiguously identify the transaction. This identification is passed on, unchanged, throughout the entire end-to-end chain. Usage: The end-to-end identification can be used for reconciliation or to link tasks relating to the transaction. It can be included in several messages related to the transaction. OB: The Faster Payments Scheme can only access 31 characters for the EndToEndIdentification field.'
                  type: string
                  minLength: 1
                  maxLength: 35
                LocalInstrument:
                  $ref: '#/components/schemas/OBInternalLocalInstrument13Code'
                RequestedExecutionDateTime:
                  description: 'Date at which the initiating party requests the clearing agent to process the payment. Usage: This is the date on which the debtor''s account is to be debited. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00 Danske Bank: a) Transaction date can be maximum 365 days ahead from current date b) Transaction date must be later than today''s date'
                  type: string
                  format: date-time
                InstructedAmount:
                  description: 'Amount of money to be moved between the debtor and creditor, before deduction of charges, expressed in the currency as ordered by the initiating party. Usage: This amount has to be transported unchanged through the transaction chain.'
                  type: object
                  additionalProperties: false
                  required:
                  - Amount
                  - Currency
                  properties:
                    Amount:
                      $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
                    Currency:
                      $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
                DebtorAccount:
                  description: Unambiguous identification of the account of the debtor to which a debit entry will be made as a result of the transaction.
                  type: object
                  additionalProperties: false
                  required:
                  - SchemeName
                  - Identification
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBInternalAccountIdentification43Code'
                    Identification:
                      $ref: '#/components/schemas/Identification_0'
                    Name:
                      description: The account name is the name or names of the account owner(s) represented at an account level, as displayed by the ASPSP's online channels. Note, the account name is not the product name or the nickname of the account.
                      type: string
                      minLength: 1
                      maxLength: 350
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                    Proxy:
                      $ref: '#/components/schemas/OBProxy1'
                CreditorAccount:
                  description: Unambiguous identification of the account of the creditor to which a credit entry will be posted as a result of the payment transaction.
                  type: object
                  additionalProperties: false
                  required:
                  - SchemeName
                  - Identification
                  - Name
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBInternalAccountIdentification43Code'
                    Identification:
                      $ref: '#/components/schemas/Identification_0'
                    Name:
                      description: 'The account name is the name or names of the account owner(s) represented at an account level. Note, the account name is not the product name or the nickname of the account. OB: ASPSPs may carry out name validation for Confirmation of Payee, but it is not mandatory. Danske Bank: Note: Length limitations - for private customers 70 characters, for business customers 35 characters.'
                      type: string
                      minLength: 1
                      maxLength: 350
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                    Proxy:
                      $ref: '#/components/schemas/OBProxy1'
                RegulatoryReporting:
                  type: array
                  items:
                    $ref: '#/components/schemas/OBRegulatoryReporting1'
                  maxItems: 10
                CreditorPostalAddress:
                  $ref: '#/components/schemas/OBPostalAddress7'
                UltimateCreditor:
                  $ref: '#/components/schemas/OBUltimateCreditor1'
                UltimateDebtor:
                  $ref: '#/components/schemas/OBUltimateDebtor1'
                RemittanceInformation:
                  $ref: '#/components/schemas/OBRemittanceInformation2'
                SupplementaryData:
                  $ref: '#/components/schemas/OBSupplementaryDataDomesticPayments1'
        Risk:
          $ref: '#/components/schemas/OBRisk1'
    OBPostalAddress7:
      type: object
      additionalProperties: false
      description: Information that locates and identifies a specific address, as defined by postal services.
      properties:
        AddressType:
          $ref: '#/components/schemas/OBAddressType2Code'
        Department:
          $ref: '#/components/schemas/Department'
        SubDepartment:
          $ref: '#/components/schemas/SubDepartment'
        StreetName:
          $ref: '#/components/schemas/StreetName'
        BuildingNumber:
          $ref: '#/components/schemas/BuildingNumber'
        BuildingName:
          $ref: '#/components/schemas/BuildingName'
        Floor:
          $ref: '#/components/schemas/Floor'
        UnitNumber:
          $ref: '#/components/schemas/UnitNumber'
        Room:
          $ref: '#/components/schemas/Room'
        PostBox:
          $ref: '#/components/schemas/PostBox'
        TownLocationName:
          $ref: '#/components/schemas/TownName'
        DistrictName:
          $ref: '#/components/schemas/DistrictName'
        CareOf:
          $ref: '#/components/schemas/CareOf'
        PostCode:
          $ref: '#/components/schemas/PostCode'
        TownName:
          $ref: '#/components/schemas/TownName'
        CountrySubDivision:
          $ref: '#/components/schemas/CountrySubDivision'
        Country:
          $ref: '#/components/schemas/CountryCode'
        AddressLine:
          type: array
          minItems: 0
          maxItems: 7
          items:
            description: Information that locates and identifies a specific address, as defined by postal services, presented in free format text.
            type: string
            minLength: 1
            maxLength: 70
    OBWriteDomesticScheduledResponse5:
      type: object
      additionalProperties: false
      required:
      - Data
      properties:
        Data:
          type: object
          additionalProperties: false
          required:
          - DomesticScheduledPaymentId
          - ConsentId
          - CreationDateTime
          - Status
          - StatusUpdateDateTime
          - Initiation
          properties:
            DomesticScheduledPaymentId:
              description: 'OB: Unique identification as assigned by the ASPSP to uniquely identify the domestic schedule payment resource.'
              type: string
              minLength: 1
              maxLength: 40
            ConsentId:
              description: 'OB: Unique identification as assigned by the ASPSP to uniquely identify the consent resource.'
              type: string
              minLength: 1
              maxLength: 128
            CreationDateTime:
              description: 'Date and time at which the message was created. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
              type: string
              format: date-time
            Status:
              description: 'Specifies the status of the payment order resource. For a full list of values see `ExternalPaymentTransactionStatus1Code` in *OB_Internal_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets) Danske Bank, supported statuses: RCVD(Received), RJCT(Rejected), ACSP(Accepted Settlement In Process), CANC(Cancelled, business payments only), ACSC(Accepted Settlement Completed, business payments only), ACCC (Accepted Settlement Completed Creditor Account, privae FPS payments only)'
              type: string
              enum:
              - RCVD
              - CANC
              - ACSP
              - ACSC
              - RJCT
              - ACCC
            StatusUpdateDateTime:
              description: 'Date and time at which the resource status was updated. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
              type: string
              format: date-time
            StatusReason:
              type: array
              items:
                $ref: '#/components/schemas/OBStatusReason'
            ExpectedExecutionDateTime:
              description: 'Expected execution date and time for the payment resource. All dates in the JSON payloads are represented in ISO 8601 date-time format.  All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
              type: string
              format: date-time
            ExpectedSettlementDateTime:
              description: 'Expected settlement date and time for the payment resource. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
              type: string
              format: date-time
            Refund:
              description: Unambiguous identification of the refund account to which a refund will be made as a result of the transaction.
              type: object
              additionalProperties: false
              required:
              - Account
              properties:
                Account:
                  description: Provides the details to identify an account.
                  type: object
                  additionalProperties: false
                  required:
                  - SchemeName
                  - Identification
                  - Name
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBInternalAccountIdentification43Code'
                    Identification:
                      $ref: '#/components/schemas/Identification_0'
                    Name:
                      description: 'Name of the account, as assigned by the account servicing institution. Usage: The account name is the name or names of the account owner(s) represented at an account level. The account name is not the product name or the nickname of the account. OB: ASPSPs may carry out name validation for Confirmation of Payee, but it is not mandatory.'
                      type: string
                      minLength: 1
                      maxLength: 350
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
            Charges:
              type: array
              items:
                type: object
                additionalProperties: false
                description: Set of elements used to provide details of a charge for the payment initiation.
                required:
                - ChargeBearer
                - Type
                - Amount
                properties:
                  ChargeBearer:
                    $ref: '#/components/schemas/OBInternalChargeBearerType1Code'
                  Type:
                    $ref: '#/components/schemas/OBInternalPaymentChargeType1Code'
                  Amount:
                    $ref: '#/components/schemas/OBActiveOrHistoricCurrencyAndAmount'
            Initiation:
              description: The Initiation payload is sent by the initiating party to the ASPSP. It is used to request movement of funds from the debtor account to a creditor for a single scheduled domestic payment.
              type: object
              additionalProperties: false
              required:
              - InstructionIdentification
              - RequestedExecutionDateTime
              - InstructedAmount
              - CreditorAccount
              properties:
                InstructionIdentification:
                  description: 'Unique identification as assigned by an instructing party for an instructed party to unambiguously identify the instruction. Usage: the instruction identification is a point to point reference that can be used between the instructing party and the instructed party to refer to the individual instruction. It can be included in several messages related to the instruction.'
                  type: string
                  minLength: 1
                  maxLength: 35
                EndToEndIdentification:
                  description: 'Unique identification assigned by the initiating party to unambiguously identify the transaction. This identification is passed on, unchanged, throughout the entire end-to-end chain. Usage: The end-to-end identification can be used for reconciliation or to link tasks relating to the transaction. It can be included in several messages related to the transaction. OB: The Faster Payments Scheme can only access 31 characters for the EndToEndIdentification field.'
                  type: string
                  minLength: 1
                  maxLength: 35
                LocalInstrument:
                  $ref: '#/components/schemas/OBInternalLocalInstrument13Code'
                RequestedExecutionDateTime:
                  description: 'Date at which the initiating party requests the clearing agent to process the payment. Usage: This is the date on which the debtor''s account is to be debited. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00 Danske Bank: a) Transaction date can be maximum 365 days ahead from current date b) Transaction date must be later than today''s date'
                  type: string
                  format: date-time
                InstructedAmount:
                  description: 'Amount of money to be moved between the debtor and creditor, before deduction of charges, expressed in the currency as ordered by the initiating party. Usage: This amount has to be transported unchanged through the transaction chain.'
                  type: object
                  additionalProperties: false
                  required:
                  - Amount
                  - Currency
                  properties:
                    Amount:
                      $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
                    Currency:
                      $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
                DebtorAccount:
                  description: Unambiguous identification of the account of the debtor to which a debit entry will be made as a result of the transaction.
                  type: object
                  additionalProperties: false
                  required:
                  - SchemeName
                  - Identification
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBInternalAccountIdentification43Code'
                    Identification:
                      $ref: '#/components/schemas/Identification_0'
                    Name:
                      description: The account name is the name or names of the account owner(s) represented at an account level, as displayed by the ASPSP's online channels. Note, the account name is not the product name or the nickname of the account.
                      type: string
                      minLength: 1
                      maxLength: 350
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                    Proxy:
                      $ref: '#/components/schemas/OBProxy1'
                CreditorAccount:
                  description: Unambiguous identification of the account of the creditor to which a credit entry will be posted as a result of the payment transaction.
                  type: object
                  additionalProperties: false
                  required:
                  - SchemeName
                  - Identification
                  - Name
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBInternalAccountIdentification43Code'
                    Identification:
                      $ref: '#/components/schemas/Identification_0'
                    Name:
                      description: 'The account name is the name or names of the account owner(s) represented at an account level. Note, the account name is not the product name or the nickname of the account. OB: ASPSPs may carry out name validation for Confirmation of Payee, but it is not mandatory.'
                      type: string
                      minLength: 1
                      maxLength: 350
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                    Proxy:
                      $ref: '#/components/schemas/OBProxy1'
                CreditorPostalAddress:
                  $ref: '#/components/schemas/OBPostalAddress7'
                UltimateCreditor:
                  $ref: '#/components/schemas/OBUltimateCreditor1'
                UltimateDebtor:
                  $ref: '#/components/schemas/OBUltimateDebtor1'
                RegulatoryReporting:
                  type: array
                  items:
                    $ref: '#/components/schemas/OBRegulatoryReporting1'
                  maxItems: 10
                RemittanceInformation:
                  $ref: '#/components/schemas/OBRemittanceInformation2'
                SupplementaryData:
                  $ref: '#/components/schemas/OBSupplementaryDataDomesticPayments1'
            MultiAuthorisation:
              description: The multiple authorisation flow response from the ASPSP.
              type: object
              additionalProperties: false
              required:
              - Status
              properties:
                Status:
                  description: Specifies the status of the authorisation flow in code form.
                  type: string
                  enum:
                  - AUTH
                  - AWAF
                  - RJCT
                NumberRequired:
                  description: Number of authorisations required for payment order (total required at the start of the multi authorisation journey).
                  type: integer
                NumberReceived:
                  description: Number of authorisations received.
                  type: integer
                LastUpdateDateTime:
                  description: 'Last date and time at the authorisation flow was updated. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
                  type: string
                  format: date-time
                ExpirationDateTime:
                  description: 'Date and time at which the requested authorisation flow must be completed. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
                  type: string
                  format: date-time
            Debtor:
              $ref: '#/components/schemas/OBCashAccountDebtor4'
        Links:
          $ref: '#/components/schemas/Links'
        Meta:
          $ref: '#/components/schemas/Meta'
    OBRegulatoryAuthority2:
      type: object
      description: 'Entity requiring the regulatory reporting information. '
      properties:
        Name:
          type: string
          description: Name of the entity requiring the regulatory reporting information.
          minLength: 1
          maxLength: 140
        CountryCode:
          $ref: '#/components/schemas/CountryCode'
    ExternalCategoryPurpose1Code:
      description: Enumeration of codes that outlines the type of purpose behind a transaction, payment or risk.  For all enum values see `ExternalCategoryPurpose1Code` [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      type: string
      enum:
      - BONU
      - CASH
      - CBLK
      - CCRD
      - CORT
      - DCRD
      - DIVI
      - DVPM
      - EPAY
      - FCIN
      - FCOL
      - GP2P
      - GOVT
      - HEDG
      - ICCP
      - IDCP
      - INTC
      - INTE
      - LBOX
      - LOAN
      - MP2B
      - MP2P
      - OTHR
      - PENS
      - RPRE
      - RRCT
      - RVPM
      - SALA
      - SECU
      - SSBE
      - SUPP
      - TAXS
      - TRAD
      - TREA
      - VATX
      - WHLD
      - SWEP
      - TOPG
      - ZABA
      - VOST
      - FCDT
      - CIPC
      - CONC
      - CGWV
    OBInternalErrorResponseError1Code:
      description: Low level textual error code, for all enum values see `OBInternalErrorResponseError1Code` [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      type: string
      minLength: 4
      maxLength: 4
      example: U001
    ExternalProxyAccountType1Code:
      description: Specifies the external proxy account type code, as published in the proxy account type external code set.<br /> For a full list of values see `ExternalProxyAccountType1Code` in *ISO_External_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      type: string
      enum:
      - TELE
      - EMAL
      - DNAM
      - CINC
      - COTX
      - COID
      - CUST
      - DRLC
      - EIDN
      - EWAL
      - PVTX
      - LEIC
      - MBNO
      - NIDN
      - CCPT
      - SHID
      - SOSE
      - TOKN
      - UBIL
      - VIPN
      - BIID
  requestBodies:
    OBWriteDomesticScheduledConsent4Param:
      description: Default
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBWriteDomesticScheduledConsent4'
      required: true
    OBWriteDomesticScheduled2Param:
      description: Default
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBWriteDomesticScheduled2'
      required: true
  responses:
    200DomesticScheduledPaymentConsentsConsentIdRead:
      description: Domestic Scheduled Payment Consents Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
        x-jws-signature:
          description: Header containing a detached JWS signature of the body of the payload.
          required: true
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBWriteDomesticScheduledConsentResponse5'
    400Error:
      description: Bad request
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
        x-jws-signature:
          description: Header containing a detached JWS signature of the body of the payload.
          required: true
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
    201DomesticScheduledPaymentsCreated:
      description: Domestic Scheduled Payments Created
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
        x-jws-signature:
          description: Header containing a detached JWS signature of the body of the payload.
          required: true
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBWriteDomesticScheduledResponse5'
    200DomesticScheduledPaymentsDomesticScheduledPaymentIdRead:
      description: Domestic Scheduled Payments Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
        x-jws-signature:
          description: Header containing a detached JWS signature of the body of the payload.
          required: true
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBWriteDomesticScheduledResponse5'
    503Error:
      description: Service temporary unavailable
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
        x-jws-signature:
          description: Header containing a detached JWS signature of the body of the payload.
          required: true
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
    406Error:
      description: Not Acceptable
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
    403Error:
      description: Forbidden
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
        x-jws-signature:
          description: Header containing a detached JWS signature of the body of the payload.
          required: true
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
    401Error:
      description: Unauthorized
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
    201DomesticScheduledPaymentConsentsCreated:
      description: Domestic Scheduled Payment Consents Created
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
        x-jws-signature:
          description: Header containing a detached JWS signature of the body of the payload.
          required: true
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBWriteDomesticScheduledConsentResponse5'
    404Error:
      description: Not found
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
    409Error:
      description: Conflict
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
        x-jws-signature:
          description: Header containing a detached JWS signature of the body of the payload.
          required: true
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
    405Error:
      description: Method Not Allowed
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
    500Error:
      description: Internal Server Error
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
        x-jws-signature:
          description: Header containing a detached JWS signature of the body of the payload.
          required: true
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
    415Error:
      description: Unsupported Media Type
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
    429Error:
      description: Too Many Requests
      headers:
        Retry-After:
          description: Number in seconds to wait
          required: true
          schema:
            type: integer
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
  parameters:
    ConsentId:
      name: ConsentId
      in: path
      description: ConsentId
      required: true
      schema:
        type: string
    x-idempotency-key:
      name: x-idempotency-key
      in: header
      description: 'Every request will be processed only once per x-idempotency-key.  The

        Idempotency Key will be valid for 24 hours.

        '
      required: true
      schema:
        type: string
        maxLength: 40
        pattern: ^(?!\s)(.*)(\S)$
    x-fapi-interaction-id:
      name: x-fapi-interaction-id
      in: header
      description: An RFC4122 UID used as a correlation id.
      required: false
      schema:
        type: string
    x-fapi-auth-date:
      name: x-fapi-auth-date
      in: header
      description: 'The time when the PSU last logged in with the TPP. All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: Sun, 10 Sep 2017 19:43:31 UTC'
      required: false
      schema:
        type: string
        pattern: ^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$
    x-fapi-customer-ip-address:
      name: x-fapi-customer-ip-address
      in: header
      description: The PSU's IP address if the PSU is currently logged in with the TPP.
      required: false
      schema:
        type: string
    DomesticScheduledPaymentId:
      name: DomesticScheduledPaymentId
      in: path
      description: DomesticScheduledPaymentId
      required: true
      schema:
        type: string
    x-customer-user-agent:
      name: x-customer-user-agent
      in: header
      description: Indicates the user-agent that the PSU is using.
      required: false
      schema:
        type: string
    x-jws-signature:
      name: x-jws-signature
      in: header
      description: A detached JWS signature of the body of the payload.
      required: true
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
