openapi: 3.2.0
info:
  title: Account and Transaction - UK OB Products API
  description: Retrieve account details and transaction information.
  version: 4.0.0
servers:
- description: prod Environment
  url: https://obp-api.danskebank.com/open-banking/v4.0/aisp
tags:
- name: Products
paths:
  /accounts/{AccountId}/product:
    get:
      tags:
      - Products
      summary: Get Products
      operationId: GetAccountsAccountIdProduct
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/x-fapi-auth-date'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address'
      - $ref: '#/components/parameters/x-fapi-interaction-id'
      - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200AccountsAccountIdProductRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
        '503':
          $ref: '#/components/responses/503Error'
components:
  schemas:
    OB_FeeCategory1Code:
      description: Categorisation of fees and charges into standard categories.
      type: string
      enum:
      - FCOT
      - FCRE
      - FCSV
    OB_Amount1_1:
      description: Every additional tranche of an overdraft balance to which an overdraft fee is applied
      type: string
      pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
    OB_Amount1_4:
      description: Cap amount charged for a fee/charge (where it is charged in terms of an amount rather than a rate)
      type: string
      pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
    OB_Amount1_2:
      description: Amount charged for an overdraft fee/charge (where it is charged in terms of an amount rather than a rate)
      type: string
      pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
    Number_0:
      description: Indicates whether the advertised overdraft rate is guaranteed to be offered to a borrower by the bank e.g. if it's part of a government scheme, or whether the rate may vary dependent on the applicant's circumstances.
      type: integer
    OB_InterestCalculationMethod1Code:
      description: Methods of calculating interest
      type: string
      enum:
      - ITCO
      - ITOT
      - ITSI
    OB_OtherCodeType1_6:
      description: Other application frequencies not covered in the standard code list
      type: object
      additionalProperties: false
      required:
      - Name
      - Description
      properties:
        Code:
          $ref: '#/components/schemas/OB_CodeMnemonic'
        Name:
          $ref: '#/components/schemas/Name_4'
        Description:
          $ref: '#/components/schemas/Description_3'
    Links:
      description: Links relevant to the payload
      type: object
      additionalProperties: false
      required:
      - Self
      properties:
        Self:
          type: string
          format: uri
        First:
          type: string
          format: uri
        Prev:
          type: string
          format: uri
        Next:
          type: string
          format: uri
        Last:
          type: string
          format: uri
    Number_1:
      description: fee/charges are captured dependent on the number of occurrences rather than capped at a particular amount
      type: integer
    OBPCAData1:
      title: PCA
      type: object
      additionalProperties: false
      properties:
        ProductDetails:
          title: ProductDetails
          type: object
          additionalProperties: false
          properties:
            Segment:
              title: Segment
              description: 'Market segmentation is a marketing term referring to the aggregating of prospective buyers into groups, or segments, that have common needs and respond similarly to a marketing action. Market segmentation enables companies to target different categories of consumers who perceive the full value of certain products and services differently from one another. Read more: Market Segmentation http://www.investopedia.com/terms/m/marketsegmentation.asp#ixzz4gfEEalTd  With respect to PCA products, they are segmented in relation to different markets that they wish to focus on.

                '
              type: array
              items:
                description: 'Market segmentation is a marketing term referring to the aggregating of prospective buyers into groups, or segments, that have common needs and respond similarly to a marketing action. Market segmentation enables companies to target different categories of consumers who perceive the full value of certain products and services differently from one another. Read more: Market Segmentation http://www.investopedia.com/terms/m/marketsegmentation.asp#ixzz4gfEEalTd  With respect to PCA products, they are segmented in relation to different markets that they wish to focus on.

                  '
                type: string
                enum:
                - Basic
                - BenefitAndReward
                - CreditInterest
                - Cashback
                - General
                - Graduate
                - Other
                - Overdraft
                - Packaged
                - Premium
                - Reward
                - Student
                - YoungAdult
                - Youth
            MonthlyMaximumCharge:
              title: MonthlyMaximumCharge
              description: The maximum relevant charges that could accrue as defined fully in Part 7 of the CMA order
              type: string
              pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
            Notes:
              title: Notes
              description: Optional additional notes to supplement the Core product details
              type: array
              items:
                description: maxLength 2000 text
                type: string
                minLength: 1
                maxLength: 2000
        CreditInterest:
          title: CreditInterest
          description: Details about the interest that may be payable to the PCA account holders
          type: object
          additionalProperties: false
          required:
          - TierBandSet
          properties:
            TierBandSet:
              title: TierBandSet
              description: The group of tiers or bands for which credit interest can be applied.
              type: array
              minItems: 1
              items:
                description: The group of tiers or bands for which credit interest can be applied.
                type: object
                properties:
                  TierBandMethod:
                    title: TierBandMethod
                    description: 'The methodology of how credit interest is charged. It can be: 1. Banded Interest rates are banded. i.e. Increasing rate on whole balance as balance increases. 2. Tiered Interest rates are tiered. i.e. increasing rate for each tier as balance increases, but interest paid on tier fixed for that tier and not on whole balance. 3. Whole The same interest rate is applied irrespective of the PCA balance

                      '
                    type: string
                    enum:
                    - Tiered
                    - Whole
                  CalculationMethod:
                    title: CalculationMethod
                    description: Methods of calculating interest
                    type: string
                    enum:
                    - Compound
                    - SimpleInterest
                  Destination:
                    title: Destination
                    description: Describes whether accrued interest is payable only to the PCA or to another bank account
                    type: string
                    enum:
                    - PayAway
                    - SelfCredit
                  Notes:
                    title: Notes
                    description: Optional additional notes to supplement the Tier Band Set details
                    type: array
                    items:
                      description: maxLength 2000 text
                      type: string
                      minLength: 1
                      maxLength: 2000
                  TierBand:
                    title: TierBand
                    description: Tier Band Details
                    type: array
                    minItems: 1
                    items:
                      description: Tier Band Details
                      type: object
                      properties:
                        Identification:
                          title: Identification
                          description: Unique and unambiguous identification of a Tier Band for a PCA.
                          type: string
                          minLength: 1
                          maxLength: 35
                        TierValueMinimum:
                          title: TierValueMinimum
                          description: Minimum deposit value for which the credit interest tier applies.
                          type: string
                          pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                        TierValueMaximum:
                          title: TierValueMaximum
                          description: Maximum deposit value for which the credit interest tier applies.
                          type: string
                          pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                        CalculationFrequency:
                          title: CalculationFrequency
                          description: How often is credit interest calculated for the account.
                          type: string
                          enum:
                          - PerAcademicTerm
                          - Daily
                          - HalfYearly
                          - Monthly
                          - Other
                          - Quarterly
                          - PerStatementDate
                          - Weekly
                          - Yearly
                        ApplicationFrequency:
                          title: ApplicationFrequency
                          description: How often is interest applied to the PCA for this tier/band i.e. how often the financial institution pays accumulated interest to the customer's PCA.
                          type: string
                          enum:
                          - PerAcademicTerm
                          - Daily
                          - HalfYearly
                          - Monthly
                          - Other
                          - Quarterly
                          - PerStatementDate
                          - Weekly
                          - Yearly
                        DepositInterestAppliedCoverage:
                          title: DepositInterestAppliedCoverage
                          description: Amount on which Interest applied.
                          type: string
                          enum:
                          - Tiered
                          - Whole
                        FixedVariableInterestRateType:
                          title: FixedVariableInterestRateType
                          description: Type of interest rate, Fixed or Variable
                          type: string
                          enum:
                          - Fixed
                          - Variable
                        AER:
                          title: AER
                          description: 'The annual equivalent rate (AER) is interest that is calculated under the assumption that any interest paid is combined with the original balance and the next interest payment will be based on the slightly higher account balance. Overall, this means that interest can be compounded several times in a year depending on the number of times that interest payments are made. Read more: Annual Equivalent Rate (AER) http://www.investopedia.com/terms/a/aer.asp#ixzz4gfR7IO1A

                            '
                          type: string
                          pattern: ^(-?\d{1,3}){1}(\.\d{1,4}){0,1}$
                        BankInterestRateType:
                          title: BankInterestRateType
                          description: Interest rate types, other than AER, which financial institutions may use to describe the annual interest rate payable to the PCA.
                          type: string
                          enum:
                          - LinkedBaseRate
                          - Gross
                          - Net
                          - Other
                        BankInterestRate:
                          title: BankInterestRate
                          description: Bank Interest for the PCA product
                          type: string
                          pattern: ^(-?\d{1,3}){1}(\.\d{1,4}){0,1}$
                        Notes:
                          title: Notes
                          description: Optional additional notes to supplement the Tier Band details
                          type: array
                          items:
                            description: maxLength 2000 text
                            type: string
                            minLength: 1
                            maxLength: 2000
                        OtherBankInterestType:
                          title: OtherBankInterestType
                          description: Other interest rate types which are not available in the standard code list
                          type: object
                          additionalProperties: false
                          required:
                          - Name
                          - Description
                          properties:
                            Code:
                              title: Code
                              description: The four letter Mnemonic used within an XML file to identify a code
                              type: string
                              pattern: ^\w{0,4}$
                              minLength: 0
                              maxLength: 4
                            Name:
                              title: Name
                              description: Long name associated with the code
                              type: string
                              minLength: 1
                              maxLength: 70
                            Description:
                              title: Description
                              description: Description to describe the purpose of the code
                              type: string
                              minLength: 1
                              maxLength: 350
                        OtherApplicationFrequency:
                          title: OtherApplicationFrequency
                          description: Other application frequencies that are not available in the standard code list
                          type: object
                          additionalProperties: false
                          required:
                          - Name
                          - Description
                          properties:
                            Code:
                              title: Code
                              description: The four letter Mnemonic used within an XML file to identify a code
                              type: string
                              pattern: ^\w{0,4}$
                              minLength: 0
                              maxLength: 4
                            Name:
                              title: Name
                              description: Long name associated with the code
                              type: string
                              minLength: 1
                              maxLength: 70
                            Description:
                              title: Description
                              description: Description to describe the purpose of the code
                              type: string
                              minLength: 1
                              maxLength: 350
                        OtherCalculationFrequency:
                          title: OtherCalculationFrequency
                          description: Other calculation frequency which is not available in the standard code set.
                          type: object
                          additionalProperties: false
                          required:
                          - Name
                          - Description
                          properties:
                            Code:
                              title: Code
                              description: The four letter Mnemonic used within an XML file to identify a code
                              type: string
                              pattern: ^\w{0,4}$
                              minLength: 0
                              maxLength: 4
                            Name:
                              title: Name
                              description: Long name associated with the code
                              type: string
                              minLength: 1
                              maxLength: 70
                            Description:
                              title: Description
                              description: Description to describe the purpose of the code
                              type: string
                              minLength: 1
                              maxLength: 350
                      required:
                      - TierValueMinimum
                      - ApplicationFrequency
                      - FixedVariableInterestRateType
                      - AER
                required:
                - TierBandMethod
                - TierBand
        Overdraft:
          title: Overdraft
          description: Details about Overdraft rates, fees & charges
          type: object
          additionalProperties: false
          required:
          - OverdraftTierBandSet
          properties:
            Notes:
              title: Notes
              description: Associated Notes about the overdraft rates
              type: array
              items:
                description: maxLength 2000 text
                type: string
                minLength: 1
                maxLength: 2000
            OverdraftTierBandSet:
              title: OverdraftTierBandSet
              description: Tier band set details
              type: array
              minItems: 1
              items:
                description: Tier band set details
                type: object
                properties:
                  TierBandMethod:
                    title: TierBandMethod
                    description: 'The methodology of how overdraft is charged. It can be: ''Whole'' Where the same charge/rate is applied to the entirety of the overdraft balance (where charges are applicable).  ''Tiered'' Where different charges/rates are applied dependent on overdraft maximum and minimum balance amount tiers defined by the lending financial organisation. ''Banded'' Where different charges/rates are applied dependent on overdraft maximum and minimum balance amount bands defined by a government organisation.

                      '
                    type: string
                    enum:
                    - Tiered
                    - Whole
                    - Banded
                  OverdraftType:
                    title: OverdraftType
                    description: An overdraft can either be 'committed' which means that the facility cannot be withdrawn without reasonable notification before it's agreed end date, or 'on demand' which means that the financial institution can demand repayment at any point in time.
                    type: string
                    enum:
                    - Committed
                    - OnDemand
                    - Other
                  Identification:
                    title: Identification
                    description: Unique and unambiguous identification of a Tier Band for a overdraft product.
                    type: string
                    minLength: 1
                    maxLength: 35
                  AuthorisedIndicator:
                    title: AuthorisedIndicator
                    description: Indicates if the Overdraft is authorised (Y) or unauthorised (N)
                    type: boolean
                  BufferAmount:
                    title: BufferAmount
                    description: 'When a customer exceeds their credit limit, a financial institution will not charge the customer unauthorised overdraft charges if they do not exceed by more than the buffer amount. Note: Authorised overdraft charges may still apply.'
                    type: string
                    pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                  Notes:
                    title: Notes
                    description: Optional additional notes to supplement the overdraft Tier Band Set details
                    type: array
                    items:
                      description: maxLength 2000 text
                      type: string
                      minLength: 1
                      maxLength: 2000
                  OverdraftTierBand:
                    title: OverdraftTierBand
                    description: Provides overdraft details for a specific tier or band
                    type: array
                    minItems: 1
                    items:
                      description: Provides overdraft details for a specific tier or band
                      type: object
                      properties:
                        Identification:
                          title: Identification
                          description: Unique and unambiguous identification of a Tier Band for a overdraft.
                          type: string
                          minLength: 1
                          maxLength: 35
                        TierValueMin:
                          title: TierValueMin
                          description: Minimum value of Overdraft Tier/Band
                          type: string
                          pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                        TierValueMax:
                          title: TierValueMax
                          description: Maximum value of Overdraft Tier/Band
                          type: string
                          pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                        OverdraftInterestChargingCoverage:
                          title: OverdraftInterestChargingCoverage
                          description: Interest charged on whole amount or tiered/banded
                          type: string
                          enum:
                          - Tiered
                          - Whole
                        BankGuaranteedIndicator:
                          title: BankGuaranteedIndicator
                          description: Indicates that a bank provides the overdraft limit up to TierValueMIn to all customers automatically
                          type: boolean
                        EAR:
                          title: EAR
                          description: 'EAR means Effective Annual Rate and/or Equivalent Annual Rate (frequently used interchangeably), being the actual annual interest rate of an Overdraft.

                            '
                          type: string
                          pattern: ^(-?\d{1,3}){1}(\.\d{1,4}){0,1}$
                        RepresentativeAPR:
                          title: RepresentativeAPR
                          description: An annual percentage rate (APR) is the annual rate charged for borrowing or earned through an investment. APR is expressed as a percentage that represents the actual yearly cost of funds over the term of a loan. This includes any fees or additional costs associated with the transaction but does not take compounding into account.
                          type: string
                          pattern: ^(-?\d{1,3}){1}(\.\d{1,4}){0,1}$
                        Notes:
                          title: Notes
                          description: Optional additional notes to supplement the Tier/band details
                          type: array
                          items:
                            description: maxLength 2000 text
                            type: string
                            minLength: 1
                            maxLength: 2000
                        OverdraftFeesCharges:
                          title: OverdraftFeesCharges
                          description: Overdraft fees and charges
                          type: array
                          items:
                            description: Overdraft fees and charges
                            type: object
                            properties:
                              OverdraftFeeChargeCap:
                                title: OverdraftFeeChargeCap
                                description: Details about any caps (maximum charges) that apply to a particular fee/charge
                                type: array
                                items:
                                  description: Details about any caps (maximum charges) that apply to a particular fee/charge
                                  type: object
                                  properties:
                                    FeeType:
                                      title: FeeType
                                      description: Fee/charge type which is being capped
                                      type: array
                                      minItems: 1
                                      items:
                                        description: Overdraft fee type
                                        type: string
                                        enum:
                                        - ArrangedOverdraft
                                        - EmergencyBorrowing
                                        - BorrowingItem
                                        - OverdraftRenewal
                                        - AnnualReview
                                        - OverdraftSetup
                                        - Surcharge
                                        - TempOverdraft
                                        - UnauthorisedBorrowing
                                        - UnauthorisedPaidTrans
                                        - Other
                                        - UnauthorisedUnpaidTrans
                                    OverdraftControlIndicator:
                                      title: OverdraftControlIndicator
                                      description: Specifies for the overdraft control feature/benefit
                                      type: boolean
                                    MinMaxType:
                                      title: MinMaxType
                                      description: Indicates that this is the minimum/ maximum fee/charge that can be applied by the financial institution
                                      type: string
                                      enum:
                                      - Minimum
                                      - Maximum
                                    FeeCapOccurrence:
                                      title: FeeCapOccurrence
                                      description: fee/charges are captured dependent on the number of occurrences rather than capped at a particular amount
                                      type: number
                                      format: float
                                    FeeCapAmount:
                                      title: FeeCapAmount
                                      description: Cap amount charged for a fee/charge
                                      type: string
                                      pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                                    CappingPeriod:
                                      title: CappingPeriod
                                      description: Period e.g. day, week, month etc. for which the fee/charge is capped
                                      type: string
                                      enum:
                                      - AcademicTerm
                                      - Day
                                      - Half Year
                                      - Month
                                      - Quarter
                                      - Week
                                      - Year
                                    Notes:
                                      title: Notes
                                      description: Notes related to Overdraft fee charge cap
                                      type: array
                                      items:
                                        description: maxLength 2000 text
                                        type: string
                                        minLength: 1
                                        maxLength: 2000
                                    OtherFeeType:
                                      title: OtherFeeType
                                      description: Other fee type code which is not available in the standard code set
                                      type: array
                                      items:
                                        description: Other fee type code which is not available in the standard code set
                                        type: object
                                        properties:
                                          Code:
                                            title: Code
                                            description: The four letter Mnemonic used within an XML file to identify a code
                                            type: string
                                            pattern: ^\w{0,4}$
                                            minLength: 0
                                            maxLength: 4
                                          Name:
                                            title: Name
                                            description: Long name associated with the code
                                            type: string
                                            minLength: 1
                                            maxLength: 70
                                          Description:
                                            title: Description
                                            description: Description to describe the purpose of the code
                                            type: string
                                            minLength: 1
                                            maxLength: 350
                                        required:
                                        - Name
                                        - Description
                                  required:
                                  - FeeType
                                  - MinMaxType
                              OverdraftFeeChargeDetail:
                                title: OverdraftFeeChargeDetail
                                description: Details about the fees/charges
                                type: array
                                minItems: 1
                                items:
                                  description: Details about the fees/charges
                                  type: object
                                  properties:
                                    FeeType:
                                      title: FeeType
                                      description: Overdraft fee type
                                      type: string
                                      enum:
                                      - ArrangedOverdraft
                                      - EmergencyBorrowing
                                      - BorrowingItem
                                      - OverdraftRenewal
                                      - AnnualReview
                                      - OverdraftSetup
                                      - Surcharge
                                      - TempOverdraft
                                      - UnauthorisedBorrowing
                                      - UnauthorisedPaidTrans
                                      - Other
                                      - UnauthorisedUnpaidTrans
                                    OverdraftControlIndicator:
                                      title: OverdraftControlIndicator
                                      description: Specifies for the overdraft control feature/benefit
                                      type: boolean
                                    IncrementalBorrowingAmount:
                                      title: IncrementalBorrowingAmount
                                      description: Every additional tranche of an overdraft balance to which an overdraft fee is applied
                                      type: string
                                      pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                                    FeeAmount:
                                      title: FeeAmount
                                      description: Amount charged for an overdraft fee/charge (where it is charged in terms of an amount rather than a rate)
                                      type: string
                                      pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                                    FeeRate:
                                      title: FeeRate
                                      description: Rate charged for overdraft fee/charge (where it is charged in terms of a rate rather than an amount)
                                      type: string
                                      pattern: ^(-?\d{1,3}){1}(\.\d{1,4}){0,1}$
                                    FeeRateType:
                                      title: FeeRateType
                                      description: Rate type for overdraft fee/charge (where it is charged in terms of a rate rather than an amount)
                                      type: string
                                      enum:
                                      - LinkedBaseRate
                                      - Gross
                                      - Net
                                      - Other
                                    ApplicationFrequency:
                                      title: ApplicationFrequency
                                      description: Frequency at which the overdraft charge is applied to the account
                                      type: string
                                      enum:
                                      - AccountClosing
                                      - AccountOpening
                                      - AcademicTerm
                                      - ChargingPeriod
                                      - Daily
                                      - PerItem
                                      - Monthly
                                      - OnAccountAnniversary
                                      - Other
                                      - PerHour
                                      - PerOccurrence
                                      - PerSheet
                                      - PerTransaction
                                      - PerTransactionAmount
                                      - PerTransactionPercentage
                                      - Quarterly
                                      - SixMonthly
                                      - StatementMonthly
                                      - Weekly
                                      - Yearly
                                    CalculationFrequency:
                                      title: CalculationFrequency
                                      description: How often is the overdraft fee/charge calculated for the account.
                                      type: string
                                      enum:
                                      - AccountClosing
                                      - AccountOpening
                                      - AcademicTerm
                                      - ChargingPeriod
                                      - Daily
                                      - PerItem
                                      - Monthly
                                      - OnAccountAnniversary
                                      - Other
                                      - PerHour
                                      - PerOccurrence
                                      - PerSheet
                                      - PerTransaction
                                      - PerTransactionAmount
                                      - PerTransactionPercentage
                                      - Quarterly
                                      - SixMonthly
                                      - StatementMonthly
                                      - Weekly
                                      - Yearly
                                    Notes:
                                      title: Notes
                                      description: Free text for capturing any other info related to Overdraft Fees Charge Details
                                      type: array
                                      items:
                                        description: maxLength 2000 text
                                        type: string
                                        minLength: 1
                                        maxLength: 2000
                                    OtherFeeType:
                                      title: OtherFeeType
                                      description: Other Fee type which is not available in the standard code set
                                      type: object
                                      additionalProperties: false
                                      required:
                                      - Name
                                      - Description
                                      properties:
                                        Code:
                                          title: Code
                                          description: The four letter Mnemonic used within an XML file to identify a code
                                          type: string
                                          pattern: ^\w{0,4}$
                                          minLength: 0
                                          maxLength: 4
                                        Name:
                                          title: Name
                                          description: Long name associated with the code
                                          type: string
                                          minLength: 1
                                          maxLength: 70
                                        Description:
                                          title: Description
                                          description: Description to describe the purpose of the code
                                          type: string
                                          minLength: 1
                                          maxLength: 350
                                    OtherFeeRateType:
                                      title: OtherFeeRateType
                                      description: Other fee rate type code which is not available in the standard code set
                                      type: object
                                      additionalProperties: false
                                      required:
                                      - Name
                                      - Description
                                      properties:
                                        Code:
                                          title: Code
                                          description: The four letter Mnemonic used within an XML file to identify a code
                                          type: string
                                          pattern: ^\w{0,4}$
                                          minLength: 0
                                          maxLength: 4
                                        Name:
                                          title: Name
                                          description: Long name associated with the code
                                          type: string
                                          minLength: 1
                                          maxLength: 70
                                        Description:
                                          title: Description
                                          description: Description to describe the purpose of the code
                                          type: string
                                          minLength: 1
                                          maxLength: 350
                                    OtherApplicationFrequency:
                                      title: OtherApplicationFrequency
                                      description: Other application frequencies that are not available in the standard code list
                                      type: object
                                      additionalProperties: false
                                      required:
                                      - Name
                                      - Description
                                      properties:
                                        Code:
                                          title: Code
                                          description: The four letter Mnemonic used within an XML file to identify a code
                                          type: string
                                          pattern: ^\w{0,4}$
                                          minLength: 0
                                          maxLength: 4
                                        Name:
                                          title: Name
                                          description: Long name associated with the code
                                          type: string
                                          minLength: 1
                                          maxLength: 70
                                        Description:
                                          title: Description
                                          description: Description to describe the purpose of the code
                                          type: string
                                          minLength: 1
                                          maxLength: 350
                                    OtherCalculationFrequency:
                                      title: OtherCalculationFrequency
                                      description: Other calculation frequency which is not available in the standard code set.
                                      type: object
                                      additionalProperties: false
                                      required:
                                      - Name
                                      - Description
                                      properties:
                                        Code:
                                          title: Code
                                          description: The four letter Mnemonic used within an XML file to identify a code
                                          type: string
                                          pattern: ^\w{0,4}$
                                          minLength: 0
                                          maxLength: 4
                                        Name:
                                          title: Name
                                          description: Long name associated with the code
                                          type: string
                                          minLength: 1
                                          maxLength: 70
                                        Description:
                                          title: Description
                                          description: Description to describe the purpose of the code
                                          type: string
                                          minLength: 1
                                          maxLength: 350
                                    OverdraftFeeChargeCap:
                                      title: OverdraftFeeChargeCap
                                      description: Details about any caps (maximum charges) that apply to a particular fee/charge
                                      type: object
                                      additionalProperties: false
                                      required:
                                      - FeeType
                                      - MinMaxType
                                      properties:
                                        FeeType:
                                          title: FeeType
                                          description: Fee/charge type which is being capped
                                          type: array
                                          minItems: 1
                                          items:
                                            description: Overdraft fee type
                                            type: string
                                            enum:
                                            - ArrangedOverdraft
                                            - EmergencyBorrowing
                                            - BorrowingItem
                                            - OverdraftRenewal
                                            - AnnualReview
                                            - OverdraftSetup
                                            - Surcharge
                                            - TempOverdraft
                                            - UnauthorisedBorrowing
                                            - UnauthorisedPaidTrans
                                            - Other
                                            - UnauthorisedUnpaidTrans
                                        OverdraftControlIndicator:
                                          title: OverdraftControlIndicator
                                          description: Specifies for the overdraft control feature/benefit
                                          type: boolean
                                        MinMaxType:
                                          title: MinMaxType
                                          description: Indicates that this is the minimum/ maximum fee/charge that can be applied by the financial institution
                                          type: string
                                          enum:
                                          - Minimum
                                          - Maximum
                                        FeeCapOccurrence:
                                          title: FeeCapOccurrence
                                          description: fee/charges are captured dependent on the number of occurrences rather than capped at a particular amount
                                          type: number
                                          format: float
                                        FeeCapAmount:
                                          title: FeeCapAmount
                                          description: Cap amount charged for a fee/charge
                                          type: string
                                          pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                                        CappingPeriod:
                                          title: CappingPeriod
                                          description: Period e.g. day, week, month etc. for which the fee/charge is capped
                                          type: string
                                          enum:
                                          - AcademicTerm
                                          - Day
                                          - Half Year
                                          - Month
                                          - Quarter
                                          - Week
                                          - Year
                                        Notes:
                                          title: Notes
                                          description: Notes related to Overdraft fee charge cap
                                          type: array
                                          items:
                                            description: maxLength 2000 text
                                            type: string
                                            minLength: 1
                                            maxLength: 2000
                                        OtherFeeType:
                                          title: OtherFeeType
                                          description: Other fee type code which is not available in the standard code set
                                          type: array
                                          items:
                                            description: Other fee type code which is not available in the standard code set
                                            type: object
                                            properties:
                                              Code:
                                                title: Code
                                                description: The four letter Mnemonic used within an XML file to identify a code
                                                type: string
                                                pattern: ^\w{0,4}$
                                                minLength: 0
                                                maxLength: 4
                                              Name:
                                                title: Name
                                                description: Long name associated with the code
                                                type: string
                                                minLength: 1
                                                maxLength: 70
                                              Description:
                                                title: Description
                                                description: Description to describe the purpose of the code
                                                type: string
                                                minLength: 1
                                                maxLength: 350
                                            required:
                                            - Name
                                            - Description
                                  required:
                                  - FeeType
                                  - ApplicationFrequency
                            required:
                            - OverdraftFeeChargeDetail
                      required:
                      - TierValueMin
                  OverdraftFeesCharges:
                    title: OverdraftFeesCharges
                    description: Overdraft fees and charges details
                    type: array
                    items:
                      description: Overdraft fees and charges details
                      type: object
                      properties:
                        OverdraftFeeChargeCap:
                          title: OverdraftFeeChargeCap
                          description: Details about any caps (maximum charges) that apply to a particular fee/charge
                          type: array
                          items:
                            description: Details about any caps (maximum charges) that apply to a particular fee/charge
                            type: object
                            properties:
                              FeeType:
                                title: FeeType
                                description: Fee/charge type which is being capped
                                type: array
                                minItems: 1
                                items:
                                  description: Overdraft fee type
                                  type: string
                                  enum:
                                  - ArrangedOverdraft
                                  - EmergencyBorrowing
                                  - BorrowingItem
                                  - OverdraftRenewal
                                  - AnnualReview
                                  - OverdraftSetup
                                  - Surcharge
                                  - TempOverdraft
                                  - UnauthorisedBorrowing
                                  - UnauthorisedPaidTrans
                                  - Other
                                  - UnauthorisedUnpaidTrans
                              OverdraftControlIndicator:
                                title: OverdraftControlIndicator
                                description: Specifies for the overdraft control feature/benefit
                                type: boolean
                              MinMaxType:
                                title: MinMaxType
                                description: Indicates that this is the minimum/ maximum fee/charge that can be applied by the financial institution
                                type: string
                                enum:
                                - Minimum
                                - Maximum
                              FeeCapOccurrence:
                                title: FeeCapOccurrence
                                description: fee/charges are captured dependent on the number of occurrences rather than capped at a particular amount
                                type: number
                                format: float
                              FeeCapAmount:
                                title: FeeCapAmount
                                description: Cap amount charged for a fee/charge
                                type: string
                                pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                              CappingPeriod:
                                title: CappingPeriod
                                description: Period e.g. day, week, month etc. for which the fee/charge is capped
                                type: string
                                enum:
                                - AcademicTerm
                                - Day
                                - Half Year
                                - Month
                                - Quarter
                                - Week
                                - Year
                              Notes:
                                title: Notes
                                description: Notes related to Overdraft fee charge cap
                                type: array
                                items:
                                  description: maxLength 2000 text
                                  type: string
                                  minLength: 1
                                  maxLength: 2000
                              OtherFeeType:
                                title: OtherFeeType
                                description: Other fee type code which is not available in the standard code set
                                type: array
                                items:
                                  description: Other fee type code which is not available in the standard code set
                                  type: object
                                  properties:
                                    Code:
                                      title: Code
                                      description: The four letter Mnemonic used within an XML file to identify a code
                                      type: string
                                      pattern: ^\w{0,4}$
                                      minLength: 0
                                      maxLength: 4
                                    Name:
                                      title: Name
                                      description: Long name associated with the code
                                      type: string
                                      minLength: 1
                                      maxLength: 70
                                    Description:
                                      title: Description
                                      description: Description to describe the purpose of the code
                                      type: string
                                      minLength: 1
                                      maxLength: 350
                                  required:
                                  - Name
                                  - Description
                            required:
                            - FeeType
                            - MinMaxType
                        OverdraftFeeChargeDetail:
                          title: OverdraftFeeChargeDetail
                          description: Details about the fees/charges
                          type: array
                          minItems: 1
                          items:
                            description: Details about the fees/charges
                            type: object
                            properties:
                              FeeType:
                                title: FeeType
                                description: Overdraft fee type
                                type: string
                                enum:
                                - ArrangedOverdraft
                                - EmergencyBorrowing
                                - BorrowingItem
                                - OverdraftRenewal
                                - AnnualReview
                                - OverdraftSetup
                                - Surcharge
                                - TempOverdraft
                                - UnauthorisedBorrowing
                                - UnauthorisedPaidTrans
                                - Other
                                - UnauthorisedUnpaidTrans
                              OverdraftControlIndicator:
                                title: OverdraftControlIndicator
                                description: Specifies for the overdraft control feature/benefit
                                type: boolean
                              IncrementalBorrowingAmount:
                                title: IncrementalBorrowingAmount
                                description: Every additional tranche of an overdraft balance to which an overdraft fee is applied
                                type: string
                                pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                              FeeAmount:
                                title: FeeAmount
                                description: Amount charged for an overdraft fee/charge (where it is charged in terms of an amount rather than a rate)
                                type: string
                                pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                              FeeRate:
                                title: FeeRate
                                description: Rate charged for overdraft fee/charge (where it is charged in terms of a rate rather than an amount)
                                type: string
                                pattern: ^(-?\d{1,3}){1}(\.\d{1,4}){0,1}$
                              FeeRateType:
                                title: FeeRateType
                                description: Rate type for overdraft fee/charge (where it is charged in terms of a rate rather than an amount)
                                type: string
                                enum:
                                - LinkedBaseRate
                                - Gross
                                - Net
                                - Other
                              ApplicationFrequency:
                                title: ApplicationFrequency
                                description: Frequency at which the overdraft charge is applied to the account
                                type: string
                                enum:
                                - AccountClosing
                                - AccountOpening
                                - AcademicTerm
                                - ChargingPeriod
                                - Daily
                                - PerItem
                                - Monthly
                                - OnAccountAnniversary
                                - Other
                                - PerHour
                                - PerOccurrence
                                - PerSheet
                                - PerTransaction
                                - PerTransactionAmount
                                - PerTransactionPercentage
                                - Quarterly
                                - SixMonthly
                                - StatementMonthly
                                - Weekly
                                - Yearly
                              CalculationFrequency:
                                title: CalculationFrequency
                                description: How often is the overdraft fee/charge calculated for the account.
                                type: string
                                enum:
                                - AccountClosing
                                - AccountOpening
                                - AcademicTerm
                                - ChargingPeriod
                                - Daily
                                - PerItem
                                - Monthly
                                - OnAccountAnniversary
                                - Other
                                - PerHour
                                - PerOccurrence
                                - PerSheet
                                - PerTransaction
                                - PerTransactionAmount
                                - PerTransactionPercentage
                                - Quarterly
                                - SixMonthly
                                - StatementMonthly
                                - Weekly
                                - Yearly
                              Notes:
                                title: Notes
                                description: Free text for capturing any other info related to Overdraft Fees Charge Details
                                type: array
                                items:
                                  description: maxLength 2000 text
                                  type: string
                                  minLength: 1
                                  maxLength: 2000
                              OtherFeeType:
                                title: OtherFeeType
                                description: Other Fee type which is not available in the standard code set
                                type: object
                                additionalProperties: false
                                required:
                                - Name
                                - Description
                                properties:
                                  Code:
                                    title: Code
                                    description: The four letter Mnemonic used within an XML file to identify a code
                                    type: string
                                    pattern: ^\w{0,4}$
                                    minLength: 0
                                    maxLength: 4
                                  Name:
                                    title: Name
                                    description: Long name associated with the code
                                    type: string
                                    minLength: 1
                                    maxLength: 70
                                  Description:
                                    title: Description
                                    description: Description to describe the purpose of the code
                                    type: string
                                    minLength: 1
                                    maxLength: 350
                              OtherFeeRateType:
                                title: OtherFeeRateType
                                description: Other fee rate type code which is not available in the standard code set
                                type: object
                                additionalProperties: false
                                required:
                                - Name
                                - Description
                                properties:
                                  Code:
                                    title: Code
                                    description: The four letter Mnemonic used within an XML file to identify a code
                                    type: string
                                    pattern: ^\w{0,4}$
                                    minLength: 0
                                    maxLength: 4
                                  Name:
                                    title: Name
                                    description: Long name associated with the code
                                    type: string
                                    minLength: 1
                                    maxLength: 70
                                  Description:
                                    title: Description
                                    description: Description to describe the purpose of the code
                                    type: string
                                    minLength: 1
                                    maxLength: 350
                              OtherApplicationFrequency:
                                title: OtherApplicationFrequency
                                description: Other application frequencies that are not available in the standard code list
                                type: object
                                additionalProperties: false
                                required:
                                - Name
                                - Description
                                properties:
                                  Code:
                                    title: Code
                                    description: The four letter Mnemonic used within an XML file to identify a code
                                    type: string
                                    pattern: ^\w{0,4}$
                                    minLength: 0
                                    maxLength: 4
                                  Name:
                                    title: Name
                                    description: Long name associated with the code
                                    type: string
                                    minLength: 1
                                    maxLength: 70
                                  Description:
                                    title: Description
                                    description: Description to describe the purpose of the code
                                    type: string
                                    minLength: 1
                                    maxLength: 350
                              OtherCalculationFrequency:
                                title: OtherCalculationFrequency
                                description: Other calculation frequency which is not available in the standard code set.
                                type: object
                                additionalProperties: false
                                required:
                                - Name
                                - Description
                                properties:
                                  Code:
                                    title: Code
                                    description: The four letter Mnemonic used within an XML file to identify a code
                                    type: string
                                    pattern: ^\w{0,4}$
                                    minLength: 0
                                    maxLength: 4
                                  Name:
                                    title: Name
                                    description: Long name associated with the code
                                    type: string
                                    minLength: 1
                                    maxLength: 70
                                  Description:
                                    title: Description
                                    description: Description to describe the purpose of the code
                                    type: string
                                    minLength: 1
                                    maxLength: 350
                              OverdraftFeeChargeCap:
                                title: OverdraftFeeChargeCap
                                description: Details about any caps (maximum charges) that apply to a particular fee/charge
                                type: object
                                additionalProperties: false
                                required:
                                - FeeType
                                - MinMaxType
                                properties:
                                  FeeType:
                                    title: FeeType
                                    description: Fee/charge type which is being capped
                                    type: array
                                    minItems: 1
                                    items:
                                      description: Overdraft fee type
                                      type: string
                                      enum:
                                      - ArrangedOverdraft
                                      - EmergencyBorrowing
                                      - BorrowingItem
                                      - OverdraftRenewal
                                      - AnnualReview
                                      - OverdraftSetup
                                      - Surcharge
                                      - TempOverdraft
                                      - UnauthorisedBorrowing
                                      - UnauthorisedPaidTrans
                                      - Other
                                      - UnauthorisedUnpaidTrans
                                  OverdraftControlIndicator:
                                    title: OverdraftControlIndicator
                                    description: Specifies for the overdraft control feature/benefit
                                    type: boolean
                                  MinMaxType:
                                    title: MinMaxType
                                    description: Indicates that this is the minimum/ maximum fee/charge that can be applied by the financial institution
                                    type: string
                                    enum:
                                    - Minimum
                                    - Maximum
                                  FeeCapOccurrence:
                                    title: FeeCapOccurrence
                                    description: fee/charges are captured dependent on the number of occurrences rather than capped at a particular amount
                                    type: number
                                    format: float
                                  FeeCapAmount:
                                    title: FeeCapAmount
                                    description: Cap amount charged for a fee/charge
                                    type: string
                                    pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                                  CappingPeriod:
                                    title: CappingPeriod
                                    description: Period e.g. day, week, month etc. for which the fee/charge is capped
                                    type: string
                                    enum:
                                    - AcademicTerm
                                    - Day
                                    - Half Year
                                    - Month
                                    - Quarter
                                    - Week
                                    - Year
                                  Notes:
                                    title: Notes
                                    description: Notes related to Overdraft fee charge cap
                                    type: array
                                    items:
                                      description: maxLength 2000 text
                                      type: string
                                      minLength: 1
                                      maxLength: 2000
                                  OtherFeeType:
                                    title: OtherFeeType
                                    description: Other fee type code which is not available in the standard code set
                                    type: array
                                    items:
                                      description: Other fee type code which is not available in the standard code set
                                      type: object
                                      properties:
                                        Code:
                                          title: Code
                                          description: The four letter Mnemonic used within an XML file to identify a code
                                          type: string
                                          pattern: ^\w{0,4}$
                                          minLength: 0
                                          maxLength: 4
                                        Name:
                                          title: Name
                                          description: Long name associated with the code
                                          type: string
                                          minLength: 1
                                          maxLength: 70
                                        Description:
                                          title: Description
                                          description: Description to describe the purpose of the code
                                          type: string
                                          minLength: 1
                                          maxLength: 350
                                      required:
                                      - Name
                                      - Description
                            required:
                            - FeeType
                            - ApplicationFrequency
                      required:
                      - OverdraftFeeChargeDetail
                required:
                - TierBandMethod
                - OverdraftTierBand
        OtherFeesCharges:
          title: OtherFeesCharges
          description: Contains details of fees and charges which are not associated with either borrowing or features/benefits
          type: object
          additionalProperties: false
          required:
          - FeeChargeDetail
          properties:
            FeeChargeDetail:
              title: FeeChargeDetail
              description: Other fees/charges details
              type: array
              minItems: 1
              items:
                description: Other fees/charges details
                type: object
                properties:
                  FeeCategory:
                    title: FeeCategory
                    description: Categorisation of fees and charges into standard categories.
                    type: string
                    enum:
                    - Other
                    - Servicing
                  FeeType:
                    title: FeeType
                    description: Fee/Charge Type
                    type: string
                    enum:
                    - ServiceCAccountFee
                    - ServiceCAccountFeeMonthly
                    - ServiceCOther
                    - Other
                  FeeAmount:
                    title: FeeAmount
                    description: Fee Amount charged for a fee/charge (where it is charged in terms of an amount rather than a rate)
                    type: string
                    pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                  FeeRate:
                    title: FeeRate
                    description: Rate charged for Fee/Charge (where it is charged in terms of a rate rather than an amount)
                    type: string
                    pattern: ^(-?\d{1,3}){1}(\.\d{1,4}){0,1}$
                  FeeRateType:
                    title: FeeRateType
                    description: Rate type for Fee/Charge (where it is charged in terms of a rate rather than an amount)
                    type: string
                    enum:
                    - LinkedBaseRate
                    - Gross
                    - Net
                    - Other
                  ApplicationFrequency:
                    title: ApplicationFrequency
                    description: How frequently the fee/charge is applied to the account
                    type: string
                    enum:
                    - AccountClosing
                    - AccountOpening
                    - AcademicTerm
                    - ChargingPeriod
                    - Daily
                    - PerItem
                    - Monthly
                    - OnAccountAnniversary
                    - Other
                    - PerHour
                    - PerOccurrence
                    - PerSheet
                    - PerTransaction
                    - PerTransactionAmount
                    - PerTransactionPercentage
                    - Quarterly
                    - SixMonthly
                    - StatementMonthly
                    - Weekly
                    - Yearly
                  CalculationFrequency:
                    title: CalculationFrequency
                    description: How frequently the fee/charge is calculated
                    type: string
                    enum:
                    - AccountClosing
                    - AccountOpening
                    - AcademicTerm
                    - ChargingPeriod
                    - Daily
                    - PerItem
                    - Monthly
                    - OnAccountAnniversary
                    - Other
                    - PerHour
                    - PerOccurrence
                    - PerSheet
                    - PerTransaction
                    - PerTransactionAmount
                    - PerTransactionPercentage
                    - Quarterly
                    - SixMonthly
                    - StatementMonthly
                    - Weekly
                    - Yearly
                  Notes:
                    title: Notes
                    description: Optional additional notes to supplement the fee/charge details.
                    type: array
                    items:
                      description: maxLength 2000 text
                      type: string
                      minLength: 1
                      maxLength: 2000
                  OtherFeeCategoryType:
                    title: OtherFeeCategoryType
                    type: object
                    additionalProperties: false
                    required:
                    - Name
                    - Description
                    properties:
                      Code:
                        title: Code
                        description: The four letter Mnemonic used within an XML file to identify a code
                        type: string
                        pattern: ^\w{0,4}$
                        minLength: 0
                        maxLength: 4
                      Name:
                        title: Name
                        description: Long name associated with the code
                        type: string
                        minLength: 1
                        maxLength: 70
                      Description:
                        title: Description
                        description: Description to describe the purpose of the code
                        type: string
                        minLength: 1
                        maxLength: 350
                  OtherFeeType:
                    title: OtherFeeType
                    description: Other Fee/charge type which is not available in the standard code set
                    type: object
                    additionalProperties: false
                    required:
                    - Name
                    - Description
                    properties:
                      Code:
                        title: Code
                        description: The four letter Mnemonic used within an XML file to identify a code
                        type: string
                        pattern: ^\w{0,4}$
                        minLength: 0
                        maxLength: 4
                      FeeCategory:
                        title: FeeCategory
                        description: Categorisation of fees and charges into standard categories.
                        type: string
                        enum:
                        - Other
                        - Servicing
                      Name:
                        title: Name
                        description: Long name associated with the code
                        type: string
                        minLength: 1
                        maxLength: 70
                      Description:
                        title: Description
                        description: Description to describe the purpose of the code
                        type: string
                        minLength: 1
                        maxLength: 350
                  OtherFeeRateType:
                    title: OtherFeeRateType
                    description: Other fee rate type which is not available in the standard code set
                    type: object
                    additionalProperties: false
                    required:
                    - Name
                    - Description
                    properties:
                      Code:
                        title: Code
                        description: The four letter Mnemonic used within an XML file to identify a code
                        type: string
                        pattern: ^\w{0,4}$
                        minLength: 0
                        maxLength: 4
                      Name:
                        title: Name
                        description: Long name associated with the code
                        type: string
                        minLength: 1
                        maxLength: 70
                      Description:
                        title: Description
                        description: Description to describe the purpose of the code
                        type: string
                        minLength: 1
                        maxLength: 350
                  OtherApplicationFrequency:
                    title: OtherApplicationFrequency
                    description: Other application frequencies not covered in the standard code list
                    type: object
                    additionalProperties: false
                    required:
                    - Name
                    - Description
                    properties:
                      Code:
                        title: Code
                        description: The four letter Mnemonic used within an XML file to identify a code
                        type: string
                        pattern: ^\w{0,4}$
                        minLength: 0
                        maxLength: 4
                      Name:
                        title: Name
                        description: Long name associated with the code
                        type: string
                        minLength: 1
                        maxLength: 70
                      Description:
                        title: Description
                        description: Description to describe the purpose of the code
                        type: string
                        minLength: 1
                        maxLength: 350
                  OtherCalculationFrequency:
                    title: OtherCalculationFrequency
                    description: Other calculation frequency which is not available in standard code set.
                    type: object
                    additionalProperties: false
                    required:
                    - Name
                    - Description
                    properties:
                      Code:
                        title: Code
                        description: The four letter Mnemonic used within an XML file to identify a code
                        type: string
                        pattern: ^\w{0,4}$
                        minLength: 0
                        maxLength: 4
                      Name:
                        title: Name
                        description: Long name associated with the code
                        type: string
                        minLength: 1
                        maxLength: 70
                      Description:
                        title: Description
                        description: Description to describe the purpose of the code
                        type: string
                        minLength: 1
                        maxLength: 350
                  FeeChargeCap:
                    title: FeeChargeCap
                    description: Details about any caps (maximum charges) that apply to a particular fee/charge
                    type: array
                    items:
                      description: Details about any caps (maximum charges) that apply to a particular fee/charge
                      type: object
                      properties:
                        FeeType:
                          title: FeeType
                          description: Fee/charge type which is being capped
                          type: array
                          minItems: 1
                          items:
                            description: Fee/charge type which is being capped
                            type: string
                            enum:
                            - ServiceCAccountFee
                            - ServiceCAccountFeeMonthly
                            - ServiceCOther
                            - Other
                        MinMaxType:
                          title: MinMaxType
                          description: Indicates that this is the minimum/ maximum fee/charge that can be applied by the financial institution
                          type: string
                          enum:
                          - Minimum
                          - Maximum
                        FeeCapOccurrence:
                          title: FeeCapOccurrence
                          description: fee/charges are captured dependent on the number of occurrences rather than capped at a particular amount
                          type: number
                          format: float
                        FeeCapAmount:
                          title: FeeCapAmount
                          description: Cap amount charged for a fee/charge (where it is charged in terms of an amount rather than a rate)
                          type: string
                          pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                        CappingPeriod:
                          title: CappingPeriod
                          description: Period e.g. day, week, month etc. for which the fee/charge is capped
                          type: string
                          enum:
                          - AcademicTerm
                          - Day
                          - Half Year
                          - Month
                          - Quarter
                          - Week
                          - Year
                        Notes:
                          title: Notes
                          description: Free text for adding extra details for fee charge cap
                          type: array
                          items:
                            description: maxLength 2000 text
                            type: string
                            minLength: 1
                            maxLength: 2000
                        OtherFeeType:
                          title: OtherFeeType
                          description: Other fee type code which is not available in the standard code set
                          type: array
                          items:
                            description: Other fee type code which is not available in the standard code set
                            type: object
                            properties:
                              Code:
                                title: Code
                                description: The four letter Mnemonic used within an XML file to identify a code
                                type: string
                                pattern: ^\w{0,4}$
                                minLength: 0
                                maxLength: 4
                              Name:
                                title: Name
                                description: Long name associated with the code
                                type: string
                                minLength: 1
                                maxLength: 70
                              Description:
                                title: Description
                                description: Description to describe the purpose of the code
                                type: string
                                minLength: 1
                                maxLength: 350
                            required:
                            - Name
                            - Description
                      required:
                      - FeeType
                      - MinMaxType
                  FeeApplicableRange:
                    title: FeeApplicableRange
                    description: Range or amounts or rates for which the fee/charge applies
                    type: object
                    additionalProperties: false
                    properties:
                      MinimumAmount:
                        title: MinimumAmount
                        description: Minimum Amount on which fee/charge is applicable (where it is expressed as an amount)
                        type: string
                        pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                      MaximumAmount:
                        title: MaximumAmount
                        description: Maximum Amount on which fee is applicable (where it is expressed as an amount)
                        type: string
                        pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                      MinimumRate:
                        title: MinimumRate
                        description: Minimum rate on which fee/charge is applicable(where it is expressed as an rate)
                        type: string
                        pattern: ^(-?\d{1,3}){1}(\.\d{1,4}){0,1}$
                      MaximumRate:
                        title: MaximumRate
                        description: Maximum rate on which fee/charge is applicable(where it is expressed as an rate)
                        type: string
                        pattern: ^(-?\d{1,3}){1}(\.\d{1,4}){0,1}$
                required:
                - FeeCategory
                - FeeType
                - ApplicationFrequency
            FeeChargeCap:
              title: FeeChargeCap
              description: Details about any caps (maximum charges) that apply to a particular fee/charge
              type: array
              items:
                description: Details about any caps (maximum charges) that apply to a particular fee/charge
                type: object
                properties:
                  FeeType:
                    title: FeeType
                    description: Fee/charge type which is being capped
                    type: array
                    minItems: 1
                    items:
                      description: Fee/charge type which is being capped
                      type: string
                      enum:
                      - ServiceCAccountFee
                      - ServiceCAccountFeeMonthly
                      - ServiceCOther
                      - Other
                  MinMaxType:
                    title: MinMaxType
                    description: Indicates that this is the minimum/ maximum fee/charge that can be applied by the financial institution
                    type: string
                    enum:
                    - Minimum
                    - Maximum
                  FeeCapOccurrence:
                    title: FeeCapOccurrence
                    description: fee/charges are captured dependent on the number of occurrences rather than capped at a particular amount
                    type: number
                    format: float
                  FeeCapAmount:
                    title: FeeCapAmount
                    description: Cap amount charged for a fee/charge (where it is charged in terms of an amount rather than a rate)
                    type: string
                    pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                  CappingPeriod:
                    title: CappingPeriod
                    description: Period e.g. day, week, month etc. for which the fee/charge is capped
                    type: string
                    enum:
                    - AcademicTerm
                    - Day
                    - Half Year
                    - Month
                    - Quarter
                    - Week
                    - Year
                  Notes:
                    title: Notes
                    description: Free text for adding extra details for fee charge cap
                    type: array
                    items:
                      description: maxLength 2000 text
                      type: string
                      minLength: 1
                      maxLength: 2000
                  OtherFeeType:
                    title: OtherFeeType
                    description: Other fee type code which is not available in the standard code set
                    type: array
                    items:
                      description: Other fee type code which is not available in the standard code set
                      type: object
                      properties:
                        Code:
                          title: Code
                          description: The four letter Mnemonic used within an XML file to identify a code
                          type: string
                          pattern: ^\w{0,4}$
                          minLength: 0
                          maxLength: 4
                        Name:
                          title: Name
                          description: Long name associated with the code
                          type: string
                          minLength: 1
                          maxLength: 70
                        Description:
                          title: Description
                          description: Description to describe the purpose of the code
                          type: string
                          minLength: 1
                          maxLength: 350
                      required:
                      - Name
                      - Description
                required:
                - FeeType
                - MinMaxType
    OB_FeeFrequency1Code_2:
      description: How frequently the fee/charge is applied to the account
      type: string
      enum:
      - FEAC
      - FEAO
      - FECP
      - FEDA
      - FEHO
      - FEI
      - FEMO
      - FEOA
      - FEOT
      - FEPC
      - FEPH
      - FEPO
      - FEPS
      - FEPT
      - FEPTA
      - FEPTP
      - FEQU
      - FESM
      - FEST
      - FEWE
      - FEYE
    OB_Rate1_0:
      description: Rate charged for overdraft fee/charge (where it is charged in terms of a rate rather than an amount)
      type: string
      pattern: ^(-?\d{1,3}){1}(\.\d{1,4}){0,1}$
    Meta:
      title: MetaData
      description: Meta Data relevant to the payload
      type: object
      additionalProperties: false
      properties:
        TotalPages:
          type: integer
          format: int32
        FirstAvailableDateTime:
          $ref: '#/components/schemas/ISODateTime'
        LastAvailableDateTime:
          $ref: '#/components/schemas/ISODateTime'
    OBError1:
      type: object
      minProperties: 1
      additionalProperties: false
      required:
      - ErrorCode
      properties:
        ErrorCode:
          $ref: '#/components/schemas/OBExternalStatusReason1Code'
[...]
