openapi: 3.2.0
info:
  title: Payment Initiation - UK OB International Payments API
  description: Initiate domestic and international payments securely.
  version: 4.0.0
servers:
- description: prod Environment
  url: https://obp-api.danskebank.com/open-banking/v4.0/pisp
tags:
- name: International Payments
paths:
  /international-payment-consents:
    post:
      tags:
      - International Payments
      summary: Create International Payment Consents
      operationId: CreateInternationalPaymentConsents
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/x-fapi-auth-date'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address'
      - $ref: '#/components/parameters/x-fapi-interaction-id'
      - $ref: '#/components/parameters/x-idempotency-key'
      - $ref: '#/components/parameters/x-jws-signature'
      - $ref: '#/components/parameters/x-customer-user-agent'
      requestBody:
        $ref: '#/components/requestBodies/OBWriteInternationalConsent5Param'
      responses:
        '201':
          $ref: '#/components/responses/201InternationalPaymentConsentsCreated'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '409':
          $ref: '#/components/responses/409Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
        '503':
          $ref: '#/components/responses/503Error'
  /international-payment-consents/{ConsentId}:
    get:
      tags:
      - International Payments
      summary: Get International Payment Consents
      operationId: GetInternationalPaymentConsentsConsentId
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/ConsentId'
      - $ref: '#/components/parameters/x-fapi-auth-date'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address'
      - $ref: '#/components/parameters/x-fapi-interaction-id'
      - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200InternationalPaymentConsentsConsentIdRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
        '503':
          $ref: '#/components/responses/503Error'
  /international-payment-consents/{ConsentId}/funds-confirmation:
    get:
      tags:
      - International Payments
      summary: Get International Payment Consents Funds Confirmation
      operationId: GetInternationalPaymentConsentsConsentIdFundsConfirmation
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/ConsentId'
      - $ref: '#/components/parameters/x-fapi-auth-date'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address'
      - $ref: '#/components/parameters/x-fapi-interaction-id'
      - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200InternationalPaymentConsentsConsentIdFundsConfirmationRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
        '503':
          $ref: '#/components/responses/503Error'
  /international-payments:
    post:
      tags:
      - International Payments
      summary: Create International Payments
      operationId: CreateInternationalPayments
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/x-fapi-auth-date'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address'
      - $ref: '#/components/parameters/x-fapi-interaction-id'
      - $ref: '#/components/parameters/x-idempotency-key'
      - $ref: '#/components/parameters/x-jws-signature'
      - $ref: '#/components/parameters/x-customer-user-agent'
      requestBody:
        $ref: '#/components/requestBodies/OBWriteInternational3Param'
      responses:
        '201':
          $ref: '#/components/responses/201InternationalPaymentsCreated'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
        '503':
          $ref: '#/components/responses/503Error'
  /international-payments/{InternationalPaymentId}:
    get:
      tags:
      - International Payments
      summary: Get International Payments
      operationId: GetInternationalPaymentsInternationalPaymentId
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/InternationalPaymentId'
      - $ref: '#/components/parameters/x-fapi-auth-date'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address'
      - $ref: '#/components/parameters/x-fapi-interaction-id'
      - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200InternationalPaymentsInternationalPaymentIdRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
        '503':
          $ref: '#/components/responses/503Error'
components:
  schemas:
    OBRemittanceInformation2:
      type: object
      description: 'Information supplied to enable the matching of an entry with the items that the transfer is intended to settle, such as commercial invoices in an accounts'' receivable system. Danske Bank: Note, Remittance information is not supported in File payments.'
      properties:
        Structured:
          type: array
          maxItems: 1
          description: 'Danske Bank: Only one item is supported by Danske Bank.'
          items:
            $ref: '#/components/schemas/OBRemittanceInformationStructured'
        Unstructured:
          type: array
          maxItems: 1
          description: Information supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form. When using UK.OBIE.CHAPS as LocalInstrument, only 18 characters are allowed for transfers within Danske Bank and 70 characters for transfers outside Danske. Only one item is supported by Danske Bank. Not supported in Standing Orders.
          items:
            type: string
            maxLength: 140
            minLength: 1
    OBActiveOrHistoricCurrencyAndAmount:
      description: Amount of money associated with the charge type.
      type: object
      additionalProperties: false
      required:
      - Amount
      - Currency
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
    OBInternalAccountIdentification45Code:
      description: 'Name of the identification scheme, in a coded form as published in an external list. Value is accepted but ignored.

        '
      type: string
      minLength: 1
      maxLength: 40
    CountryCode:
      description: Nation with its own government.
      type: string
      pattern: ^[A-Z]{2,2}$
    Meta:
      title: MetaData
      description: Meta Data relevant to the payload
      type: object
      additionalProperties: false
      properties:
        TotalPages:
          type: integer
          format: int32
        FirstAvailableDateTime:
          $ref: '#/components/schemas/ISODateTime'
        LastAvailableDateTime:
          $ref: '#/components/schemas/ISODateTime'
    Identification_4:
      description: Identification of the party to whom an invoice is issued, when it is different from the debtor or ultimate debtor.
      type: string
      example: '80200112344562'
      minLength: 1
      maxLength: 256
    ExternalPurpose1Code:
      type: string
      minLength: 1
      maxLength: 4
      description: "This is a partial list, For a full list see `ExternalPurpose1Code`[here](https://github.com/OpenBankingUK/External_Internal_CodeSets)  \nDanske Bank: mandatory for UK.OBIE.CHAPS payments."
      enum:
      - BKDF
      - BKFE
      - BKFM
      - BKIP
      - BKPP
      - CBLK
      - CDCB
      - CDCD
      - CDCS
      - CDDP
      - CDOC
      - CDQC
      - ETUP
      - FCOL
      - MTUP
      - ACCT
      - CASH
      - COLL
      - CSDB
      - DEPT
      - INTC
      - INTP
      - LIMA
      - NETT
      - BFWD
      - CCIR
      - CCPC
      - CCPM
      - CCSM
      - CRDS
      - CRPR
      - CRSP
      - CRTL
      - EQPT
      - EQUS
      - EXPT
      - EXTD
      - FIXI
      - FWBC
      - FWCC
      - FWSB
      - FWSC
      - MARG
      - MBSB
      - MBSC
      - MGCC
      - MGSC
      - OCCC
      - OPBC
      - OPCC
      - OPSB
      - OPSC
      - OPTN
      - OTCD
      - REPO
      - RPBC
      - RPCC
      - RPSB
      - RPSC
      - RVPO
      - SBSC
      - SCIE
      - SCIR
      - SCRP
      - SHBC
      - SHCC
      - SHSL
      - SLEB
      - SLOA
      - SWBC
      - SWCC
      - SWPT
      - SWSB
      - SWSC
      - TBAS
      - TBBC
      - TBCC
      - TRCP
      - AGRT
      - AREN
      - BEXP
      - BOCE
      - COMC
      - CPYR
      - GDDS
      - GDSV
      - GSCB
      - LICF
      - MP2B
      - POPE
      - ROYA
      - SCVE
      - SERV
      - SUBS
      - SUPP
      - TRAD
      - CHAR
      - COMT
      - MP2P
      - ECPG
      - ECPR
      - ECPU
      - EPAY
      - CLPR
      - COMP
      - DBTC
      - GOVI
      - HLRP
      - HLST
      - INPC
      - INPR
      - INSC
      - INSU
      - INTE
      - LBRI
      - LIFI
      - LOAN
      - LOAR
      - PENO
      - PPTI
      - RELG
      - RINP
      - TRFD
      - FORW
      - FXNT
      - ADMG
      - ADVA
      - BCDM
      - BCFG
      - BLDM
      - BNET
      - CBFF
      - CBFR
      - CCRD
      - CDBL
      - CFEE
      - CGDD
      - CORT
      - COST
      - CPKC
      - DCRD
      - DSMT
      - DVPM
      - EDUC
      - FACT
      - FAND
      - FCPM
      - FEES
      - GIFT
      - GOVT
      - ICCP
      - IDCP
      - IHRP
      - INSM
      - IVPT
      - MCDM
      - MCFG
      - MSVC
      - NOWS
      - OCDM
      - OCFG
      - OFEE
      - OTHR
      - PADD
      - PTSP
      - RCKE
      - RCPT
      - REBT
      - REFU
      - RENT
      - REOD
      - RIMB
      - RPNT
      - RRBN
      - RRCT
      - RRTP
      - RVPM
      - SLPI
      - SPLT
      - STDY
      - TBAN
      - TBIL
      - TCSC
      - TELI
      - TMPG
      - TPRI
      - TPRP
      - TRNC
      - TRVC
      - WEBI
      - IPAY
      - IPCA
      - IPDO
      - IPEA
      - IPEC
      - IPEW
      - IPPS
      - IPRT
      - IPU2
      - IPUW
      - ANNI
      - CAFI
      - CFDI
      - CMDT
      - DERI
      - DIVD
      - FREX
      - HEDG
      - INVS
      - PRME
      - SAVG
      - SECU
      - SEPI
      - TREA
      - UNIT
      - FNET
      - FUTR
      - ANTS
      - CVCF
      - DMEQ
      - DNTS
      - HLTC
      - HLTI
      - HSPC
      - ICRF
      - LTCF
      - MAFC
      - MARF
      - MDCS
      - VIEW
      - CDEP
      - SWFP
      - SWPP
      - SWRS
      - SWUF
      - ADCS
      - AEMP
      - ALLW
      - ALMY
      - BBSC
      - BECH
      - BENE
      - BONU
      - CCHD
      - COMM
      - CSLP
      - GFRP
      - GVEA
      - GVEB
      - GVEC
      - GVED
      - GWLT
      - HREC
      - PAYR
      - PEFC
      - PENS
      - PRCP
      - RHBS
      - SALA
      - SPSP
      - SSBE
      - LBIN
      - LCOL
      - LFEE
      - LMEQ
      - LMFI
      - LMRK
      - LREB
      - LREV
      - LSFL
      - ESTX
      - FWLV
      - GSTX
      - HSTX
      - INTX
      - NITX
      - PTXP
      - RDTX
      - TAXS
      - VATX
      - WHLD
      - TAXR
      - B112
      - BR12
      - TLRF
      - TLRR
      - AIRB
      - BUSB
      - FERB
      - RLWY
      - TRPT
      - CBTV
      - ELEC
      - ENRG
      - GASB
      - NWCH
      - NWCM
      - OTLC
      - PHON
      - UBIL
      - WTER
      - BOND
      - CABD
      - CAEQ
      - CBCR
      - DBCR
      - DICL
      - EQTS
      - FLCR
      - EFTC
      - EFTD
      - MOMA
      - RAPI
      - GAMB
      - LOTT
      - AMEX
      - SASW
      - AUCO
      - PCOM
      - PDEP
      - PLDS
      - PLRF
      - GAFA
      - GAHO
      - CPEN
      - DEPD
      - RETL
      - DEBT
    OBPostalAddress47:
      type: object
      required:
      - TownName
      - Country
      - AddressLine
      additionalProperties: false
      description: Information that locates and identifies a specific address, as defined by postal services.
      properties:
        AddressType:
          $ref: '#/components/schemas/OBAddressType2Code'
        Department:
          $ref: '#/components/schemas/Department'
        SubDepartment:
          $ref: '#/components/schemas/SubDepartment'
        StreetName:
          $ref: '#/components/schemas/StreetName'
        BuildingNumber:
          $ref: '#/components/schemas/BuildingNumber'
        BuildingName:
          $ref: '#/components/schemas/BuildingName'
        Floor:
          $ref: '#/components/schemas/Floor'
        UnitNumber:
          $ref: '#/components/schemas/UnitNumber'
        Room:
          $ref: '#/components/schemas/Room'
        PostBox:
          $ref: '#/components/schemas/PostBox'
        TownLocationName:
          $ref: '#/components/schemas/TownName'
        DistrictName:
          $ref: '#/components/schemas/DistrictName'
        CareOf:
          $ref: '#/components/schemas/CareOf'
        PostCode:
          $ref: '#/components/schemas/PostCode'
        TownName:
          $ref: '#/components/schemas/TownName'
        CountrySubDivision:
          $ref: '#/components/schemas/CountrySubDivision'
        Country:
          $ref: '#/components/schemas/CountryCode'
        AddressLine:
          type: array
          minItems: 0
          maxItems: 3
          items:
            description: Information that locates and identifies a specific address, as defined by postal services, presented in free format text.
            type: string
            minLength: 1
            maxLength: 70
    CountrySubDivision:
      description: Identifies a subdivision of a country such as state, region, country.
      type: string
      minLength: 1
      maxLength: 35
    OBActiveCurrencyAndAmount_SimpleType:
      description: A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
      type: string
      pattern: ^\d{1,13}$|^\d{1,13}\.\d{1,5}$
    Identification_1:
      description: 'Unique and unambiguous identification of a financial institution or a branch of a financial institution. Danske bank supports 8 or 11 length UK.OBIE.BICFI identifiers. In case of UK.OBIE.NCC.[ISO3166-aplha2-CountryCode] the following rules will apply: https://developers.danskebank.com/documentation/regulatory_apis/instruction_details#creditoragent_ncc_identification_values'
      type: string
      minLength: 8
      maxLength: 14
    UnitNumber:
      description: Number that identifies the unit of a specific address .
      type: string
      minLength: 1
      maxLength: 16
    SubDepartment:
      description: Identification of a sub-division of a large organisation or building.
      type: string
      minLength: 1
      maxLength: 70
    OBSupplementaryData1:
      description: Additional information that can not be captured in the structured fields and/or any other specific block.
      type: object
      additionalProperties: false
    Identification_3:
      description: Identification of the organisation issuing the invoice, when it is different from the creditor or ultimate creditor
      type: string
      example: '80200112344562'
      minLength: 1
      maxLength: 256
    OBWriteInternationalConsent5:
      type: object
      additionalProperties: false
      required:
      - Data
      - Risk
      properties:
        Data:
          type: object
          additionalProperties: false
          required:
          - Initiation
          properties:
            ReadRefundAccount:
              description: Specifies to share the refund account details with PISP
              type: string
              enum:
              - 'No'
              - 'Yes'
            Initiation:
              description: The Initiation payload is sent by the initiating party to the ASPSP. It is used to request movement of funds from the debtor account to a creditor for a single international payment.
              type: object
              additionalProperties: false
              required:
              - InstructionIdentification
              - EndToEndIdentification
              - CurrencyOfTransfer
              - InstructedAmount
              - Creditor
              - CreditorAccount
              properties:
                InstructionIdentification:
                  description: 'Unique identification as assigned by an instructing party for an instructed party to unambiguously identify the instruction. Usage: the instruction identification is a point to point reference that can be used between the instructing party and the instructed party to refer to the individual instruction. It can be included in several messages related to the instruction.'
                  type: string
                  minLength: 1
                  maxLength: 35
                EndToEndIdentification:
                  description: 'Unique identification assigned by the initiating party to unambiguously identify the transaction. This identification is passed on, unchanged, throughout the entire end-to-end chain. Usage: The end-to-end identification can be used for reconciliation or to link tasks relating to the transaction. It can be included in several messages related to the transaction. OB: The Faster Payments Scheme can only access 31 characters for the EndToEndIdentification field.'
                  type: string
                  minLength: 1
                  maxLength: 35
                LocalInstrument:
                  $ref: '#/components/schemas/OBInternalLocalInstrument11Code'
                InstructionPriority:
                  description: Indicator of the urgency or order of importance that the instructing party would like the instructed party to apply to the processing of the instruction.
                  type: string
                  enum:
                  - Normal
                  - Urgent
                ExtendedPurpose:
                  description: Specifies the purpose of an international payment, when there is no corresponding 4 character code available in the ISO20022 list of Purpose Codes.
                  type: string
                  minLength: 1
                  maxLength: 140
                ChargeBearer:
                  $ref: '#/components/schemas/OBInternalChargeBearerType1Code'
                CurrencyOfTransfer:
                  description: Specifies the currency of the to be transferred amount, which is different from the currency of the debtor's account.
                  type: string
                  pattern: ^[A-Z]{3,3}$
                DestinationCountryCode:
                  description: Country in which Credit Account is domiciled. Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).
                  type: string
                  pattern: '[A-Z]{2,2}'
                InstructedAmount:
                  description: 'Amount of money to be moved between the debtor and creditor, before deduction of charges, expressed in the currency as ordered by the initiating party. Usage: This amount has to be transported unchanged through the transaction chain.'
                  type: object
                  additionalProperties: false
                  required:
                  - Amount
                  - Currency
                  properties:
                    Amount:
                      $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
                    Currency:
                      $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
                ExchangeRateInformation:
                  description: Provides details on the currency exchange rate and contract.
                  type: object
                  additionalProperties: false
                  required:
                  - UnitCurrency
                  - RateType
                  properties:
                    UnitCurrency:
                      description: Currency in which the rate of exchange is expressed in a currency exchange. In the example 1GBP = xxxCUR, the unit currency is GBP.
                      type: string
                      pattern: ^[A-Z]{3,3}$
                    ExchangeRate:
                      description: 'The factor used for conversion of an amount from one currency to another. This reflects the price at which one currency was bought with another currency. Danske Bank: due to Danske Bank infrastructure specifics, value should not contain trailing zeroes. E.g. 100.00 should be stated as 100'
                      type: number
                    RateType:
                      description: Specifies the type used to complete the currency exchange.
                      type: string
                      enum:
                      - Agreed
                      - Indicative
                    ContractIdentification:
                      description: Unique and unambiguous reference to the foreign exchange contract agreed between the initiating party/creditor and the debtor agent.
                      type: string
                      minLength: 1
                      maxLength: 256
                DebtorAccount:
                  description: Unambiguous identification of the account of the debtor to which a debit entry will be made as a result of the transaction.
                  type: object
                  additionalProperties: false
                  required:
                  - SchemeName
                  - Identification
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBInternalAccountIdentification47Code'
                    Identification:
                      $ref: '#/components/schemas/Identification_0'
                    Name:
                      description: The account name is the name or names of the account owner(s) represented at an account level, as displayed by the ASPSP's online channels. Note, the account name is not the product name or the nickname of the account.
                      type: string
                      minLength: 1
                      maxLength: 350
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                    Proxy:
                      $ref: '#/components/schemas/OBProxy1'
                Creditor:
                  description: Party to which an amount of money is due.
                  type: object
                  additionalProperties: false
                  required:
                  - Name
                  - PostalAddress
                  properties:
                    Name:
                      description: 'Name by which a party is known and which is usually used to identify that party. Danske Bank: Only 35 characters are accepted, longer values will be truncated.'
                      type: string
                      minLength: 1
                      maxLength: 350
                    LEI:
                      $ref: '#/components/schemas/LEI'
                    PostalAddress:
                      $ref: '#/components/schemas/OBPostalAddress47'
                CreditorAgent:
                  description: Financial institution servicing an account for the creditor.
                  type: object
                  additionalProperties: false
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBInternalFinancialInstitutionIdentification4Code'
                    Identification:
                      $ref: '#/components/schemas/Identification_1'
                    Name:
                      $ref: '#/components/schemas/Name'
                    LEI:
                      $ref: '#/components/schemas/LEI'
                    PostalAddress:
                      $ref: '#/components/schemas/OBPostalAddress7'
                CreditorAccount:
                  description: Unambiguous identification of the account of the creditor to which a credit entry will be posted as a result of the payment transaction.
                  type: object
                  additionalProperties: false
                  required:
                  - SchemeName
                  - Identification
                  - Name
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBInternalAccountIdentification47Code'
                    Identification:
                      $ref: '#/components/schemas/Identification_0'
                    Name:
                      description: 'The account name is the name or names of the account owner(s) represented at an account level. Note, the account name is not the product name or the nickname of the account. OB: ASPSPs may carry out name validation for Confirmation of Payee, but it is not mandatory. Danske Bank: Only 35 characters are accepted, longer values will be truncated.'
                      type: string
                      minLength: 1
                      maxLength: 350
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                    Proxy:
                      $ref: '#/components/schemas/OBProxy1'
                UltimateCreditor:
                  $ref: '#/components/schemas/OBUltimateCreditor1'
                UltimateDebtor:
                  $ref: '#/components/schemas/OBUltimateDebtor1'
                RegulatoryReporting:
                  type: array
                  items:
                    $ref: '#/components/schemas/OBRegulatoryReporting1'
                  maxItems: 10
                RemittanceInformation:
                  $ref: '#/components/schemas/OBRemittanceInformation2'
                SupplementaryData:
                  $ref: '#/components/schemas/OBSupplementaryData1'
            Authorisation:
              description: The authorisation type request from the TPP.
              type: object
              additionalProperties: false
              required:
              - AuthorisationType
              properties:
                AuthorisationType:
                  description: 'Type of authorisation flow requested. Danske Bank: If you request ‘Single’ and the PSU does not have the authority to make a payment without needing another person to approve it, the payment will be rejected.'
                  type: string
                  enum:
                  - Any
                  - Single
                CompletionDateTime:
                  description: 'Date and time at which the requested authorisation flow must be completed. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00 Warning: Danske Bank does not support this functionality. Payments which require further authorisation must be fully authorised in our online channel by midnight of the due date or the payment will be rejected.'
                  type: string
                  format: date-time
            SCASupportData:
              $ref: '#/components/schemas/OBSCASupportData1'
        Risk:
          $ref: '#/components/schemas/OBRisk1'
    OBRegulatoryReporting1:
      type: object
      description: Information needed due to regulatory and statutory requirements
      properties:
        DebitCreditReportingIndicator:
          type: string
          description: Identifies whether the regulatory reporting information applies to the debit side, to the credit side or to both debit and credit sides of the transaction.  For a full list of values reefer to `OBExternalRegulatoryReportingType1Code` in *OB_Internal_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
          enum:
          - CRED
          - DEBT
          - BOTH
        Authority:
          $ref: '#/components/schemas/OBRegulatoryAuthority2'
        Details:
          type: array
          items:
            $ref: '#/components/schemas/OBStructuredRegulatoryReporting3'
    ISODateTime:
      description: 'All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
      type: string
      format: date-time
    DistrictName:
      description: Number that of the regional area, known as a district, which forms part of an address
      type: string
      minLength: 1
      maxLength: 140
    OBUltimateCreditor1:
      description: 'Ultimate party to which an amount of money is due. Danske Bank: Object is accepted but ignored.'
      type: object
      properties:
        Name:
          description: Name by which a party is known and which is usually used to identify that party.
          type: string
          minLength: 1
          maxLength: 140
        Identification:
          description: Identification assigned by an institution.
          type: string
          minLength: 1
          maxLength: 256
        LEI:
          $ref: '#/components/schemas/LEI'
        SchemeName:
          $ref: '#/components/schemas/OBInternalAccountIdentification45Code'
        PostalAddress:
          $ref: '#/components/schemas/OBPostalAddress7'
    OBInternalPaymentChargeType1Code:
      description: Charge type, in a coded form. For a full list of values refer to `OBInternalPaymentChargeType1Code` in *OB_Internal_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      type: string
      x-namespaced-enum:
      - UK.OBIE.CHAPSOut
      - UK.OBIE.BalanceTransferOut
      - UK.OBIE.MoneyTransferOut
    PostBox:
      description: Information that locates and identifies a box in a post office assigned to a person or organization, where letters for them are kept until called for.
      type: string
      minLength: 1
      maxLength: 16
    ExternalCreditorReferenceType1Code:
      type: string
      minLength: 1
      maxLength: 4
      description: Specifies the type of creditor reference as published in an external creditor reference type code set. For more information see `ExternalCreditorReferenceType1Code` in *ISO_External_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      enum:
      - DISP
      - FXDR
      - PUOR
      - RPIN
      - RADM
      - SCOR
    Links:
      description: Links relevant to the payload
      type: object
      additionalProperties: false
      required:
      - Self
      properties:
        Self:
          type: string
          format: uri
        First:
          type: string
          format: uri
        Prev:
          type: string
          format: uri
        Next:
          type: string
          format: uri
        Last:
          type: string
          format: uri
    OBError1:
      type: object
      minProperties: 1
      additionalProperties: false
      required:
      - ErrorCode
      properties:
        ErrorCode:
          $ref: '#/components/schemas/OBInternalErrorResponseError1Code'
        Message:
          description: A description of the error that occurred. e.g., 'A mandatory field isn't supplied' or 'RequestedExecutionDateTime must be in future' OBL doesn't standardise this field
          type: string
          minLength: 1
          maxLength: 500
        Path:
          description: Recommended but optional reference to the JSON Path of the field with error, e.g., Data.Initiation.InstructedAmount.Currency
          type: string
          minLength: 1
          maxLength: 500
        Url:
          description: URL to help remediate the problem, or provide more information, or to API Reference, or help etc
          type: string
    OBInternalChargeBearerType1Code:
      description: Specifies which party/parties will bear the charges associated with the processing of the payment transaction. For a full list of values refer to `OBInternalChargeBearerType1Code` in *OB_Internal_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      type: string
      enum:
      - BorneByCreditor
      - BorneByDebtor
      - FollowingServiceLevel
      - Shared
    OBSCASupportData1:
      type: object
      additionalProperties: false
      description: 'Supporting Data provided by TPP, when requesting SCA Exemption.         Danske Bank: object and its properties are not supported.'
      properties:
        RequestedSCAExemptionType:
          type: string
          description: This field allows a PISP to request specific SCA Exemption for a Payment Initiation. For a full list of values reefer to `OBInternalSCAExemptionType1Code` in *OB_Internal_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
          enum:
          - BillPayment
          - ContactlessTravel
          - EcommerceGoods
          - EcommerceServices
          - Kiosk
          - Parking
          - PartyToParty
        AppliedAuthenticationApproach:
          type: string
          maxLength: 40
          description: 'Specifies a character string with a maximum length of 40 characters. Usage: This field indicates whether the PSU was subject to SCA performed by the TPP For a full list of values refer to `OBInternalAppliedAuthenticationApproach1Code` in *OB_Internal_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)'
          enum:
          - CA
          - SCA
        ReferencePaymentOrderId:
          type: string
          maxLength: 40
          minLength: 1
          description: If the payment is recurring, then this field is populated with the transaction identifier of the previous payment occurrence so that the ASPSP can verify that the PISP, amount and the payee are the same as the previous occurrence. The value here refers to the payment id e.g. DomesticPaymentId
    OBProxy1:
      description: Specifies an alternate assumed name for the identification of the account.
      type: object
      required:
      - Identification
      - Code
      properties:
        Identification:
          description: Identification used to indicate the account identification under another specified name.
          type: string
          minLength: 1
          maxLength: 2048
        Code:
          $ref: '#/components/schemas/ExternalProxyAccountType1Code'
        Type:
          type: string
          description: Type of the proxy identification.
          minLength: 1
          maxLength: 35
    StreetName:
      description: Name of a street or thoroughfare.
      type: string
      minLength: 1
      maxLength: 140
    OBRisk1:
      description: 'The Risk section is sent by the initiating party to the ASPSP.

        It is used to specify additional details for risk scoring for Payments.'
      type: object
      additionalProperties: false
      properties:
        PaymentContextCode:
          description: 'Specifies the payment context, `OBInternalPaymentContext1Code`

            '
          type: string
          enum:
          - BillingGoodsAndServicesInAdvance
          - BillingGoodsAndServicesInArrears
          - EcommerceMerchantInitiatedPayment
          - FaceToFacePointOfSale
          - TransferToSelf
          - TransferToThirdParty
        MerchantCategoryCode:
          description: Category code conform to ISO 18245, related to the type of services or goods the merchant provides for the transaction.
          type: string
          minLength: 3
          maxLength: 4
        MerchantCustomerIdentification:
          description: The unique customer identifier of the PSU with the merchant.
          type: string
          minLength: 1
          maxLength: 70
        ContractPresentIndicator:
          description: Indicates if Payee has a contractual relationship with the PISP.
          type: boolean
        BeneficiaryPrepopulatedIndicator:
          description: Indicates if PISP has immutably prepopulated payment details in for the PSU.
          type: boolean
        PaymentPurposeCode:
          $ref: '#/components/schemas/ExternalPurpose1Code'
        CategoryPurposeCode:
          $ref: '#/components/schemas/ExternalCategoryPurpose1Code'
        BeneficiaryAccountType:
          $ref: '#/components/schemas/OBInternalExtendedAccountType1Code'
        DeliveryAddress:
          $ref: '#/components/schemas/OBPostalAddress7'
    OBInternalExtendedAccountType1Code:
      description: Specifies the extended type of account.
      type: string
      enum:
      - Business
      - BusinessSavingsAccount
      - Charity
      - Collection
      - Corporate
      - Ewallet
      - Government
      - Investment
      - ISA
      - JointPersonal
      - Pension
      - Personal
      - PersonalSavingsAccount
      - Premier
      - Wealth
    OBWriteInternationalConsentResponse6:
      type: object
      additionalProperties: false
      required:
      - Data
      - Risk
      properties:
        Data:
          type: object
          additionalProperties: false
          required:
          - ConsentId
          - CreationDateTime
          - Status
          - StatusUpdateDateTime
          - Initiation
          properties:
            ConsentId:
              description: 'OB: Unique identification as assigned by the ASPSP to uniquely identify the consent resource.'
              type: string
              minLength: 1
              maxLength: 128
            CreationDateTime:
              description: 'Date and time at which the resource was created. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
              type: string
              format: date-time
            Status:
              description: 'Specifies the status of consent resource in code form. Danske Bank: Please note that Payment consents with status AWAU (AwaitingAuthorisation) will expire after aprx. 24 hours from consent creation time. Payment consents with status AUTH (Authorised) will expire after apprx. 15 minutes from consent authorization but must be within 24 hours from consent creation. Status will not be updated for expired consents.'
              type: string
              enum:
              - AWAU
              - RJCT
              - AUTH
              - COND
            StatusReason:
              type: array
              items:
                $ref: '#/components/schemas/OBStatusReason'
            StatusUpdateDateTime:
              description: 'Date and time at which the resource status was updated. All dates in the JSON payloads are represented in ISO 8601 date-time format.  All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
              type: string
              format: date-time
            ReadRefundAccount:
              description: Specifies to share the refund account details with PISP
              type: string
              enum:
              - 'No'
              - 'Yes'
            CutOffDateTime:
              description: 'Specified cut-off date and time for the payment consent. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
              type: string
              format: date-time
            ExpectedExecutionDateTime:
              description: 'Expected execution date and time for the payment resource. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
              type: string
              format: date-time
            ExpectedSettlementDateTime:
              description: 'Expected settlement date and time for the payment resource. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
              type: string
              format: date-time
            Charges:
              type: array
              items:
                type: object
                additionalProperties: false
                description: Set of elements used to provide details of a charge for the payment initiation.
                required:
                - ChargeBearer
                - Type
                - Amount
                properties:
                  ChargeBearer:
                    $ref: '#/components/schemas/OBInternalChargeBearerType1Code'
                  Type:
                    $ref: '#/components/schemas/OBInternalPaymentChargeType1Code'
                  Amount:
                    $ref: '#/components/schemas/OBActiveOrHistoricCurrencyAndAmount'
            ExchangeRateInformation:
              description: Further detailed information on the exchange rate that has been used in the payment transaction.
              type: object
              additionalProperties: false
              required:
              - UnitCurrency
              - ExchangeRate
              - RateType
              properties:
                UnitCurrency:
                  description: Currency in which the rate of exchange is expressed in a currency exchange. In the example 1GBP = xxxCUR, the unit currency is GBP.
                  type: string
                  pattern: ^[A-Z]{3,3}$
                ExchangeRate:
                  description: The factor used for conversion of an amount from one currency to another. This reflects the price at which one currency was bought with another currency.
                  type: number
                RateType:
                  description: Specifies the type used to complete the currency exchange.
                  type: string
                  enum:
                  - Agreed
                  - Indicative
                ContractIdentification:
                  description: Unique and unambiguous reference to the foreign exchange contract agreed between the initiating party/creditor and the debtor agent.
                  type: string
                  minLength: 1
                  maxLength: 256
                ExpirationDateTime:
                  description: 'Specified date and time the exchange rate agreement will expire. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
                  type: string
                  format: date-time
            Initiation:
              description: The Initiation payload is sent by the initiating party to the ASPSP. It is used to request movement of funds from the debtor account to a creditor for a single international payment.
              type: object
              additionalProperties: false
              required:
              - InstructionIdentification
              - EndToEndIdentification
              - CurrencyOfTransfer
              - InstructedAmount
              - Creditor
              - CreditorAccount
              properties:
                InstructionIdentification:
                  description: 'Unique identification as assigned by an instructing party for an instructed party to unambiguously identify the instruction. Usage: the instruction identification is a point to point reference that can be used between the instructing party and the instructed party to refer to the individual instruction. It can be included in several messages related to the instruction.'
                  type: string
                  minLength: 1
                  maxLength: 35
                EndToEndIdentification:
                  description: 'Unique identification assigned by the initiating party to unambiguously identify the transaction. This identification is passed on, unchanged, throughout the entire end-to-end chain. Usage: The end-to-end identification can be used for reconciliation or to link tasks relating to the transaction. It can be included in several messages related to the transaction. OB: The Faster Payments Scheme can only access 31 characters for the EndToEndIdentification field.'
                  type: string
                  minLength: 1
                  maxLength: 35
                LocalInstrument:
                  $ref: '#/components/schemas/OBInternalLocalInstrument11Code'
                InstructionPriority:
                  description: Indicator of the urgency or order of importance that the instructing party would like the instructed party to apply to the processing of the instruction.
                  type: string
                  enum:
                  - Normal
                  - Urgent
                ExtendedPurpose:
                  description: Specifies the purpose of an international payment, when there is no corresponding 4 character code available in the ISO20022 list of Purpose Codes.
                  type: string
                  minLength: 1
                  maxLength: 140
                ChargeBearer:
                  $ref: '#/components/schemas/OBInternalChargeBearerType1Code'
                CurrencyOfTransfer:
                  description: Specifies the currency of the to be transferred amount, which is different from the currency of the debtor's account.
                  type: string
                  pattern: ^[A-Z]{3,3}$
                DestinationCountryCode:
                  description: Country in which Credit Account is domiciled. Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).
                  type: string
                  pattern: '[A-Z]{2,2}'
                InstructedAmount:
                  description: 'Amount of money to be moved between the debtor and creditor, before deduction of charges, expressed in the currency as ordered by the initiating party. Usage: This amount has to be transported unchanged through the transaction chain.'
                  type: object
                  additionalProperties: false
                  required:
                  - Amount
                  - Currency
                  properties:
                    Amount:
                      $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
                    Currency:
                      $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
                ExchangeRateInformation:
                  description: Provides details on the currency exchange rate and contract.
                  type: object
                  additionalProperties: false
                  required:
                  - UnitCurrency
                  - RateType
                  properties:
                    UnitCurrency:
                      description: Currency in which the rate of exchange is expressed in a currency exchange. In the example 1GBP = xxxCUR, the unit currency is GBP.
                      type: string
                      pattern: ^[A-Z]{3,3}$
                    ExchangeRate:
                      description: The factor used for conversion of an amount from one currency to another. This reflects the price at which one currency was bought with another currency.
                      type: number
                    RateType:
                      description: Specifies the type used to complete the currency exchange.
                      type: string
                      enum:
                      - Agreed
                      - Indicative
                    ContractIdentification:
                      description: Unique and unambiguous reference to the foreign exchange contract agreed between the initiating party/creditor and the debtor agent.
                      type: string
                      minLength: 1
                      maxLength: 256
                DebtorAccount:
                  description: Unambiguous identification of the account of the debtor to which a debit entry will be made as a result of the transaction.
                  type: object
                  additionalProperties: false
                  required:
                  - SchemeName
                  - Identification
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBInternalAccountIdentification47Code'
                    Identification:
                      $ref: '#/components/schemas/Identification_0'
                    Name:
                      description: The account name is the name or names of the account owner(s) represented at an account level, as displayed by the ASPSP's online channels. Note, the account name is not the product name or the nickname of the account.
                      type: string
                      minLength: 1
                      maxLength: 350
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                    Proxy:
                      $ref: '#/components/schemas/OBProxy1'
                Creditor:
                  description: Party to which an amount of money is due.
                  type: object
                  additionalProperties: false
                  properties:
                    Name:
                      description: Name by which a party is known and which is usually used to identify that party.
                      type: string
                      minLength: 1
                      maxLength: 350
                    LEI:
                      $ref: '#/components/schemas/LEI'
                    PostalAddress:
                      $ref: '#/components/schemas/OBPostalAddress47'
                CreditorAgent:
                  description: Financial institution servicing an account for the creditor.
                  type: object
                  additionalProperties: false
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBInternalFinancialInstitutionIdentification4Code'
                    Identification:
                      $ref: '#/components/schemas/Identification_1'
                    Name:
                      $ref: '#/components/schemas/Name'
                    LEI:
                      $ref: '#/components/schemas/LEI'
                    PostalAddress:
                      $ref: '#/components/schemas/OBPostalAddress7'
                CreditorAccount:
                  description: Unambiguous identification of the account of the creditor to which a credit entry will be posted as a result of the payment transaction.
                  type: object
                  additionalProperties: false
                  required:
                  - SchemeName
                  - Identification
                  - Name
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBInternalAccountIdentification47Code'
                    Identification:
                      $ref: '#/components/schemas/Identification_0'
                    Name:
                      description: 'The account name is the name or names of the account owner(s) represented at an account level. Note, the account name is not the product name or the nickname of the account. OB: ASPSPs may carry out name validation for Confirmation of Payee, but it is not mandatory.'
                      type: string
                      minLength: 1
                      maxLength: 350
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                    Proxy:
                      $ref: '#/components/schemas/OBProxy1'
                UltimateCreditor:
                  $ref: '#/components/schemas/OBUltimateCreditor1'
                UltimateDebtor:
                  $ref: '#/components/schemas/OBUltimateDebtor1'
                RegulatoryReporting:
                  type: array
                  items:
                    $ref: '#/components/schemas/OBRegulatoryReporting1'
                  maxItems: 10
                RemittanceInformation:
                  $ref: '#/components/schemas/OBRemittanceInformation2'
                SupplementaryData:
                  $ref: '#/components/schemas/OBSupplementaryData1'
            Authorisation:
              description: The authorisation type request from the TPP.
              type: object
              additionalProperties: false
              required:
              - AuthorisationType
              properties:
                AuthorisationType:
                  description: 'Type of authorisation flow requested. Danske Bank: If you request ‘Single’ and the PSU does not have the authority to make a payment without needing another person to approve it, the payment will be rejected.'
                  type: string
                  enum:
                  - Any
                  - Single
                CompletionDateTime:
                  description: 'Date and time at which the requested authorisation flow must be completed. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00 Warning: Danske Bank does not support this functionality. Payments which require further authorisation must be fully authorised in our online channel by midnight of the due date or the payment will be rejected.'
                  type: string
                  format: date-time
        Risk:
          $ref: '#/components/schemas/OBRisk1'
        Links:
          $ref: '#/components/schemas/Links'
        Meta:
          $ref: '#/components/schemas/Meta'
    BuildingName:
      description: Name of a referenced building.
      type: string
      minLength: 1
      maxLength: 140
    Department:
      description: Identification of a division of a large organisation or building.
      type: string
      minLength: 1
      maxLength: 70
    OBWriteFundsConfirmationResponse1:
      type: object
      additionalProperties: false
      required:
      - Data
      properties:
        Data:
          type: object
          additionalProperties: false
          properties:
            FundsAvailableResult:
              description: Result of a funds availability check.
              type: object
              additionalProperties: false
              required:
              - FundsAvailableDateTime
              - FundsAvailable
              properties:
                FundsAvailableDateTime:
                  description: 'Date and time at which the funds availability check was generated. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
                  type: string
                  format: date-time
                FundsAvailable:
                  description: Flag to indicate the availability of funds given the Amount in the consent request.
                  type: boolean
            SupplementaryData:
              $ref: '#/components/schemas/OBSupplementaryData1'
        Links:
          $ref: '#/components/schemas/Links'
        Meta:
          $ref: '#/components/schemas/Meta'
    OBRemittanceInformationStructured:
      type: object
      description: 'Danske Bank: object properties are not supported. Empty object should be used as a connection to CreditorReferenceInformation in cases when Reference has to be provided.'
      properties:
        ReferredDocumentInformation:
          type: array
          items:
            $ref: '#/components/schemas/OBReferredDocumentInformation'
        ReferredDocumentAmount:
          description: Provides details on the amounts of the referred document.
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
        CreditorReferenceInformation:
          description: 'Reference information provided by the creditor to allow the identification of the underlying documents. Danske Bank: only Reference is supported.'
          type: object
          properties:
            Code:
              $ref: '#/components/schemas/ExternalCreditorReferenceType1Code'
            Issuer:
              description: Entity that assigns the identification.
              type: string
              minLength: 1
              maxLength: 35
            Reference:
              description: 'Unique reference, as assigned by the creditor, to unambiguously refer to the payment transaction. Danske Bank: The Faster Payments Scheme can only accept 18 characters reference. Only 16 characters are allowed when using UK.OBIE.CHAPS as LocalInstrument. Not supported in International payments.'
              type: string
              minLength: 1
              maxLength: 35
        Invoicer:
          $ref: '#/components/schemas/Identification_3'
        Invoicee:
          $ref: '#/components/schemas/Identification_4'
        TaxRemittance:
          description: Provides remittance information about a payment made for tax-related purposes.
          type: string
          maxLength: 140
          minLength: 1
        AdditionalRemittanceInformation:
          description: Additional information, in free text form, to complement the structured remittance information.
          type: array
          items:
            type: string
            maxLength: 140
            minLength: 1
          maxItems: 3
    BuildingNumber:
      description: Number that identifies the position of a building on a street.
      type: string
      minLength: 1
      maxLength: 16
    OBAddressType2Code:
      description: Identifies the nature of the postal address. For a full set of codes see `OBAddressType2Code` [here](https://github.com/OpenBankingUK/External_Internal_CodeSets).
      type: string
      enum:
      - BIZZ
      - DLVY
      - MLTO
      - PBOX
      - ADDR
      - HOME
      - CORR
      - STAT
    OBInternalFinancialInstitutionIdentification4Code:
      description: Name of the identification scheme, in a coded form as published in an external list.
      type: string
      x-namespaced-enum:
      - UK.OBIE.BICFI
      - UK.OBIE.NCC.AU
      - UK.OBIE.NCC.AT
      - UK.OBIE.NCC.CA
      - UK.OBIE.NCC.DE
      - UK.OBIE.NCC.US
      - UK.OBIE.NCC.GB
      - UK.OBIE.NCC.GG
      - UK.OBIE.NCC.GI
      - UK.OBIE.NCC.CH
      - UK.OBIE.NCC.RU
      - UK.OBIE.NCC.ES
      - UK.OBIE.NCC.GR
      - UK.OBIE.NCC.NZ
      - UK.OBIE.NCC.PT
      - UK.OBIE.NCC.ZA
      - UK.OBIE.NCC.IE
      - UK.OBIE.NCC.IM
      - UK.OBIE.NCC.JE
    OBStatusReason:
      type: object
      properties:
        StatusReasonCode:
          type: string
          description: "Specifies the status reason in a code form. \nFor a full list of values refer to `OBExternalStatusReason1Code` in *OB_Internal_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)"
          minLength: 1
          maxLength: 4
          example: ERIN
        StatusReasonDescription:
          description: Description supporting the StatusReasonCode.
          type: string
          minLength: 1
          maxLength: 500
        Path:
          type: string
          description: Path is optional but relevant when the status reason refers to an object/field and hence conditional to provide JSON path.
          minLength: 1
          maxLength: 500
    CareOf:
      description: The 'care of' address is used whenever sending mail to a person or organisation who does not actually live or work at the address. They will receive the mail for the individual.
      type: string
      minLength: 1
      maxLength: 140
    OBInternalAccountIdentification47Code:
      description: 'Name of the identification scheme, in a coded form as published in an external list. Danske Bank supports the following identification schemes: UK.OBIE.IBAN UK.OBIE.SortCodeAccountNumber DK.DanskeBank.AccountNumber - Account number which is not IBAN or SortCodeAccountNumber. Available for all countries and brands in Danske Bank Group.

        '
      type: string
      x-namespaced-enum:
      - UK.OBIE.IBAN
      - UK.OBIE.SortCodeAccountNumber
      - DK.DanskeBank.AccountNumber
    Floor:
      description: Number that identifies the level within a building
      type: string
      minLength: 1
      maxLength: 70
    OBStructuredRegulatoryReporting3:
      type: object
      description: Set of elements used to provide details on the regulatory reporting information.
      properties:
        Type:
          type: string
          description: Specifies the type of the information supplied in the regulatory reporting details
          minLength: 1
          maxLength: 35
        Date:
          $ref: '#/components/schemas/ISODateTime'
        Country:
          $ref: '#/components/schemas/CountryCode'
        Amount:
          $ref: '#/components/schemas/OBActiveOrHistoricCurrencyAndAmount'
        Information:
          description: Additional details that cater for specific domestic regulatory requirements.
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 35
    OBCashAccountDebtor4:
      description: ^ Only included in the response if `Data. ReadRefundAccount` is set to `Yes` in the consent.
      type: object
      properties:
        SchemeName:
          $ref: '#/components/schemas/OBInternalAccountIdentification47Code'
        Identification:
          $ref: '#/components/schemas/Identification_0'
        Name:
          description: 'Name of the account, as assigned by the account servicing institution. Usage: The account name is the name or names of the account owner(s) represented at an account level. Note, the account name is not the product name or the nickname of the account.

            '
          type: string
          minLength: 0
          maxLength: 350
        SecondaryIdentification:
          $ref: '#/components/schemas/SecondaryIdentification'
        LEI:
          $ref: '#/components/schemas/LEI'
    PostCode:
      description: Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.
      type: string
      minLength: 1
      maxLength: 16
    Identification_0:
      description: Identification assigned by an institution to identify an account. This identification is known by the account owner.
      type: string
      minLength: 1
      maxLength: 256
    ExternalDocumentType1Code:
      type: string
      minLength: 1
      maxLength: 4
      description: Specifies the document type as published in an external document type code list. For more information see `ExternalDocumentType1Code` in *ISO_External_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      enum:
      - CINV
      - CNFA
      - CONT
      - CREN
      - DEBN
      - DISP
      - DNFA
      - HIRI
      - INVS
      - MSIN
      - PROF
      - PUOR
      - QUOT
      - SBIN
      - SPRR
      - TISH
      - USAR
      - AROI
      - BOLD
      - CMCN
      - SOAC
      - TSUT
      - VCHR
    OBReferredDocumentInformation:
      type: object
      description: 'Danske Bank: object and its properties are not supported.'
      properties:
        Code:
          $ref: '#/components/schemas/ExternalDocumentType1Code'
        Issuer:
          description: Identification of the issuer of the reference document type.
          type: string
          maxLength: 35
          minLength: 1
        Number:
          description: Identification of the type specified for the referred document line.
          type: string
          maxLength: 35
          minLength: 1
        RelatedDate:
          description: Date associated with the referred document line.
          type: string
          format: date-time
        LineDetails:
          description: Set of elements used to provide the content of the referred document line.
          type: array
          items:
            type: string
            maxLength: 140
            minLength: 1
    OBWriteInternationalResponse5:
      type: object
      additionalProperties: false
      required:
      - Data
      properties:
        Data:
          type: object
          additionalProperties: false
          required:
          - InternationalPaymentId
          - ConsentId
          - CreationDateTime
          - Status
          - StatusUpdateDateTime
          - Initiation
          properties:
            InternationalPaymentId:
              description: 'OB: Unique identification as assigned by the ASPSP to uniquely identify the international payment resource.'
              type: string
              minLength: 1
              maxLength: 40
            ConsentId:
              description: 'OB: Unique identification as assigned by the ASPSP to uniquely identify the consent resource.'
              type: string
              minLength: 1
              maxLength: 128
            CreationDateTime:
              description: 'Date and time at which the message was created. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
              type: string
              format: date-time
            Status:
              description: 'Specifies the status of the payment information group. Danske Bank: Status ACSC (AcceptedSettlementCompleted) means the payment initiation is completed and that Danske Bank has accepted the payment initiation request.  It does not necessarily mean that the payment order has or will be executed, nor that the funds will be received by the beneficiary.'
              type: string
              enum:
              - RCVD
              - ACSP
              - ACSC
              - RJCT
            StatusUpdateDateTime:
              description: 'Date and time at which the resource status was updated. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
              type: string
              format: date-time
            StatusReason:
              type: array
              items:
                $ref: '#/components/schemas/OBStatusReason'
            ExpectedExecutionDateTime:
              description: 'Expected execution date and time for the payment resource. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
              type: string
              format: date-time
            ExpectedSettlementDateTime:
              description: 'Expected settlement date and time for the payment resource. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
              type: string
              format: date-time
            Refund:
              type: object
              additionalProperties: false
              required:
              - Account
              properties:
                Creditor:
                  description: Set of elements used to identify a person or an organisation.
                  type: object
                  additionalProperties: false
                  properties:
                    Name:
                      description: Name by which a party is known and which is usually used to identify that party.
                      type: string
                      minLength: 1
                      maxLength: 350
                    LEI:
                      $ref: '#/components/schemas/LEI'
                    PostalAddress:
                      $ref: '#/components/schemas/OBPostalAddress7'
                Agent:
                  description: Set of elements used to uniquely and unambiguously identify a financial institution or a branch of a financial institution.
                  type: object
                  additionalProperties: false
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBInternalFinancialInstitutionIdentification4Code'
                    Identification:
                      $ref: '#/components/schemas/Identification_1'
                    Name:
                      $ref: '#/components/schemas/Name'
                    PostalAddress:
                      $ref: '#/components/schemas/OBPostalAddress7'
                Account:
                  description: Provides the details to identify an account.
                  type: object
                  additionalProperties: false
                  required:
                  - SchemeName
                  - Identification
                  - Name
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBInternalAccountIdentification47Code'
                    Identification:
                      $ref: '#/components/schemas/Identification_0'
                    Name:
                      description: 'Name of the account, as assigned by the account servicing institution. Usage: The account name is the name or names of the account owner(s) represented at an account level. The account name is not the product name or the nickname of the account. OB: ASPSPs may carry out name validation for Confirmation of Payee, but it is not mandatory.'
                      type: string
                      minLength: 1
                      maxLength: 350
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                    Proxy:
                      $ref: '#/components/schemas/OBProxy1'
            Charges:
              type: array
              items:
                type: object
                additionalProperties: false
                description: Set of elements used to provide details of a charge for the payment initiation.
                required:
                - ChargeBearer
                - Type
                - Amount
                properties:
                  ChargeBearer:
                    $ref: '#/components/schemas/OBInternalChargeBearerType1Code'
                  Type:
                    $ref: '#/components/schemas/OBInternalPaymentChargeType1Code'
                  Amount:
                    $ref: '#/components/schemas/OBActiveOrHistoricCurrencyAndAmount'
            ExchangeRateInformation:
              description: Further detailed information on the exchange rate that has been used in the payment transaction.
              type: object
              additionalProperties: false
              required:
              - UnitCurrency
              - ExchangeRate
              - RateType
              properties:
                UnitCurrency:
                  description: Currency in which the rate of exchange is expressed in a currency exchange. In the example 1GBP = xxxCUR, the unit currency is GBP.
                  type: string
                  pattern: ^[A-Z]{3,3}$
                ExchangeRate:
                  description: The factor used for conversion of an amount from one currency to another. This reflects the price at which one currency was bought with another currency.
                  type: number
                RateType:
                  description: Specifies the type used to complete the currency exchange.
                  type: string
                  enum:
                  - Agreed
                  - Indicative
                ContractIdentification:
                  description: Unique and unambiguous reference to the foreign exchange contract agreed between the initiating party/creditor and the debtor agent.
                  type: string
                  minLength: 1
                  maxLength: 256
                ExpirationDateTime:
                  description: 'Specified date and time the exchange rate agreement will expire. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
                  type: string
                  format: date-time
            Initiation:
              description: The Initiation payload is sent by the initiating party to the ASPSP. It is used to request movement of funds from the debtor account to a creditor for a single international payment.
              type: object
              additionalProperties: false
              required:
              - InstructionIdentification
              - EndToEndIdentification
              - CurrencyOfTransfer
              - InstructedAmount
              - Creditor
              - CreditorAccount
              properties:
                InstructionIdentification:
                  description: 'Unique identification as assigned by an instructing party for an instructed party to unambiguously identify the instruction. Usage: the instruction identification is a point to point reference that can be used between the instructing party and the instructed party to refer to the individual instruction. It can be included in several messages related to the instruction.'
                  type: string
                  minLength: 1
                  maxLength: 35
                EndToEndIdentification:
                  description: 'Unique identification assigned by the initiating party to unambiguously identify the transaction. This identification is passed on, unchanged, throughout the entire end-to-end chain. Usage: The end-to-end identification can be used for reconciliation or to link tasks relating to the transaction. It can be included in several messages related to the transaction. OB: The Faster Payments Scheme can only access 31 characters for the EndToEndIdentification field.'
                  type: string
                  minLength: 1
                  maxLength: 35
                LocalInstrument:
                  $ref: '#/components/schemas/OBInternalLocalInstrument11Code'
                InstructionPriority:
                  description: Indicator of the urgency or order of importance that the instructing party would like the instructed party to apply to the processing of the instruction.
                  type: string
                  enum:
                  - Normal
                  - Urgent
                ExtendedPurpose:
                  description: Specifies the purpose of an international payment, when there is no corresponding 4 character code available in the ISO20022 list of Purpose Codes.
                  type: string
                  minLength: 1
                  maxLength: 140
                ChargeBearer:
                  $ref: '#/components/schemas/OBInternalChargeBearerType1Code'
                CurrencyOfTransfer:
                  description: Specifies the currency of the to be transferred amount, which is different from the currency of the debtor's account.
                  type: string
                  pattern: ^[A-Z]{3,3}$
                DestinationCountryCode:
                  description: Country in which Credit Account is domiciled. Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).
                  type: string
                  pattern: '[A-Z]{2,2}'
                InstructedAmount:
                  description: 'Amount of money to be moved between the debtor and creditor, before deduction of charges, expressed in the currency as ordered by the initiating party. Usage: This amount has to be transported unchanged through the transaction chain.'
                  type: object
                  additionalProperties: false
                  required:
                  - Amount
                  - Currency
                  properties:
                    Amount:
                      $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
                    Currency:
                      $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
                ExchangeRateInformation:
                  description: Provides details on the currency exchange rate and contract.
                  type: object
                  additionalProperties: false
                  required:
                  - UnitCurrency
                  - RateType
                  properties:
                    UnitCurrency:
                      description: Currency in which the rate of exchange is expressed in a currency exchange. In the example 1GBP = xxxCUR, the unit currency is GBP.
                      type: string
                      pattern: ^[A-Z]{3,3}$
                    ExchangeRate:
                      description: The factor used for conversion of an amount from one currency to another. This reflects the price at which one currency was bought with another currency.
                      type: number
                    RateType:
                      description: Specifies the type used to complete the currency exchange.
                      type: string
                      enum:
                      - Agreed
                      - Indicative
                    ContractIdentification:
                      description: Unique and unambiguous reference to the foreign exchange contract agreed between the initiating party/creditor and the debtor agent.
                      type: string
                      minLength: 1
                      maxLength: 256
                DebtorAccount:
                  description: Unambiguous identification of the account of the debtor to which a debit entry will be made as a result of the transaction.
                  type: object
                  additionalProperties: false
                  required:
                  - SchemeName
                  - Identification
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBInternalAccountIdentification47Code'
                    Identification:
                      $ref: '#/components/schemas/Identification_0'
                    Name:
                      description: The account name is the name or names of the account owner(s) represented at an account level, as displayed by the ASPSP's online channels. Note, the account name is not the product name or the nickname of the account.
                      type: string
                      minLength: 1
                      maxLength: 350
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                    Proxy:
                      $ref: '#/components/schemas/OBProxy1'
                Creditor:
                  description: Party to which an amount of money is due.
                  type: object
                  additionalProperties: false
                  properties:
                    Name:
                      description: Name by which a party is known and which is usually used to identify that party.
                      type: string
                      minLength: 1
                      maxLength: 350
                    LEI:
                      $ref: '#/components/schemas/LEI'
                    PostalAddress:
                      $ref: '#/components/schemas/OBPostalAddress47'
                CreditorAgent:
                  description: Financial institution servicing an account for the creditor.
                  type: object
                  additionalProperties: false
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBInternalFinancialInstitutionIdentification4Code'
                    Identification:
                      $ref: '#/components/schemas/Identification_1'
                    Name:
                      $ref: '#/components/schemas/Name'
                    LEI:
                      $ref: '#/components/schemas/LEI'
                    PostalAddress:
                      $ref: '#/components/schemas/OBPostalAddress7'
                CreditorAccount:
                  description: Unambiguous identification of the account of the creditor to which a credit entry will be posted as a result of the payment transaction.
                  type: object
                  additionalProperties: false
                  required:
                  - SchemeName
                  - Identification
                  - Name
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBInternalAccountIdentification47Code'
                    Identification:
                      $ref: '#/components/schemas/Identification_0'
                    Name:
                      description: 'The account name is the name or names of the account owner(s) represented at an account level. Note, the account name is not the product name or the nickname of the account. OB: ASPSPs may carry out name validation for Confirmation of Payee, but it is not mandatory.'
                      type: string
                      minLength: 1
                      maxLength: 350
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                    Proxy:
                      $ref: '#/components/schemas/OBProxy1'
                UltimateCreditor:
                  $ref: '#/components/schemas/OBUltimateCreditor1'
                UltimateDebtor:
                  $ref: '#/components/schemas/OBUltimateDebtor1'
                RegulatoryReporting:
                  type: array
                  items:
                    $ref: '#/components/schemas/OBRegulatoryReporting1'
                  maxItems: 10
                RemittanceInformation:
                  $ref: '#/components/schemas/OBRemittanceInformation2'
                SupplementaryData:
                  $ref: '#/components/schemas/OBSupplementaryData1'
            MultiAuthorisation:
              description: The multiple authorisation flow response from the ASPSP.
              type: object
              additionalProperties: false
              required:
              - Status
              properties:
                Status:
                  description: Specifies the status of the authorisation flow in code form.
                  type: string
                  enum:
                  - AUTH
                  - AWAF
                  - RJCT
                NumberRequired:
                  description: Number of authorisations required for payment order (total required at the start of the multi authorisation journey).
                  type: integer
                NumberReceived:
                  description: Number of authorisations received.
                  type: integer
                LastUpdateDateTime:
                  description: 'Last date and time at the authorisation flow was updated. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
                  type: string
                  format: date-time
                ExpirationDateTime:
                  description: 'Date and time at which the requested authorisation flow must be completed. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00'
                  type: string
                  format: date-time
            Debtor:
              $ref: '#/components/schemas/OBCashAccountDebtor4'
        Links:
          $ref: '#/components/schemas/Links'
        Meta:
          $ref: '#/components/schemas/Meta'
    OBErrorResponse1:
      description: An array of detail error codes, and messages, and URLs to documentation to help remediation.
      type: object
      additionalProperties: false
      required:
      - Errors
      properties:
        Id:
          description: A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.
          type: string
          minLength: 1
          maxLength: 40
        Errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/OBError1'
    OBUltimateDebtor1:
      description: 'Ultimate party that owes an amount of money to the (ultimate) creditor. Danske Bank: Object is accepted but ignored.'
      type: object
      properties:
        Name:
          description: Name by which a party is known and which is usually used to identify that party.
          type: string
          minLength: 1
          maxLength: 140
        Identification:
          description: Identification assigned by an institution.
          type: string
          minLength: 1
          maxLength: 256
        LEI:
          $ref: '#/components/schemas/LEI'
        SchemeName:
          $ref: '#/components/schemas/OBInternalAccountIdentification45Code'
        PostalAddress:
          $ref: '#/components/schemas/OBPostalAddress7'
    Room:
      description: Information that locates and identifies a room to form part of an address
      type: string
      minLength: 1
      maxLength: 70
    TownName:
      description: Name of a built-up area, with defined boundaries, and a local government.
      type: string
      minLength: 1
      maxLength: 140
    LEI:
      description: Legal entity identification as an alternate identification for a party. Legal Entity Identifier is a code allocated to a party as described in ISO 17442 "Financial Services - Legal Entity Identifier (LEI)".
      type: string
      minLength: 1
      maxLength: 20
      pattern: ^[A-Z0-9]{18,18}[0-9]{2,2}$
    SecondaryIdentification:
      description: This is secondary identification of the account, as assigned by the account servicing institution. This can be used by building societies to additionally identify accounts with a roll number (in addition to a sort code and account number combination).
      type: string
      minLength: 1
      maxLength: 34
    ActiveOrHistoricCurrencyCode:
      description: A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".
      type: string
      pattern: ^[A-Z]{3,3}$
    OBWriteInternational3:
      type: object
      additionalProperties: false
      required:
      - Data
      - Risk
      properties:
        Data:
          type: object
          additionalProperties: false
          required:
          - ConsentId
          - Initiation
          properties:
            ConsentId:
              description: 'OB: Unique identification as assigned by the ASPSP to uniquely identify the consent resource.'
              type: string
              minLength: 1
              maxLength: 128
            Initiation:
              description: The Initiation payload is sent by the initiating party to the ASPSP. It is used to request movement of funds from the debtor account to a creditor for a single international payment.
              type: object
              additionalProperties: false
              required:
              - InstructionIdentification
              - EndToEndIdentification
              - CurrencyOfTransfer
              - InstructedAmount
              - Creditor
              - CreditorAccount
              properties:
                InstructionIdentification:
                  description: 'Unique identification as assigned by an instructing party for an instructed party to unambiguously identify the instruction. Usage: the instruction identification is a point to point reference that can be used between the instructing party and the instructed party to refer to the individual instruction. It can be included in several messages related to the instruction.'
                  type: string
                  minLength: 1
                  maxLength: 35
                EndToEndIdentification:
                  description: 'Unique identification assigned by the initiating party to unambiguously identify the transaction. This identification is passed on, unchanged, throughout the entire end-to-end chain. Usage: The end-to-end identification can be used for reconciliation or to link tasks relating to the transaction. It can be included in several messages related to the transaction. OB: The Faster Payments Scheme can only access 31 characters for the EndToEndIdentification field.'
                  type: string
                  minLength: 1
                  maxLength: 35
                LocalInstrument:
                  $ref: '#/components/schemas/OBInternalLocalInstrument11Code'
                InstructionPriority:
                  description: Indicator of the urgency or order of importance that the instructing party would like the instructed party to apply to the processing of the instruction.
                  type: string
                  enum:
                  - Normal
                  - Urgent
                ExtendedPurpose:
                  description: Specifies the purpose of an international payment, when there is no corresponding 4 character code available in the ISO20022 list of Purpose Codes.
                  type: string
                  minLength: 1
                  maxLength: 140
                ChargeBearer:
                  $ref: '#/components/schemas/OBInternalChargeBearerType1Code'
                CurrencyOfTransfer:
                  description: Specifies the currency of the to be transferred amount, which is different from the currency of the debtor's account.
                  type: string
                  pattern: ^[A-Z]{3,3}$
                DestinationCountryCode:
                  description: Country in which Credit Account is domiciled. Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).
                  type: string
                  pattern: '[A-Z]{2,2}'
                InstructedAmount:
                  description: 'Amount of money to be moved between the debtor and creditor, before deduction of charges, expressed in the currency as ordered by the initiating party. Usage: This amount has to be transported unchanged through the transaction chain.'
                  type: object
                  additionalProperties: false
                  required:
                  - Amount
                  - Currency
                  properties:
                    Amount:
                      $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
                    Currency:
                      $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
                ExchangeRateInformation:
                  description: Provides details on the currency exchange rate and contract.
                  type: object
                  additionalProperties: false
                  required:
                  - UnitCurrency
                  - RateType
                  properties:
                    UnitCurrency:
                      description: Currency in which the rate of exchange is expressed in a currency exchange. In the example 1GBP = xxxCUR, the unit currency is GBP.
                      type: string
                      pattern: ^[A-Z]{3,3}$
                    ExchangeRate:
                      description: 'The factor used for conversion of an amount from one currency to another. This reflects the price at which one currency was bought with another currency. Danske Bank: due to Danske Bank infrastructure specifics, value should not contain trailing zeroes. E.g. 100.00 should be stated as 100'
                      type: number
                    RateType:
                      description: Specifies the type used to complete the currency exchange.
                      type: string
                      enum:
                      - Agreed
                      - Indicative
                    ContractIdentification:
                      description: Unique and unambiguous reference to the foreign exchange contract agreed between the initiating party/creditor and the debtor agent.
                      type: string
                      minLength: 1
                      maxLength: 256
                DebtorAccount:
                  description: Unambiguous identification of the account of the debtor to which a debit entry will be made as a result of the transaction.
                  type: object
                  additionalProperties: false
                  required:
                  - SchemeName
                  - Identification
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBInternalAccountIdentification47Code'
                    Identification:
                      $ref: '#/components/schemas/Identification_0'
                    Name:
                      description: The account name is the name or names of the account owner(s) represented at an account level, as displayed by the ASPSP's online channels. Note, the account name is not the product name or the nickname of the account.
                      type: string
                      minLength: 1
                      maxLength: 350
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                    Proxy:
                      $ref: '#/components/schemas/OBProxy1'
                Creditor:
                  description: Party to which an amount of money is due.
                  type: object
                  additionalProperties: false
                  required:
                  - Name
                  - PostalAddress
                  properties:
                    Name:
                      description: 'Name by which a party is known and which is usually used to identify that party. Danske Bank: Only 35 characters are accepted, longer values will be truncated.'
                      type: string
                      minLength: 1
                      maxLength: 350
                    LEI:
                      $ref: '#/components/schemas/LEI'
                    PostalAddress:
                      $ref: '#/components/schemas/OBPostalAddress47'
                CreditorAgent:
                  description: Financial institution servicing an account for the creditor.
                  type: object
                  additionalProperties: false
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBInternalFinancialInstitutionIdentification4Code'
                    Identification:
                      $ref: '#/components/schemas/Identification_1'
                    Name:
                      $ref: '#/components/schemas/Name'
                    LEI:
                      $ref: '#/components/schemas/LEI'
                    PostalAddress:
                      $ref: '#/components/schemas/OBPostalAddress7'
                CreditorAccount:
                  description: Unambiguous identification of the account of the creditor to which a credit entry will be posted as a result of the payment transaction.
                  type: object
                  additionalProperties: false
                  required:
                  - SchemeName
                  - Identification
                  - Name
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBInternalAccountIdentification47Code'
                    Identification:
                      $ref: '#/components/schemas/Identification_0'
                    Name:
                      description: 'The account name is the name or names of the account owner(s) represented at an account level. Note, the account name is not the product name or the nickname of the account. OB: ASPSPs may carry out name validation for Confirmation of Payee, but it is not mandatory. Danske Bank: Only 35 characters are accepted, longer values will be truncated.'
                      type: string
                      minLength: 1
                      maxLength: 350
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                    Proxy:
[...]
