openapi: 3.2.0
info:
  title: Account and Transaction - UK OB Transactions API
  description: Retrieve account details and transaction information.
  version: 4.0.0
servers:
- description: prod Environment
  url: https://obp-api.danskebank.com/open-banking/v4.0/aisp
tags:
- name: Transactions
paths:
  /accounts/{AccountId}/transactions:
    get:
      tags:
      - Transactions
      summary: Get Transactions
      operationId: GetAccountsAccountIdTransactions
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/x-fapi-auth-date'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address'
      - $ref: '#/components/parameters/x-fapi-interaction-id'
      - $ref: '#/components/parameters/x-customer-user-agent'
      - $ref: '#/components/parameters/FromBookingDateTimeParam'
      - $ref: '#/components/parameters/ToBookingDateTimeParam'
      - $ref: '#/components/parameters/Order'
      responses:
        '200':
          $ref: '#/components/responses/200AccountsAccountIdTransactionsRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
        '503':
          $ref: '#/components/responses/503Error'
components:
  parameters:
    AccountId:
      name: AccountId
      in: path
      description: AccountId
      required: true
      schema:
        type: string
    Order:
      name: Order
      in: query
      description: 'Date-time order for receipt of transactions, either descending (desc) or ascending (asc). If omitted asc is default.

        '
      schema:
        type: string
    x-fapi-interaction-id:
      name: x-fapi-interaction-id
      in: header
      description: An RFC4122 UID used as a correlation id.
      required: false
      schema:
        type: string
    ToBookingDateTimeParam:
      name: toBookingDateTime
      in: query
      description: 'The UTC ISO 8601 Date Time to filter transactions TO NB Time component is optional - set to 00:00:00 for just Date. If the Date Time contains a timezone, the ASPSP must ignore the timezone component.

        '
      schema:
        type: string
        format: date-time
    x-fapi-auth-date:
      name: x-fapi-auth-date
      in: header
      description: 'The time when the PSU last logged in with the TPP.  All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:  Sun, 10 Sep 2017 19:43:31 UTC

        '
      required: false
      schema:
        type: string
        pattern: ^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$
    x-fapi-customer-ip-address:
      name: x-fapi-customer-ip-address
      in: header
      description: The PSU's IP address if the PSU is currently logged in with the TPP.
      required: false
      schema:
        type: string
    FromBookingDateTimeParam:
      name: fromBookingDateTime
      in: query
      description: 'The UTC ISO 8601 Date Time to filter transactions FROM NB Time component is optional - set to 00:00:00 for just Date. If the Date Time contains a timezone, the ASPSP must ignore the timezone component.

        '
      schema:
        type: string
        format: date-time
    x-customer-user-agent:
      name: x-customer-user-agent
      in: header
      description: Indicates the user-agent that the PSU is using.
      required: false
      schema:
        type: string
  schemas:
    OBCreditDebitCode_1:
      description: Indicates whether the transaction is a credit or a debit entry.
      type: string
      enum:
      - Credit
      - Debit
    Meta:
      title: MetaData
      description: Meta Data relevant to the payload
      type: object
      additionalProperties: false
      properties:
        TotalPages:
          type: integer
          format: int32
        FirstAvailableDateTime:
          $ref: '#/components/schemas/ISODateTime'
        LastAvailableDateTime:
          $ref: '#/components/schemas/ISODateTime'
    BookingDateTime:
      description: 'Date and time when a transaction entry is posted to an account on the account servicer''s books. Usage: Booking date is the expected booking date, unless the status is booked, in which case it is the actual booking date. All dates in the JSON payloads are represented in ISO 8601 date-time format.  All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00

        '
      type: string
      format: date-time
    OBCashAccount6_1:
      description: Unambiguous identification of the account of the debtor, in the case of a crebit transaction.
      type: object
      properties:
        SchemeName:
          $ref: '#/components/schemas/OBInternalAccountIdentification4Code'
        Identification:
          $ref: '#/components/schemas/Identification_0'
        Name:
          $ref: '#/components/schemas/Name_0'
        SecondaryIdentification:
          $ref: '#/components/schemas/SecondaryIdentification'
        Proxy:
          $ref: '#/components/schemas/OBProxy1'
    TransactionId:
      description: Unique identifier for the transaction within an servicing institution. This identifier is both unique and immutable.
      type: string
      minLength: 1
      maxLength: 210
    OBActiveCurrencyAndAmount_SimpleType:
      description: A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
      type: string
      pattern: ^\d{1,13}$|^\d{1,13}\.\d{1,5}$
    UnitNumber:
      description: Number that identifies the unit of a specific address .
      type: string
      example: A88
      minLength: 1
      maxLength: 16
    AccountId:
      description: A unique and immutable identifier used to identify the account resource. This identifier has no meaning to the account owner.
      type: string
      minLength: 1
      maxLength: 40
    OBSupplementaryData1:
      type: object
      properties: {}
      additionalProperties: true
      description: Additional information that can not be captured in the structured fields and/or any other specific block.
    ISODateTime:
      description: 'All dates in the JSON payloads are represented in ISO 8601 date-time format.  All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00

        '
      type: string
      format: date-time
    DistrictName:
      description: Number that of the regional area, known as a district, which forms part of an address
      type: string
      minLength: 1
      maxLength: 140
    OBUltimateCreditor1:
      description: Ultimate party to which an amount of money is due.
      type: object
      properties:
        Name:
          description: Name by which a party is known and which is usually used to identify that party.
          type: string
          minLength: 1
          maxLength: 140
        Identification:
          description: Identification assigned by an institution.
          type: string
          minLength: 1
          maxLength: 256
        LEI:
          $ref: '#/components/schemas/LEI'
        SchemeName:
          $ref: '#/components/schemas/OBInternalAccountIdentification4Code'
        PostalAddress:
          $ref: '#/components/schemas/OBPostalAddress7'
    PostBox:
      description: Information that locates and identifies a box in a post office assigned to a person or organization, where letters for them are kept until called for.
      type: string
      example: PO Box 123456
      minLength: 1
      maxLength: 16
    ExternalProxyAccountType1Code:
      description: Specifies the external proxy account type code, as published in the proxy account type external code set.<br /> For more information and a full list of values see `ExternalProxyAccountType1Code` in *ISO_External_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      type: string
      example: TELE
      enum:
      - TELE
      - EMAL
      - DNAM
      - CINC
      - COTX
      - COID
      - CUST
      - DRLC
      - EIDN
      - EWAL
      - PVTX
      - LEIC
      - MBNO
      - NIDN
      - CCPT
      - SHID
      - SOSE
      - TOKN
      - UBIL
      - VIPN
      - BIID
    OBCurrencyExchange5:
      description: Set of elements used to provide details on the currency exchange.
      type: object
      required:
      - SourceCurrency
      - ExchangeRate
      properties:
        SourceCurrency:
          description: Currency from which an amount is to be converted in a currency conversion.
          type: string
          pattern: ^[A-Z]{3,3}$
        TargetCurrency:
          description: Currency into which an amount is to be converted in a currency conversion.
          type: string
          pattern: ^[A-Z]{3,3}$
        UnitCurrency:
          description: Currency in which the rate of exchange is expressed in a currency exchange. In the example 1GBP = xxxCUR, the unit currency is GBP.
          type: string
          pattern: ^[A-Z]{3,3}$
        ExchangeRate:
          description: 'Factor used to convert an amount from one currency into another. This reflects the price at which one currency was bought with another currency. Usage: ExchangeRate expresses the ratio between UnitCurrency and QuotedCurrency (ExchangeRate = UnitCurrency/QuotedCurrency).

            '
          type: number
        ContractIdentification:
          description: Unique identification to unambiguously identify the foreign exchange contract.
          type: string
          minLength: 1
          maxLength: 35
        QuotationDate:
          description: 'Date and time at which an exchange rate is quoted. All dates in the JSON payloads are represented in ISO 8601 date-time format.  All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00

            '
          type: string
          format: date-time
        InstructedAmount:
          description: Amount of money to be moved between the debtor and creditor, before deduction of charges, expressed in the currency as ordered by the initiating party.
          type: object
          required:
          - Amount
          - Currency
          properties:
            Amount:
              $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
            Currency:
              $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_1'
    OBBankTransactionCodeStructure1:
      description: Set of elements used to fully identify the type of underlying transaction resulting in an entry.
      type: object
      required:
      - Code
      - SubCode
      properties:
        Code:
          description: Specifies the family within a domain.
          type: string
        SubCode:
          description: Specifies the sub-product family within a specific family.
          type: string
    Links:
      description: Links relevant to the payload
      type: object
      additionalProperties: false
      required:
      - Self
      properties:
        Self:
          type: string
          format: uri
        First:
          type: string
          format: uri
        Prev:
          type: string
          format: uri
        Next:
          type: string
          format: uri
        Last:
          type: string
          format: uri
    OBError1:
      type: object
      minProperties: 1
      additionalProperties: false
      required:
      - ErrorCode
      properties:
        ErrorCode:
          $ref: '#/components/schemas/OBExternalStatusReason1Code'
        Message:
          description: 'A description of the error that occurred. e.g., ''A mandatory field isn''t supplied'' or ''RequestedExecutionDateTime must be in future'' OBIE doesn''t standardise this field

            '
          type: string
          minLength: 1
          maxLength: 500
        Path:
          description: Recommended but optional reference to the JSON Path of the field with error, e.g., Data.Initiation.InstructedAmount.Currency
          type: string
          minLength: 1
          maxLength: 500
        Url:
          description: URL to help remediate the problem, or provide more information, or to API Reference, or help etc
          type: string
    OBTransactionCashBalance:
      description: Set of elements used to define the balance as a numerical representation of the net increases and decreases in an account after a transaction entry is applied to the account.
      type: object
      additionalProperties: false
      required:
      - CreditDebitIndicator
      - Type
      - Amount
      properties:
        CreditDebitIndicator:
          $ref: '#/components/schemas/OBCreditDebitCode_2'
        Type:
          $ref: '#/components/schemas/OBBalanceType1Code'
        Amount:
          description: Amount of money of the cash balance after a transaction entry is applied to the account.
          type: object
          required:
          - Amount
          - Currency
          properties:
            Amount:
              $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
            Currency:
              $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_1'
    ProprietaryBankTransactionCodeStructure1:
      description: Set of elements to fully identify a proprietary bank transaction code.
      type: object
      additionalProperties: false
      required:
      - Code
      properties:
        Code:
          description: Proprietary bank transaction code to identify the underlying transaction.
          type: string
          minLength: 1
          maxLength: 35
        Issuer:
          description: Identification of the issuer of the proprietary bank transaction code.
          type: string
          minLength: 1
          maxLength: 35
    OBProxy1:
      description: Specifies an alternate assumed name for the identification of the account.
      type: object
      required:
      - Identification
      - Code
      properties:
        Identification:
          description: Identification used to indicate the account identification under another specified name.
          type: string
          example: '2360549017905188'
          minLength: 1
          maxLength: 2048
        Code:
          $ref: '#/components/schemas/ExternalProxyAccountType1Code'
        Type:
          type: string
          description: Type of the proxy identification.
          minLength: 1
          maxLength: 35
    OBReadTransaction6:
      type: object
      additionalProperties: false
      required:
      - Data
      properties:
        Data:
          $ref: '#/components/schemas/OBReadDataTransaction6'
        Links:
          $ref: '#/components/schemas/Links'
        Meta:
          $ref: '#/components/schemas/Meta'
    StreetName:
      description: Name of a street or thoroughfare.
      type: string
      minLength: 1
      maxLength: 140
    BuildingName:
      description: Name of a referenced building.
      type: string
      minLength: 1
      maxLength: 140
    OBExternalStatusReason1Code:
      description: Low level textual error code, for all enum values see `ExternalReason1Code` [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      type: string
      minLength: 4
      maxLength: 4
      example: AC17
    ExternalEntryStatus1Code:
      description: Status of a transaction entry on the books of the account servicer.
      type: string
      enum:
      - BOOK
      - FUTR
      - INFO
      - PDNG
      - RJCT
    OBBalanceType1Code:
      description: Balance type, in a coded form.
      type: string
      enum:
      - CLAV
      - CLBD
      - FWAV
      - INFO
      - ITAV
      - ITBD
      - OPAV
      - OPBD
      - PRCD
      - XPCD
    OBBranchAndFinancialInstitutionIdentification6_2:
      description: Financial institution servicing an account for the debtor.
      type: object
      properties:
        SchemeName:
          $ref: '#/components/schemas/OBInternalFinancialInstitutionIdentification4Code'
        Identification:
          $ref: '#/components/schemas/Identification_2'
        Name:
          $ref: '#/components/schemas/Name_1'
        LEI:
          $ref: '#/components/schemas/LEI'
        PostalAddress:
          $ref: '#/components/schemas/OBPostalAddress7'
    Identification_2:
      description: Unique and unambiguous identification of a financial institution or a branch of a financial institution.
      type: string
      minLength: 1
      maxLength: 35
    OBInternalTransactionMutability1Code:
      description: Specifies the Mutability of the Transaction record. Please note, since balance is a part of response, and DB allows (under certain circumstances) to back value transactions which leads to changed historical balances, all transactions are defined as Mutable.
      type: string
      enum:
      - Mutable
      - Immutable
    AddressLine:
      description: Information that locates and identifies a specific address for a transaction entry, that is presented in free format text.
      type: string
      minLength: 1
      maxLength: 70
    BuildingNumber:
      description: Number that identifies the position of a building on a street.
      type: string
      minLength: 1
      maxLength: 16
    OBAddressType2Code:
      description: Identifies the nature of the postal address. <br /> For a full set of codes see `OBAddressType2Code` in *OB_Internal_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets).
      type: string
      example: BIZZ
      enum:
      - BIZZ
      - DLVY
      - MLTO
      - PBOX
      - ADDR
      - HOME
      - CORR
      - STAT
    OBInternalFinancialInstitutionIdentification4Code:
      description: Name of the identification scheme, in a coded form as published in an external list.
      type: string
      example: UK.OBIE.BICFI
      x-namespaced-enum:
      - UK.OBIE.BICFI
    OBInternalAccountIdentification4Code:
      description: Name of the identification scheme, in a coded form as published in an external list.
      type: string
      x-namespaced-enum:
      - UK.OBIE.IBAN
      - UK.OBIE.SortCodeAccountNumber
    CareOf:
      description: The 'care of' address is used whenever sending mail to a person or organisation who does not actually live or work at the address. They will receive the mail for the individual.
      type: string
      example: Jane Smith
      minLength: 1
      maxLength: 140
    Floor:
      description: Number that identifies the level within a building
      type: string
      example: '11'
      minLength: 1
      maxLength: 70
    Identification_0:
      description: Identification assigned by an institution to identify an account. This identification is known by the account owner.
      type: string
      minLength: 1
      maxLength: 256
    PostCode:
      description: Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.
      type: string
      minLength: 1
      maxLength: 16
    Name_1:
      description: Name by which an agent is known and which is usually used to identify that agent.
      type: string
      minLength: 1
      maxLength: 140
    OBErrorResponse1:
      description: An array of detail error codes, and messages, and URLs to documentation to help remediation.
      type: object
      additionalProperties: false
      required:
      - Errors
      properties:
        Id:
          description: A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.
          type: string
          minLength: 1
          maxLength: 40
        Errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/OBError1'
    OBUltimateDebtor1:
      description: Ultimate party that owes an amount of money to the (ultimate) creditor.
      type: object
      properties:
        Name:
          description: Name by which a party is known and which is usually used to identify that party.
          type: string
          minLength: 1
          maxLength: 140
        Identification:
          description: Identification assigned by an institution.
          type: string
          minLength: 1
          maxLength: 256
        LEI:
          $ref: '#/components/schemas/LEI'
        SchemeName:
          $ref: '#/components/schemas/OBInternalAccountIdentification4Code'
        PostalAddress:
          $ref: '#/components/schemas/OBPostalAddress7'
    Room:
      description: Information that locates and identifies a room to form part of an address
      type: string
      example: Basement 03
      minLength: 1
      maxLength: 70
    TownName:
      description: Name of a built-up area, with defined boundaries, and a local government.
      type: string
      minLength: 1
      maxLength: 140
    TransactionInformation:
      description: 'Further details of the transaction.  This is the transaction narrative, which is unstructured text. Danske Bank: The following fields in the mentioned order are reflected when applicable and dependent on transaction type in question; Short message, Unstructured, Reference, ‘EndToEndID:’. EndToEndID will always be presented, and with “NOTPROVIDED” if no value is available.

        '
      type: string
      minLength: 1
      maxLength: 500
    OBExternalPurpose1Code:
      type: string
      minLength: 1
      maxLength: 4
      description: For a full list of enumeration values refer to `ExternalPurpose1Code` in *ISO_External_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      enum:
      - BKDF
      - BKFE
      - BKFM
      - BKIP
      - BKPP
      - CBLK
      - CDCB
      - CDCD
      - CDCS
      - CDDP
      - CDOC
      - CDQC
      - ETUP
      - FCOL
      - MTUP
      - ACCT
      - CASH
      - COLL
      - CSDB
      - DEPT
      - INTC
      - INTP
      - LIMA
      - NETT
      - BFWD
      - CCIR
      - CCPC
      - CCPM
      - CCSM
      - CRDS
      - CRPR
      - CRSP
      - CRTL
      - EQPT
      - EQUS
      - EXPT
      - EXTD
      - FIXI
      - FWBC
      - FWCC
      - FWSB
      - FWSC
      - MARG
      - MBSB
      - MBSC
      - MGCC
      - MGSC
      - OCCC
      - OPBC
      - OPCC
      - OPSB
      - OPSC
      - OPTN
      - OTCD
      - REPO
      - RPBC
      - RPCC
      - RPSB
      - RPSC
      - RVPO
      - SBSC
      - SCIE
      - SCIR
      - SCRP
      - SHBC
      - SHCC
      - SHSL
      - SLEB
      - SLOA
      - SWBC
      - SWCC
      - SWPT
      - SWSB
      - SWSC
      - TBAS
      - TBBC
      - TBCC
      - TRCP
      - AGRT
      - AREN
      - BEXP
      - BOCE
      - COMC
      - CPYR
      - GDDS
      - GDSV
      - GSCB
      - LICF
      - MP2B
      - POPE
      - ROYA
      - SCVE
      - SERV
      - SUBS
      - SUPP
      - TRAD
      - CHAR
      - COMT
      - MP2P
      - ECPG
      - ECPR
      - ECPU
      - EPAY
      - CLPR
      - COMP
      - DBTC
      - GOVI
      - HLRP
      - HLST
      - INPC
      - INPR
      - INSC
      - INSU
      - INTE
      - LBRI
      - LIFI
      - LOAN
      - LOAR
      - PENO
      - PPTI
      - RELG
      - RINP
      - TRFD
      - FORW
      - FXNT
      - ADMG
      - ADVA
      - BCDM
      - BCFG
      - BLDM
      - BNET
      - CBFF
      - CBFR
      - CCRD
      - CDBL
      - CFEE
      - CGDD
      - CORT
      - COST
      - CPKC
      - DCRD
      - DSMT
      - DVPM
      - EDUC
      - FACT
      - FAND
      - FCPM
      - FEES
      - GIFT
      - GOVT
      - ICCP
      - IDCP
      - IHRP
      - INSM
      - IVPT
      - MCDM
      - MCFG
      - MSVC
      - NOWS
      - OCDM
      - OCFG
      - OFEE
      - OTHR
      - PADD
      - PTSP
      - RCKE
      - RCPT
      - REBT
      - REFU
      - RENT
      - REOD
      - RIMB
      - RPNT
      - RRBN
      - RRCT
      - RRTP
      - RVPM
      - SLPI
      - SPLT
      - STDY
      - TBAN
      - TBIL
      - TCSC
      - TELI
      - TMPG
      - TPRI
      - TPRP
      - TRNC
      - TRVC
      - WEBI
      - IPAY
      - IPCA
      - IPDO
      - IPEA
      - IPEC
      - IPEW
      - IPPS
      - IPRT
      - IPU2
      - IPUW
      - ANNI
      - CAFI
      - CFDI
      - CMDT
      - DERI
      - DIVD
      - FREX
      - HEDG
      - INVS
      - PRME
      - SAVG
      - SECU
      - SEPI
      - TREA
      - UNIT
      - FNET
      - FUTR
      - ANTS
      - CVCF
      - DMEQ
      - DNTS
      - HLTC
      - HLTI
      - HSPC
      - ICRF
      - LTCF
      - MAFC
      - MARF
      - MDCS
      - VIEW
      - CDEP
      - SWFP
      - SWPP
      - SWRS
      - SWUF
      - ADCS
      - AEMP
      - ALLW
      - ALMY
      - BBSC
      - BECH
      - BENE
      - BONU
      - CCHD
      - COMM
      - CSLP
      - GFRP
      - GVEA
      - GVEB
      - GVEC
      - GVED
      - GWLT
      - HREC
      - PAYR
      - PEFC
      - PENS
      - PRCP
      - RHBS
      - SALA
      - SPSP
      - SSBE
      - LBIN
      - LCOL
      - LFEE
      - LMEQ
      - LMFI
      - LMRK
      - LREB
      - LREV
      - LSFL
      - ESTX
      - FWLV
      - GSTX
      - HSTX
      - INTX
      - NITX
      - PTXP
      - RDTX
      - TAXS
      - VATX
      - WHLD
      - TAXR
      - B112
      - BR12
      - TLRF
      - TLRR
      - AIRB
      - BUSB
      - FERB
      - RLWY
      - TRPT
      - CBTV
      - ELEC
      - ENRG
      - GASB
      - NWCH
      - NWCM
      - OTLC
      - PHON
      - UBIL
      - WTER
      - BOND
      - CABD
      - CAEQ
      - CBCR
      - DBCR
      - DICL
      - EQTS
      - FLCR
      - EFTC
      - EFTD
      - MOMA
      - RAPI
      - GAMB
      - LOTT
      - AMEX
      - SASW
      - AUCO
      - PCOM
      - PDEP
      - PLDS
      - PLRF
      - GAFA
      - GAHO
      - CPEN
      - DEPD
      - RETL
      - DEBT
    LEI:
      description: Legal entity identification as an alternate identification for a party. Legal Entity Identifier is a code allocated to a party as described in ISO 17442 Financial Services - Legal Entity Identifier (LEI).
      type: string
      example: IZ9Q00LZEVUKWCQY6X15
      minLength: 1
      maxLength: 20
      pattern: ^[A-Z0-9]{18,18}[0-9]{2,2}$
    OBTransaction6:
      description: Provides further details on an entry in the report.
      type: object
      additionalProperties: false
      required:
      - AccountId
      - CreditDebitIndicator
      - Status
      - BookingDateTime
      - Amount
      properties:
        AccountId:
          $ref: '#/components/schemas/AccountId'
        TransactionId:
          $ref: '#/components/schemas/TransactionId'
        TransactionReference:
          $ref: '#/components/schemas/TransactionReference'
        StatementReference:
          type: array
          items:
            $ref: '#/components/schemas/StatementReference'
        CreditDebitIndicator:
          $ref: '#/components/schemas/OBCreditDebitCode_1'
        Status:
          $ref: '#/components/schemas/ExternalEntryStatus1Code'
        TransactionMutability:
          $ref: '#/components/schemas/OBInternalTransactionMutability1Code'
        BookingDateTime:
          $ref: '#/components/schemas/BookingDateTime'
        ValueDateTime:
          $ref: '#/components/schemas/ValueDateTime'
        TransactionInformation:
          $ref: '#/components/schemas/TransactionInformation'
        AddressLine:
          $ref: '#/components/schemas/AddressLine'
        Amount:
          $ref: '#/components/schemas/OBActiveOrHistoricCurrencyAndAmount_9'
        ChargeAmount:
          $ref: '#/components/schemas/OBActiveOrHistoricCurrencyAndAmount_10'
        CurrencyExchange:
          $ref: '#/components/schemas/OBCurrencyExchange5'
        BankTransactionCode:
          $ref: '#/components/schemas/OBBankTransactionCodeStructure1'
        ProprietaryBankTransactionCode:
          $ref: '#/components/schemas/ProprietaryBankTransactionCodeStructure1'
        ExtendedProprietaryBankTransactionCodes:
          type: array
          items:
            $ref: '#/components/schemas/OBExtendedProprietaryBankTransactionCode'
        Balance:
          $ref: '#/components/schemas/OBTransactionCashBalance'
        MerchantDetails:
          $ref: '#/components/schemas/OBMerchantDetails1'
        CreditorAgent:
          $ref: '#/components/schemas/OBBranchAndFinancialInstitutionIdentification6_1'
        CreditorAccount:
          $ref: '#/components/schemas/OBCashAccount6_0'
        DebtorAgent:
          $ref: '#/components/schemas/OBBranchAndFinancialInstitutionIdentification6_2'
        DebtorAccount:
          $ref: '#/components/schemas/OBCashAccount6_1'
        CardInstrument:
          $ref: '#/components/schemas/OBTransactionCardInstrument1'
        SupplementaryData:
          $ref: '#/components/schemas/OBSupplementaryData1'
        CategoryPurposeCode:
          $ref: '#/components/schemas/ExternalCategoryPurpose1Code'
        PaymentPurposeCode:
          $ref: '#/components/schemas/OBExternalPurpose1Code'
        UltimateCreditor:
          $ref: '#/components/schemas/OBUltimateCreditor1'
        UltimateDebtor:
          $ref: '#/components/schemas/OBUltimateDebtor1'
    OBActiveOrHistoricCurrencyAndAmount_10:
      description: Transaction charges to be paid by the charge bearer.
      type: object
      required:
      - Amount
      - Currency
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_1'
    StatementReference:
      description: Unique reference for the statement. This reference may be optionally populated if available.
      type: string
      minLength: 1
      maxLength: 35
    OBBranchAndFinancialInstitutionIdentification6_1:
      description: Financial institution servicing an account for the creditor.
      type: object
      properties:
        SchemeName:
          $ref: '#/components/schemas/OBInternalFinancialInstitutionIdentification4Code'
        Identification:
          $ref: '#/components/schemas/Identification_2'
        Name:
          $ref: '#/components/schemas/Name_1'
        LEI:
          $ref: '#/components/schemas/LEI'
        PostalAddress:
          $ref: '#/components/schemas/OBPostalAddress7'
    Name_0:
      description: 'The account name is the name or names of the account owner(s) represented at an account level, as displayed by the ASPSP''s online channels. Note, the account name is not the product name or the nickname of the account.

        '
      type: string
      minLength: 1
      maxLength: 350
    SecondaryIdentification:
      description: 'This is secondary identification of the account, as assigned by the account servicing institution.  This can be used by building societies to additionally identify accounts with a roll number (in addition to a sort code and account number combination).

        '
      type: string
      minLength: 1
      maxLength: 34
    OBActiveOrHistoricCurrencyAndAmount_9:
      description: Amount of money in the cash transaction entry.
      type: object
      required:
      - Amount
      - Currency
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_1'
    OBTransactionCardInstrument1:
      description: Set of elements to describe the card instrument used in the transaction.
      type: object
      additionalProperties: false
      required:
      - CardSchemeName
      properties:
        CardSchemeName:
          description: Name of the card scheme.
          type: string
          enum:
          - AmericanExpress
          - Diners
          - Discover
          - MasterCard
          - VISA
        AuthorisationType:
          description: The card authorisation type.
          type: string
          enum:
          - ConsumerDevice
          - Contactless
          - None
          - PIN
        Name:
          description: Name of the cardholder using the card instrument.
          type: string
          minLength: 1
          maxLength: 70
        Identification:
          description: Identification assigned by an institution to identify the card instrument used in the transaction. This identification is known by the account owner, and may be masked.
          type: string
          minLength: 1
          maxLength: 34
    OBExtendedProprietaryBankTransactionCode:
      description: Additional proprietary bank transaction codes used by the ASPSP for the underlying transaction
      type: object
      required:
      - Code
      properties:
        Code:
          type: string
          description: Proprietary bank transaction code to identify the underlying transaction.
          minLength: 1
          maxLength: 35
        Issuer:
          type: string
          description: Identification of the issuer of the proprietary bank transaction code.
          minLength: 1
          maxLength: 35
        Description:
          type: string
          description: Description of the code and its usage on the ASPSP channel
          minLength: 1
          maxLength: 500
    OBPostalAddress7:
      description: Information that locates and identifies a specific address, as defined by postal services.
      type: object
      properties:
        AddressType:
          $ref: '#/components/schemas/OBAddressType2Code'
        Department:
          description: Identification of a division of a large organisation or building.
          type: string
          minLength: 1
          maxLength: 70
        SubDepartment:
          description: Identification of a sub-division of a large organisation or building.
          type: string
          minLength: 1
          maxLength: 70
        StreetName:
          $ref: '#/components/schemas/StreetName'
        BuildingNumber:
          $ref: '#/components/schemas/BuildingNumber'
        BuildingName:
          $ref: '#/components/schemas/BuildingName'
        Floor:
          $ref: '#/components/schemas/Floor'
        UnitNumber:
          $ref: '#/components/schemas/UnitNumber'
        Room:
          $ref: '#/components/schemas/Room'
        PostBox:
          $ref: '#/components/schemas/PostBox'
        TownLocationName:
          $ref: '#/components/schemas/TownName'
        DistrictName:
          $ref: '#/components/schemas/DistrictName'
        CareOf:
          $ref: '#/components/schemas/CareOf'
        PostCode:
          $ref: '#/components/schemas/PostCode'
        TownName:
          $ref: '#/components/schemas/TownName'
        CountrySubDivision:
          description: Identifies a subdivision of a country such as state, region, county.
          type: string
          minLength: 1
          maxLength: 35
        Country:
          description: Nation with its own government.
          type: string
          pattern: ^[A-Z]{2,2}$
        AddressLine:
          type: array
          minItems: 0
          maxItems: 7
          items:
            description: Information that locates and identifies a specific address, as defined by postal services, presented in free format text.
            type: string
            minLength: 1
            maxLength: 70
    OBCreditDebitCode_2:
      description: 'Indicates whether the balance is a credit or a debit balance.  Usage: A zero balance is considered to be a credit balance.

        '
      type: string
      enum:
      - Credit
      - Debit
    OBReadDataTransaction6:
      type: object
      additionalProperties: false
      properties:
        Transaction:
          type: array
          items:
            $ref: '#/components/schemas/OBTransaction6'
    ExternalCategoryPurpose1Code:
      description: Enumeration of codes that outlines the type of purpose behind a transaction, payment or risk.  For all enum values see `ExternalCategoryPurpose1Code` in *ISO_External_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      type: string
      enum:
      - BONU
      - CASH
      - CBLK
      - CCRD
      - CORT
      - DCRD
      - DIVI
      - DVPM
      - EPAY
      - FCIN
      - FCOL
      - GP2P
      - GOVT
      - HEDG
      - ICCP
      - IDCP
      - INTC
      - INTE
      - LBOX
      - LOAN
      - MP2B
      - MP2P
      - OTHR
      - PENS
      - RPRE
      - RRCT
      - RVPM
      - SALA
      - SECU
      - SSBE
      - SUPP
      - TAXS
      - TRAD
      - TREA
      - VATX
      - WHLD
      - SWEP
      - TOPG
      - ZABA
      - VOST
      - FCDT
      - CIPC
      - CONC
      - CGWV
    ValueDateTime:
      description: 'Date and time at which assets become available to the account owner in case of a credit entry, or cease to be available to the account owner in case of a debit transaction entry. Usage: If transaction entry status is pending and value date is present, then the value date refers to an expected/requested value date. For transaction entries subject to availability/float and for which availability information is provided, the value date must not be used. In this case the availability component identifies the number of availability days. All dates in the JSON payloads are represented in ISO 8601 date-time format.  All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00

        '
      type: string
      format: date-time
    ActiveOrHistoricCurrencyCode_1:
      description: A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 'Codes for the representation of currencies and funds'.
      type: string
      pattern: ^[A-Z]{3,3}$
    OBCashAccount6_0:
      description: Unambiguous identification of the account of the creditor, in the case of a debit transaction.
      type: object
      properties:
        SchemeName:
          $ref: '#/components/schemas/OBInternalAccountIdentification4Code'
        Identification:
          $ref: '#/components/schemas/Identification_0'
        Name:
          $ref: '#/components/schemas/Name_0'
        SecondaryIdentification:
          $ref: '#/components/schemas/SecondaryIdentification'
        Proxy:
          $ref: '#/components/schemas/OBProxy1'
    OBMerchantDetails1:
      description: Details of the merchant involved in the transaction.
      type: object
      properties:
        MerchantName:
          description: Name by which the merchant is known.
          type: string
          minLength: 1
          maxLength: 350
        MerchantCategoryCode:
          description: Category code conform to ISO 18245, related to the type of services or goods the merchant provides for the transaction.
          type: string
          minLength: 3
          maxLength: 4
    TransactionReference:
      description: Unique reference for the transaction. This reference is optionally populated, and may as an example be the FPID in the Faster Payments context.
      type: string
      minLength: 1
      maxLength: 210
  responses:
    400Error:
      description: Bad request
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
    503Error:
      description: Service temporary unavailable
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
    406Error:
      description: Not Acceptable
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
    403Error:
      description: Forbidden
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
    401Error:
      description: Unauthorized
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
    405Error:
      description: Method Not Allowed
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
    500Error:
      description: Internal Server Error
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
    429Error:
      description: Too Many Requests
      headers:
        Retry-After:
          description: Number in seconds to wait
          required: true
          schema:
            type: integer
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
    200AccountsAccountIdTransactionsRead:
      description: Transactions Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBReadTransaction6'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
