openapi: 3.2.0
info:
  title: Confirmation of Funds - UK OB Funds Confirmations API
  description: Verify account balance availability before payment.
  version: 4.0.0
servers:
- description: PROD Environment
  url: https://obp-api.danskebank.com/open-banking/v4.0/cbpii
tags:
- name: Funds Confirmations
paths:
  /funds-confirmation-consents:
    post:
      tags:
      - Funds Confirmations
      summary: Create Funds Confirmation Consent
      operationId: CreateFundsConfirmationConsents
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/x-fapi-auth-date'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address'
      - $ref: '#/components/parameters/x-fapi-interaction-id'
      - $ref: '#/components/parameters/x-customer-user-agent'
      requestBody:
        $ref: '#/components/requestBodies/OBFundsConfirmationConsent1Param'
      responses:
        '201':
          $ref: '#/components/responses/201FundsConfirmationConsentsCreated'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
        '503':
          $ref: '#/components/responses/503Error'
  /funds-confirmation-consents/{ConsentId}:
    get:
      tags:
      - Funds Confirmations
      summary: Get Funds Confirmation Consent
      operationId: GetFundsConfirmationConsentsConsentId
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/ConsentId'
      - $ref: '#/components/parameters/x-fapi-auth-date'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address'
      - $ref: '#/components/parameters/x-fapi-interaction-id'
      - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200FundsConfirmationConsentsConsentIdRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
        '503':
          $ref: '#/components/responses/503Error'
    delete:
      tags:
      - Funds Confirmations
      summary: Delete Funds Confirmation Consent
      operationId: DeleteFundsConfirmationConsentsConsentId
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/ConsentId'
      - $ref: '#/components/parameters/x-fapi-auth-date'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address'
      - $ref: '#/components/parameters/x-fapi-interaction-id'
      - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '204':
          $ref: '#/components/responses/204FundsConfirmationConsentsConsentIdDeleted'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
        '503':
          $ref: '#/components/responses/503Error'
  /funds-confirmations:
    post:
      tags:
      - Funds Confirmations
      summary: Create Funds Confirmation
      operationId: CreateFundsConfirmations
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/x-fapi-auth-date'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address'
      - $ref: '#/components/parameters/x-fapi-interaction-id'
      - $ref: '#/components/parameters/x-customer-user-agent'
      requestBody:
        $ref: '#/components/requestBodies/OBFundsConfirmation1Param'
      responses:
        '201':
          $ref: '#/components/responses/201FundsConfirmationsCreated'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
        '503':
          $ref: '#/components/responses/503Error'
components:
  schemas:
    OBFundsConfirmationResponse1:
      type: object
      additionalProperties: false
      required:
      - Data
      properties:
        Data:
          type: object
          required:
          - FundsConfirmationId
          - ConsentId
          - CreationDateTime
          - FundsAvailable
          - Reference
          - InstructedAmount
          properties:
            FundsConfirmationId:
              description: Unique identification as assigned by the ASPSP to uniquely identify the funds confirmation resource.
              type: string
              minLength: 1
              maxLength: 40
            ConsentId:
              description: Unique identification as assigned by the ASPSP to uniquely identify the funds confirmation consent resource.
              type: string
              minLength: 1
              maxLength: 128
            CreationDateTime:
              description: 'Date and time at which the resource was created. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00

                '
              type: string
              format: date-time
            FundsAvailable:
              description: Flag to indicate the result of a confirmation of funds check.
              type: boolean
            Reference:
              description: Unique reference, as assigned by the CBPII, to unambiguously refer to the request related to the payment transaction.
              type: string
              minLength: 1
              maxLength: 35
            InstructedAmount:
              description: Amount of money to be confirmed as available funds in the debtor account. Contains an Amount and a Currency.
              type: object
              required:
              - Amount
              - Currency
              properties:
                Amount:
                  description: A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
                  type: string
                  pattern: ^\d{1,13}$|^\d{1,13}\.\d{1,5}$
                Currency:
                  description: A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 'Codes for the representation of currencies and funds'.
                  type: string
                  pattern: ^[A-Z]{3,3}$
        Links:
          $ref: '#/components/schemas/Links'
        Meta:
          $ref: '#/components/schemas/Meta'
    Links:
      description: Links relevant to the payload
      type: object
      additionalProperties: false
      required:
      - Self
      properties:
        Self:
          type: string
          format: uri
        First:
          type: string
          format: uri
        Prev:
          type: string
          format: uri
        Next:
          type: string
          format: uri
        Last:
          type: string
          format: uri
    OBStatusReason:
      type: object
      properties:
        StatusReasonCode:
          type: string
          description: "Specifies the status reason in a code form. \n For a full list of values see `OBExternalStatusReason1Code` in *OB_Internal_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)"
          minLength: 1
          maxLength: 4
          example: ERIN
        StatusReasonDescription:
          description: Description supporting the StatusReasonCode.
          type: string
          minLength: 1
          maxLength: 500
        Path:
          type: string
          description: Optional reference to the JSON Path of the field when status reason refers to an object/field, e.g., Data.DebtorAccount.SchemeName
          minLength: 1
          maxLength: 500
    OBFundsConfirmationConsent1:
      type: object
      additionalProperties: false
      required:
      - Data
      properties:
        Data:
          type: object
          required:
          - DebtorAccount
          properties:
            ExpirationDateTime:
              description: 'Specified date and time the funds confirmation authorisation will expire. If this is not populated, the authorisation will be open ended. All dates in the JSON payloads are represented in ISO 8601 date-time format.  All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00

                '
              type: string
              format: date-time
            DebtorAccount:
              description: Unambiguous identification of the account of the debtor to which a confirmation of funds consent will be applied.
              type: object
              required:
              - SchemeName
              - Identification
              properties:
                SchemeName:
                  description: 'Name of the identification scheme, in a coded form as published in an external list. For a full list of values see `OBInternalAccountIdentification4Code` in *OB_Internal_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets) Note. Only UK.OBIE.IBAN and UK.OBIE.SortCodeAccountNumber are supported by Danske Bank

                    '
                  type: string
                  x-namespaced-enum:
                  - UK.OBIE.IBAN
                  - UK.OBIE.SortCodeAccountNumber
                Identification:
                  description: Identification assigned by an institution to identify an account. This identification is known by the account owner.
                  type: string
                  minLength: 1
                  maxLength: 256
                Name:
                  description: 'Name of the account, as assigned by the account servicing institution. Usage: The account name is the name or names of the account owner(s) represented at an account level. The account name is not the product name or the nickname of the account.

                    '
                  type: string
                  minLength: 1
                  maxLength: 350
                SecondaryIdentification:
                  description: 'This is secondary identification of the account, as assigned by the account servicing institution.  This can be used by building societies to additionally identify accounts with a roll number (in addition to a sort code and account number combination).

                    '
                  type: string
                  minLength: 1
                  maxLength: 34
                Proxy:
                  $ref: '#/components/schemas/OBProxy1'
    Meta:
      title: MetaData
      description: Meta Data relevant to the payload
      type: object
      additionalProperties: false
      properties:
        TotalPages:
          type: integer
          format: int32
        FirstAvailableDateTime:
          $ref: '#/components/schemas/ISODateTime'
        LastAvailableDateTime:
          $ref: '#/components/schemas/ISODateTime'
    OBError1:
      type: object
      minProperties: 1
      additionalProperties: false
      required:
      - ErrorCode
      properties:
        ErrorCode:
          $ref: '#/components/schemas/OBExternalStatusReason1Code'
        Message:
          description: 'A description of the error that occurred. e.g., ''A mandatory field isn''t supplied'' or ''RequestedExecutionDateTime must be in future'' OBIE doesn''t standardise this field

            '
          type: string
          minLength: 1
          maxLength: 500
        Path:
          description: Recommended but optional reference to the JSON Path of the field with error, e.g., Data.Initiation.InstructedAmount.Currency
          type: string
          minLength: 1
          maxLength: 500
        Url:
          description: URL to help remediate the problem, or provide more information, or to API Reference, or help etc
          type: string
    OBProxy1:
      description: Specifies an alternate assumed name for the identification of the account.
      type: object
      required:
      - Identification
      - Code
      properties:
        Identification:
          description: Identification used to indicate the account identification under another specified name.
          type: string
          minLength: 1
          maxLength: 2048
        Code:
          $ref: '#/components/schemas/ExternalProxyAccountType1Code'
        Type:
          type: string
          description: Type of the proxy identification.
          minLength: 1
          maxLength: 35
    OBErrorResponse1:
      description: An array of detail error codes, and messages, and URLs to documentation to help remediation.
      type: object
      additionalProperties: false
      required:
      - Errors
      properties:
        Id:
          description: A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.
          type: string
          minLength: 1
          maxLength: 40
        Errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/OBError1'
    OBFundsConfirmation1:
      type: object
      additionalProperties: false
      required:
      - Data
      properties:
        Data:
          type: object
          required:
          - ConsentId
          - Reference
          - InstructedAmount
          properties:
            ConsentId:
              description: Unique identification as assigned by the ASPSP to uniquely identify the funds confirmation consent resource.
              type: string
              minLength: 1
              maxLength: 128
            Reference:
              description: Unique reference, as assigned by the CBPII, to unambiguously refer to the request related to the payment transaction.
              type: string
              minLength: 1
              maxLength: 35
            InstructedAmount:
              description: Amount of money to be confirmed as available funds in the debtor account. Contains an Amount and a Currency.
              type: object
              required:
              - Amount
              - Currency
              properties:
                Amount:
                  description: A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
                  type: string
                  pattern: ^\d{1,13}$|^\d{1,13}\.\d{1,5}$
                Currency:
                  description: A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 'Codes for the representation of currencies and funds'.
                  type: string
                  pattern: ^[A-Z]{3,3}$
    OBExternalStatusReason1Code:
      description: Low level textual error code, for all enum values see `ExternalReturnReason1Code` [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      type: string
      minLength: 4
      maxLength: 4
      example: U001
    ISODateTime:
      description: 'All dates in the JSON payloads are represented in ISO 8601 date-time format.  All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00

        '
      type: string
      format: date-time
    OBFundsConfirmationConsentResponse1:
      type: object
      additionalProperties: false
      required:
      - Data
      properties:
        Data:
          type: object
          required:
          - ConsentId
          - CreationDateTime
          - Status
          - StatusUpdateDateTime
          - DebtorAccount
          properties:
            ConsentId:
              description: Unique identification as assigned to identify the funds confirmation consent resource.
              type: string
              minLength: 1
              maxLength: 128
            CreationDateTime:
              description: 'Date and time at which the resource was created. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00

                '
              type: string
              format: date-time
            Status:
              description: Specifies the status of consent resource in code form. For a full list of values refer to `OBInternalConsentStatus1Code` in *OB_Internal_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
              type: string
              enum:
              - Authorised
              - AwaitingAuthorisation
              - Rejected
              - Revoked
            StatusReason:
              type: array
              items:
                $ref: '#/components/schemas/OBStatusReason'
            StatusUpdateDateTime:
              description: 'Date and time at which the resource status was updated. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00

                '
              type: string
              format: date-time
            ExpirationDateTime:
              description: 'Specified date and time the funds confirmation authorisation will expire. If this is not populated, the authorisation will be open ended. All dates in the JSON payloads are represented in ISO 8601 date-time format. All date-time fields in responses must include the timezone. An example is below: 2017-04-05T10:43:07+00:00

                '
              type: string
              format: date-time
            DebtorAccount:
              description: Unambiguous identification of the account of the debtor to which a confirmation of funds consent will be applied.
              type: object
              required:
              - SchemeName
              - Identification
              properties:
                SchemeName:
                  description: 'Name of the identification scheme, in a coded form as published in an external list. For a full list of values refer to `OBInternalAccountIdentification4Code` in *OB_Internal_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets) Note. Only UK.OBIE.IBAN and UK.OBIE.SortCodeAccountNumber are supported by Danske Bank

                    '
                  type: string
                  x-namespaced-enum:
                  - UK.OBIE.IBAN
                  - UK.OBIE.SortCodeAccountNumber
                Identification:
                  description: Identification assigned by an institution to identify an account. This identification is known by the account owner.
                  type: string
                  minLength: 1
                  maxLength: 256
                Name:
                  description: 'Name of the account, as assigned by the account servicing institution. Usage: The account name is the name or names of the account owner(s) represented at an account level. The account name is not the product name or the nickname of the account.

                    '
                  type: string
                  minLength: 1
                  maxLength: 350
                SecondaryIdentification:
                  description: 'This is secondary identification of the account, as assigned by the account servicing institution. This can be used by building societies to additionally identify accounts with a roll number (in addition to a sort code and account number combination).

                    '
                  type: string
                  minLength: 1
                  maxLength: 34
                Proxy:
                  $ref: '#/components/schemas/OBProxy1'
        Links:
          $ref: '#/components/schemas/Links'
        Meta:
          $ref: '#/components/schemas/Meta'
    ExternalProxyAccountType1Code:
      description: Specifies the external proxy account type code, as published in the proxy account type external code set.<br > For a full list of values refer to `ExternalProxyAccountType1Code` in *ISO_External_CodeSet* [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      type: string
      enum:
      - TELE
      - EMAL
      - DNAM
      - CINC
      - COTX
      - COID
      - CUST
      - DRLC
      - EIDN
      - EWAL
      - PVTX
      - LEIC
      - MBNO
      - NIDN
      - CCPT
      - SHID
      - SOSE
      - TOKN
      - UBIL
      - VIPN
      - BIID
  responses:
    404Error:
      description: Not found
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
    400Error:
      description: Bad request
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
    503Error:
      description: Service temporary unavailable
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
    406Error:
      description: Not Acceptable
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
    201FundsConfirmationsCreated:
      description: Funds Confirmation Created
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBFundsConfirmationResponse1'
    403Error:
      description: Forbidden
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
    201FundsConfirmationConsentsCreated:
      description: Funds Confirmation Consent Created
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBFundsConfirmationConsentResponse1'
    405Error:
      description: Method Not Allowed
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
    500Error:
      description: Internal Server Error
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
    204FundsConfirmationConsentsConsentIdDeleted:
      description: Funds Confirmation Consent Deleted
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
    415Error:
      description: Unsupported Media Type
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
    200FundsConfirmationConsentsConsentIdRead:
      description: Funds Confirmation Consent Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBFundsConfirmationConsentResponse1'
    401Error:
      description: Unauthorized
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
    429Error:
      description: Too Many Requests
      headers:
        Retry-After:
          description: Number in seconds to wait
          required: true
          schema:
            type: integer
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
  parameters:
    x-customer-user-agent:
      name: x-customer-user-agent
      in: header
      description: Indicates the user-agent that the PSU is using.
      required: false
      schema:
        type: string
    ConsentId:
      name: ConsentId
      in: path
      description: ConsentId
      required: true
      schema:
        type: string
    x-fapi-auth-date:
      name: x-fapi-auth-date
      in: header
      description: 'The time when the PSU last logged in with the TPP.  All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:  Sun, 10 Sep 2017 19:43:31 UTC

        '
      required: false
      schema:
        type: string
        pattern: ^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$
    x-fapi-customer-ip-address:
      name: x-fapi-customer-ip-address
      in: header
      description: The PSU's IP address if the PSU is currently logged in with the TPP.
      required: false
      schema:
        type: string
    x-fapi-interaction-id:
      name: x-fapi-interaction-id
      in: header
      description: An RFC4122 UID used as a correlation id.
      required: false
      schema:
        type: string
  requestBodies:
    OBFundsConfirmationConsent1Param:
      description: Default
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBFundsConfirmationConsent1'
      required: true
    OBFundsConfirmation1Param:
      description: Default
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBFundsConfirmation1'
      required: true
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
